src/n8n/workflows/ai_summary/ai_summary_content_marketing.json
{
  "id": "AiSummaryContentMarketing",
  "name": "AI Summary Content Marketing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        112,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id AS post_id, content AS post_content, url AS post_url, published_at AS post_published_at\nFROM s_linkedin.ugc_posts\nWHERE published_at >= NOW() - INTERVAL '7 days'\nORDER BY published_at DESC;",
        "options": {}
      },
      "id": "get-latest-posts",
      "name": "Get Latest Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        336,
        304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT post_id, author AS like_author, published_at AS like_published_at\nFROM s_linkedin.social_action_likes\nWHERE published_at >= NOW() - INTERVAL '7 days'\nORDER BY published_at DESC;",
        "options": {}
      },
      "id": "get-post-likes",
      "name": "Get Post Likes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        560,
        304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT post_id, author AS comment_author, content AS comment_content, published_at AS comment_published_at\nFROM s_linkedin.social_action_comments\nWHERE published_at >= NOW() - INTERVAL '7 days'\nORDER BY published_at DESC;",
        "options": {}
      },
      "id": "get-post-comments",
      "name": "Get Post Comments",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT sender_name, recipient_name, sender_profile_url, content, sent_at\nFROM s_linkedin.messages\nWHERE sent_at >= NOW() - INTERVAL '7 days'\nORDER BY sent_at DESC;",
        "options": {}
      },
      "id": "get-recent-messages",
      "name": "Get Recent Messages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1008,
        304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT from_name, to_name, inviter_profile_url, invitee_profile_url, message, direction, sent_at\nFROM s_linkedin.all_invitations\nWHERE sent_at >= NOW() - INTERVAL '7 days'\nORDER BY sent_at DESC;",
        "options": {}
      },
      "id": "get-recent-invitations",
      "name": "Get Recent Invitations",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1232,
        304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 'comment' AS type, post_id, content, published_at\nFROM s_linkedin.all_comments\nWHERE published_at >= NOW() - INTERVAL '7 days'\nUNION ALL\nSELECT 'like' AS type, post_id, NULL AS content, published_at\nFROM s_linkedin.all_likes\nWHERE published_at >= NOW() - INTERVAL '7 days'\nORDER BY published_at DESC;",
        "options": {}
      },
      "id": "get-our-outbound-activity",
      "name": "Get Our Outbound Activity",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1456,
        304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT title AS post_title, url AS post_url, content AS post_content, published_at AS post_published_at\nFROM s_substack.posts\nWHERE feed_name = 'JimmyPang' \nORDER BY published_at DESC;",
        "options": {}
      },
      "id": "get-our-substack-posts",
      "name": "Get Our Substack Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1680,
        304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, channel, content, created_at\nFROM t_content_generation.linkedin_posts\nWHERE status = 'draft' AND is_approved = FALSE\nORDER BY created_at DESC;",
        "options": {}
      },
      "id": "get-unresolved-drafts",
      "name": "Get Unresolved Drafts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1780,
        500
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const maxStr = (str, limit = 5000) => {\n  if (!str) return '';\n  if (str.length <= limit) return str;\n  return str.substring(0, limit) + '... [TRUNCATED]';\n};\n\nconst postsRows = $('Get Latest Posts').all();\nconst likesRows = $('Get Post Likes').all();\nconst commentsRows = $('Get Post Comments').all();\nconst messagesRows = $('Get Recent Messages').all();\nconst invitationsRows = $('Get Recent Invitations').all();\nconst outboundRows = $('Get Our Outbound Activity').all();\nconst substackRows = $('Get Our Substack Posts').all();\n\nlet text = 'LINKEDIN & CONTENT MARKETING ACTIVITY REPORT FOR DON JIMMY\\n\\n';\nlet refMap = {};\nlet refCounter = 1;\n\n// 1. Map comments and likes to posts\nconst posts = {};\npostsRows.forEach(row => {\n  const p = row.json;\n  if (!p.post_id) return;\n  posts[p.post_id] = {\n    content: maxStr(p.post_content, 3000),\n    url: p.post_url,\n    published_at: p.post_published_at,\n    likes_count: 0,\n    comments: []\n  };\n});\n\nlikesRows.forEach(row => {\n  const l = row.json;\n  if (posts[l.post_id]) {\n    posts[l.post_id].likes_count++;\n  }\n});\n\ncommentsRows.forEach(row => {\n  const c = row.json;\n  if (posts[c.post_id]) {\n    posts[c.post_id].comments.push({\n      author: c.comment_author,\n      content: maxStr(c.comment_content, 1000),\n      published_at: c.comment_published_at\n    });\n  }\n});\n\n// 2. Format Posts & Comments Received\ntext += '=== LATEST PUBLISHED POSTS & INBOUND ENGAGEMENT ===\\n';\nif (Object.keys(posts).length === 0) {\n  text += 'No posts published in the last 7 days.\\n\\n';\n} else {\n  Object.entries(posts).forEach(([pId, post]) => {\n    const refId = refCounter++;\n    const snippet = (post.content || '').substring(0, 40).replace(/\\n/g, ' ') || 'LinkedIn Post';\n    refMap[String(refId)] = { title: snippet, url: post.url || '' };\n\n    text += `[Post #${refId}] | Likes Received: ${post.likes_count} | Published: ${post.published_at}\\n`;\n    text += `Content: ${post.content || 'No content'}\\n`;\n    if (post.comments.length > 0) {\n      text += `Comments Received:\\n`;\n      post.comments.forEach(comment => {\n        text += `  - by ${comment.author}: ${comment.content}\\n`;\n      });\n    }\n    text += '\\n';\n  });\n}\n\n// 3. Format Outbound Activity\ntext += '=== OUTBOUND ENGAGEMENT (My Likes & Comments on LinkedIn) ===\\n';\nif (outboundRows.length === 0 || !outboundRows[0].json.type) {\n  text += 'No outbound likes or comments in the last 7 days.\\n\\n';\n} else {\n  outboundRows.forEach(row => {\n    const act = row.json;\n    if (act.type === 'comment') {\n      text += `- Commented on post (ID: ${act.post_id}) at ${act.published_at}: \\\"${maxStr(act.content, 1000)}\\\"\\n`;\n    } else {\n      text += `- Liked post (ID: ${act.post_id}) at ${act.published_at}\\n`;\n    }\n  });\n  text += '\\n';\n}\n\n// 4. Format Messages\ntext += '=== DIRECT MESSAGES (Last 7 Days) ===\\n';\nif (messagesRows.length === 0 || !messagesRows[0].json.sender_name) {\n  text += 'No new inbox messages.\\n\\n';\n} else {\n  messagesRows.forEach(row => {\n    const msg = row.json;\n    text += `From: ${msg.sender_name} (Profile URL: ${msg.sender_profile_url || 'N/A'}) | To: ${msg.recipient_name} | Sent: ${msg.sent_at}\\n`;\n    text += `Message: ${maxStr(msg.content, 2000) || 'No content'}\\n\\n`;\n  });\n}\n\n// 5. Format Connection Requests\ntext += '=== CONNECTION INVITATIONS (Last 7 Days) ===\\n';\nif (invitationsRows.length === 0 || !invitationsRows[0].json.from_name) {\n  text += 'No new connection requests.\\n\\n';\n} else {\n  invitationsRows.forEach(row => {\n    const invite = row.json;\n    const profileUrl = invite.direction === 'INCOMING' ? invite.inviter_profile_url : invite.invitee_profile_url;\n    text += `Direction: ${invite.direction} | From: ${invite.from_name} (Profile URL: ${profileUrl || 'N/A'}) | To: ${invite.to_name} | Sent: ${invite.sent_at}\\n`;\n    if (invite.message) {\n      text += `Personal Note: ${invite.message}\\n`;\n    }\n    text += '\\n';\n  });\n}\n\n// 6. Format Substack Posts\ntext += '=== OUR SUBSTACK BLOG POSTS (Last 7 Days) ===\\n';\nif (substackRows.length === 0 || !substackRows[0].json.post_title) {\n  text += 'No Substack posts published in the last 7 days.\\n\\n';\n} else {\n  substackRows.forEach(row => {\n    const post = row.json;\n    text += `- Title: ${post.post_title} | Published: ${post.post_published_at} | URL: ${post.post_url || 'N/A'}\\n`;\n    if (post.post_content) {\n      text += `  Content: ${maxStr(post.post_content, 6000)}\\n`;\n    }\n  });\n  text += '\\n';\n}\n\nconst fs = require('fs');\nlet persona = '';\ntry {\n  persona = fs.readFileSync('/etc/n8n/agents/giusy.md', 'utf8');\n} catch (e) {\n  persona = 'Warm, brilliant AI Marketing Director named Giusy.';\n}\n\nlet strategy = '';\ntry {\n  strategy = fs.readFileSync('/etc/n8n/workflows/prompts/content_strategy.md', 'utf8');\n} catch (e) {\n  strategy = '';\n}\n\nlet positioning = '';\ntry {\n  positioning = fs.readFileSync('/etc/n8n/workflows/prompts/usp_market_positioning.md', 'utf8');\n} catch (e) {\n  positioning = '';\n}\n\nconst commentsList = [];\ncommentsRows.forEach(row => {\n  const c = row.json;\n  const parentPost = posts[c.post_id];\n  if (c.comment_content && parentPost && parentPost.url) {\n    commentsList.push({\n      author: c.comment_author,\n      content: maxStr(c.comment_content, 1000),\n      post_url: parentPost.url\n    });\n  }\n});\n\nconst messagesList = [];\nmessagesRows.forEach(row => {\n  const m = row.json;\n  if (m.sender_name && m.sender_profile_url) {\n    messagesList.push({\n      sender_name: m.sender_name,\n      sender_profile_url: m.sender_profile_url\n    });\n  }\n});\n\nconst invitationsList = [];\ninvitationsRows.forEach(row => {\n  const inv = row.json;\n  if (inv.direction === 'INCOMING' && inv.from_name && inv.inviter_profile_url) {\n    invitationsList.push({\n      from_name: inv.from_name,\n      inviter_profile_url: inv.inviter_profile_url\n    });\n  } else if (inv.direction === 'OUTGOING' && inv.to_name && inv.invitee_profile_url) {\n    invitationsList.push({\n      from_name: inv.to_name,\n      inviter_profile_url: inv.invitee_profile_url\n    });\n  }\n});\n\nreturn [{ json: { text: text.substring(0, 500000), ref_map: refMap, giusy_persona: persona, content_strategy: strategy, usp_positioning: positioning, comments_list: commentsList, messages_list: messagesList, invitations_list: invitationsList } }];"
      },
      "id": "format-data-for-llm",
      "name": "Format Data for LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        304
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "={{ $env.OLLAMA_CLOUD_MODEL || 'gemma3:4b' }}",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=### LANGUAGE RULE ###\nWrite everything in ENGLISH. One Italian greeting at the start (e.g. Buongiorno Don Jimmy 💡) and one Italian sign-off at the end (e.g. Buon lavoro). All content in between: ENGLISH.\n\n### YOUR PERSONA & CONTEXT ###\n{{ $json.giusy_persona }}\n\n### CONTENT STRATEGY & GUIDELINES ###\n{{ $json.content_strategy }}\n\n### USP & MARKET POSITIONING ###\n{{ $json.usp_positioning }}\n\n### YOUR TASK ###\nAnalyze the LinkedIn performance (inbound posts & comments received, outbound comments/likes made, messages, and connection requests) and our recent Substack blog posts below. Provide a marketing critique to maximize impressions, engagement, and conversion. Return a JSON object with this exact structure — no extra text, no markdown fences, just raw JSON:\n\n{\n  \"greeting\": \"One short warm Italian greeting line for Don Jimmy\",\n  \"outbound_activity_critique\": {\n    \"overview\": \"A short high-level overview comment evaluating our outbound commenting and liking activity. E.g., 'Our commenting and liking activity has been sporadic and focused primarily on agreeing with the sentiment of the posts, without always offering substantial insights or driving meaningful conversations.'\",\n    \"bulletpoints\": [\n      \"We need to be more proactive in asking questions and stimulating discussion to increase our profile's engagement and perceived value.\",\n      \"Another specific observation or critique point about outbound activity.\"\n    ]\n  },\n  \"inbox_and_leads_analysis\": {\n    \"overview\": \"A short high-level overview comment of recent direct messages and connection requests. E.g., 'The recent direct messages primarily consist of connection requests from individuals in data science and AI roles, suggesting a potential pool of leads interested in Don Jimmy’s expertise.'\",\n    \"bulletpoints\": [\n      \"One message, from a Dr. Anya Sharma, appears to be a more detailed inquiry about data governance frameworks, indicating a potentially higher-value lead.\",\n      \"Another specific detail or observation about messages/invitations.\"\n    ]\n  },\n  \"community_and_lead_actions\": [\n    {\n      \"type\": \"Comment Reply / Message Follow-up / Invitation Acceptance\",\n      \"target\": \"Name of the person (commenter, sender, or inviter)\",\n      \"actionable_reply\": \"Specific suggested text/draft or action for Don Jimmy to reply to keep the thread alive or follow up on a lead.\"\n    }\n  ],\n  \"strategic_writing_directives\": [\n    \"Specific writing directives and recommendations for future LinkedIn writing (including critiques of recent posts, tactical suggestions on hook structures, post length, formatting, and how to repurpose recent Substack blog posts for LinkedIn)\"\n  ],\n  \"signoff\": \"One short warm Italian sign-off line\"\n}\n\nRules:\n- Output only valid JSON. No explanation, no markdown, no code fences.\n- Whenever mentioning anyone from LinkedIn (e.g. connection senders, message senders, or commenters), always include their LinkedIn profile URL next to their name or format their name with their profile URL if available in the source data.\n\n### LINKEDIN DATA ###\n{{ $json.text }}"
            }
          ]
        },
        "options": {
          "format": "json"
        }
      },
      "id": "Summarize via Ollama Cloud",
      "name": "Summarize via Ollama Cloud",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        2128,
        304
      ],
      "credentials": {
        "ollamaApi": {
          "id": "ollama-cloud-api",
          "name": "Ollama Cloud API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.content || $input.first().json.response || '';\nconst refMap = $('Format Data for LLM').first().json.ref_map || {};\nconst commentsList = $('Format Data for LLM').first().json.comments_list || [];\nconst messagesList = $('Format Data for LLM').first().json.messages_list || [];\nconst invitationsList = $('Format Data for LLM').first().json.invitations_list || [];\nconst draftRows = $('Get Unresolved Drafts').all();\n\nlet jsonStr = raw.trim();\nconst firstBrace = jsonStr.indexOf('{');\nconst lastBrace = jsonStr.lastIndexOf('}');\nif (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) {\n  jsonStr = jsonStr.substring(firstBrace, lastBrace + 1);\n}\n\njsonStr = jsonStr.replace(/[\\u201C\\u201D\\u201E\\u201F\\u2033\\u2036]/g, '\"');\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  try {\n    const cleanedStr = jsonStr.replace(/,\\s*([}\\]])/g, '$1');\n    parsed = JSON.parse(cleanedStr);\n  } catch (err) {\n    return [{ json: { response: raw } }];\n  }\n}\n\nconst greeting = parsed.greeting || '';\nconst signoff = parsed.signoff || '';\nconst outbound = parsed.outbound_activity_critique || {};\nconst inbox = parsed.inbox_and_leads_analysis || {};\nconst communityActions = Array.isArray(parsed.community_and_lead_actions) ? parsed.community_and_lead_actions : [];\nconst strategicDirectives = Array.isArray(parsed.strategic_writing_directives) ? parsed.strategic_writing_directives : [];\n\nfunction addSlackLinks(text) {\n  let linkedText = text;\n\n  // Replace double asterisks (standard markdown bolding) with single asterisks (Slack bolding)\n  linkedText = linkedText.replaceAll('**', '*');\n\n  // 1. Link comments (exact match or substring)\n  commentsList.forEach(item => {\n    if (item.content && item.post_url && item.content.length > 5) {\n      if (linkedText.includes(item.content)) {\n        linkedText = linkedText.replaceAll(item.content, `<${item.post_url}|${item.content}>`);\n      } else {\n        const snippet = item.content.trim();\n        if (snippet.length > 10 && linkedText.includes(snippet)) {\n          linkedText = linkedText.replaceAll(snippet, `<${item.post_url}|${snippet}>`);\n        }\n      }\n    }\n  });\n\n  // 2. Link invitation sender names to their profile URLs\n  invitationsList.forEach(item => {\n    if (item.from_name && item.inviter_profile_url) {\n      const escapedName = item.from_name.replace(/[-\\/\\\\^$*+?.()|[\\]{}]/g, '\\\\$&');\n      const regex = new RegExp(`(?<!\\\\|<[^>]*)${escapedName}(?![^<]*\\\\|)`, 'g');\n      linkedText = linkedText.replace(regex, `<${item.inviter_profile_url}|${item.from_name}>`);\n    }\n  });\n\n  // 3. Link message sender names to their profile URLs\n  messagesList.forEach(item => {\n    if (item.sender_name && item.sender_profile_url) {\n      const escapedName = item.sender_name.replace(/[-\\/\\\\^$*+?.()|[\\]{}]/g, '\\\\$&');\n      const regex = new RegExp(`(?<!\\\\|<[^>]*)${escapedName}(?![^<]*\\\\|)`, 'g');\n      linkedText = linkedText.replace(regex, `<${item.sender_profile_url}|${item.sender_name}>`);\n    }\n  });\n\n  return linkedText;\n}\n\nconst outputs = [];\n\n// 1. Outbound Activity Critique\nif (outbound && (outbound.overview || (Array.isArray(outbound.bulletpoints) && outbound.bulletpoints.length > 0))) {\n  let outboundMsg = '';\n  if (greeting) {\n    outboundMsg += `${greeting}\\n\\n`;\n  }\n  outboundMsg += `🧭 *1. Outbound Activity Critique* 🧭\\n`;\n  if (outbound.overview) {\n    outboundMsg += `${outbound.overview}\\n\\n`;\n  }\n  if (Array.isArray(outbound.bulletpoints) && outbound.bulletpoints.length > 0) {\n    outbound.bulletpoints.forEach(bullet => {\n      outboundMsg += `• ${bullet}\\n`;\n    });\n  }\n  outputs.push({ json: { response: addSlackLinks(outboundMsg.trim()) } });\n}\n\n// 2. Inbox & Leads Analysis\nif (inbox && (inbox.overview || (Array.isArray(inbox.bulletpoints) && inbox.bulletpoints.length > 0))) {\n  let inboxMsg = `📥 *2. Inbox & Leads Analysis* 📥\\n`;\n  if (inbox.overview) {\n    inboxMsg += `${inbox.overview}\\n\\n`;\n  }\n  if (Array.isArray(inbox.bulletpoints) && inbox.bulletpoints.length > 0) {\n    inbox.bulletpoints.forEach(bullet => {\n      inboxMsg += `• ${bullet}\\n`;\n    });\n  }\n  outputs.push({ json: { response: addSlackLinks(inboxMsg.trim()) } });\n}\n\n// 3. Community & Lead Actions\nif (communityActions.length > 0) {\n  let communityMsg = `🤝 *3. Community & Lead Actions* 🤝\\n`;\n  communityActions.forEach(action => {\n    communityMsg += `• *${action.type || 'Action'}* with *${action.target || 'Community'}*:\\n  _\"${action.actionable_reply}\"_\\n`;\n  });\n  outputs.push({ json: { response: addSlackLinks(communityMsg.trim()) } });\n}\n\n// 4. Strategic Writing Directives\nif (strategicDirectives.length > 0) {\n  let strategicMsg = `✍️ *4. Strategic Writing Directives* ✍️\\n`;\n  strategicDirectives.forEach(rec => {\n    strategicMsg += `• ${rec}\\n`;\n  });\n  if (signoff) {\n    strategicMsg += `\\n${signoff}`;\n  }\n  outputs.push({ json: { response: addSlackLinks(strategicMsg.trim()) } });\n} else if (signoff) {\n  outputs.push({ json: { response: addSlackLinks(signoff) } });\n}\n\n// 5. Unresolved Content Drafts\nif (draftRows && draftRows.length > 0 && draftRows[0].json.id) {\n  let draftsMsg = `📝 *5. Unresolved Content Drafts* 📝\\n\\n`;\n  draftRows.forEach(row => {\n    const draft = row.json;\n    if (draft.id) {\n      const snippet = draft.content ? draft.content.substring(0, 100).replace(/\\n/g, ' ') + '...' : 'No content';\n      draftsMsg += `• *Draft ID:* ${draft.id} | *Channel:* ${draft.channel || 'individual'}\\n  _\"${snippet}\"_\\n\\n`;\n    }\n  });\n  outputs.push({ json: { response: draftsMsg.trim() } });\n}\n\nreturn outputs;"
      },
      "id": "build-slack-message",
      "name": "Build Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        304
      ]
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_MARKETING_CHANNEL || 'content' }}",
        "text": "={{ $json.response }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "post-to-slack",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        2704,
        304
      ],
      "credentials": {
        "slackApi": {
          "id": "slack-giusy-cred",
          "name": "Slack Giusy Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Latest Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Latest Posts": {
      "main": [
        [
          {
            "node": "Get Post Likes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Post Likes": {
      "main": [
        [
          {
            "node": "Get Post Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Post Comments": {
      "main": [
        [
          {
            "node": "Get Recent Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Messages": {
      "main": [
        [
          {
            "node": "Get Recent Invitations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Invitations": {
      "main": [
        [
          {
            "node": "Get Our Outbound Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Our Outbound Activity": {
      "main": [
        [
          {
            "node": "Get Our Substack Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Our Substack Posts": {
      "main": [
        [
          {
            "node": "Get Unresolved Drafts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unresolved Drafts": {
      "main": [
        [
          {
            "node": "Format Data for LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data for LLM": {
      "main": [
        [
          {
            "node": "Summarize via Ollama Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize via Ollama Cloud": {
      "main": [
        [
          {
            "node": "Build Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Message": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Slack": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
