src/n8n/workflows/ai_summary/ai_summary_substack.json
{
  "id": "AiSummarySubstack",
  "name": "AI Summary Substack",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                6
              ],
              "triggerAtHour": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        112,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  f.name AS feed_name,\n  f.active AS feed_active,\n  p.id AS post_id,\n  p.title AS post_title,\n  p.content AS post_content,\n  p.author AS post_author,\n  p.url AS post_url,\n  p.published_at AS post_published_at\nFROM s_substack.feeds_monitored f\nLEFT JOIN s_substack.posts p ON p.feed_id = f.id AND p.published_at >= NOW() - INTERVAL '7 days'\nWHERE f.active = TRUE\nORDER BY f.name, p.published_at DESC;",
        "options": {}
      },
      "id": "get-latest-posts",
      "name": "Get Latest Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        336,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nif (rows.length === 0 || !rows[0].json.feed_name) {\n  return [{ json: { text: 'No monitored feeds or posts found.', post_ids: [], ref_map: {} } }];\n}\n\nconst publications = {};\nconst postIds = new Set();\n\nrows.forEach(row => {\n  const data = row.json;\n  const feedName = data.feed_name;\n  if (!publications[feedName]) {\n    publications[feedName] = [];\n  }\n  if (data.post_id) {\n    postIds.add(data.post_id);\n    publications[feedName].push({\n      id: data.post_id,\n      title: data.post_title,\n      content: data.post_content,\n      author: data.post_author,\n      url: data.post_url,\n      published_at: data.post_published_at\n    });\n  }\n});\n\n// Assign sequential numbers to every post for the LLM to reference\nconst refMap = {};\nlet refCounter = 1;\n\nlet text = 'Substack posts to summarize (each has an id number):\\n\\n';\n\nfor (const [feedName, posts] of Object.entries(publications)) {\n  if (posts.length === 0) continue;\n\n  text += `Publication: ${feedName}\\n`;\n  posts.forEach(post => {\n    const refId = refCounter++;\n    refMap[String(refId)] = { title: post.title || 'Post', url: post.url || '', feed_name: feedName };\n\n    text += `  id:${refId} | ${post.title || 'No Title'} (by ${post.author || 'unknown'})\\n`;\n    text += `  Content: ${(post.content || '').substring(0, 500)}\\n\\n`;\n  });\n}\n\nconst fs = require('fs');\nlet persona = '';\ntry {\n  persona = fs.readFileSync('/etc/n8n/agents/bella.md', 'utf8');\n} catch (e) {\n  persona = 'Warm, charming Italian secretary named Bella.';\n}\n\nlet strategy = '';\ntry {\n  strategy = fs.readFileSync('/etc/n8n/workflows/prompts/content_strategy.md', 'utf8');\n} catch (e) {\n  strategy = '';\n}\n\nlet positioning = '';\ntry {\n  positioning = fs.readFileSync('/etc/n8n/workflows/prompts/usp_market_positioning.md', 'utf8');\n} catch (e) {\n  positioning = '';\n}\n\nreturn [{ json: { text, post_ids: Array.from(postIds), ref_map: refMap, bella_persona: persona, content_strategy: strategy, usp_positioning: positioning } }];"
      },
      "id": "format-posts-for-llm",
      "name": "Format Posts for LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        304
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "={{ $env.OLLAMA_CLOUD_MODEL || 'gemma3:4b' }}",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=### LANGUAGE RULE ###\nWrite everything in ENGLISH. One Italian greeting at the start (e.g. Caro Don Jimmy 💋) and one Italian sign-off at the end (e.g. Un grande abbraccio). All content in between: ENGLISH.\n\n### YOUR PERSONA ###\n{{ $json.bella_persona }}\n\n### DON JIMMY'S CONTENT STRATEGY & USP POSITIONING ###\n{{ $json.content_strategy }}\n\n{{ $json.usp_positioning }}\n\n### YOUR TASK ###\nRead the Substack posts below and return a JSON object with this exact structure — no extra text, no markdown fences, just raw JSON:\n\n{\n  \"greeting\": \"One short warm Italian greeting line for Don Jimmy\",\n  \"summaries\": [\n    {\n      \"post_id\": 1,\n      \"summary\": \"1-2 sentence English summary of this specific post's key content or update, highlighting items that might be relevant to Don Jimmy's background or Data Biz's positioning.\"\n    }\n  ],\n  \"signoff\": \"One short warm Italian sign-off line\"\n}\n\nRules:\n- Every item in \"summaries\" must map to the corresponding post_id number from the data.\n- Do not skip posts if possible, but keep summaries concise and clear.\n- Output only valid JSON. No explanation, no markdown, no code fences.\n\n### SUBSTACK DATA ###\n{{ $json.text }}"
            }
          ]
        },
        "options": {
          "format": "json"
        }
      },
      "id": "summarize-via-ollama-cloud",
      "name": "Summarize via Ollama Cloud",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        784,
        304
      ],
      "credentials": {
        "ollamaApi": {
          "id": "ollama-cloud-api",
          "name": "Ollama Cloud API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.content || $input.first().json.response || '';\nconst refMap = $('Format Posts for LLM').first().json.ref_map || {};\n\nlet jsonStr = raw.trim();\nconst firstBrace = jsonStr.indexOf('{');\nconst lastBrace = jsonStr.lastIndexOf('}');\nif (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) {\n  jsonStr = jsonStr.substring(firstBrace, lastBrace + 1);\n}\n\njsonStr = jsonStr.replace(/[\\u201C\\u201D\\u201E\\u201F\\u2033\\u2036]/g, '\"');\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  try {\n    const cleanedStr = jsonStr.replace(/,\\s*([}\\]])/g, '$1');\n    parsed = JSON.parse(cleanedStr);\n  } catch (err) {\n    return [{ json: { response: raw } }];\n  }\n}\n\nconst greeting = parsed.greeting || '';\nconst signoff = parsed.signoff || '';\nconst summaries = Array.isArray(parsed.summaries) ? parsed.summaries : [];\n\nconst summaryMap = {};\nsummaries.forEach(s => {\n  if (s.post_id) {\n    summaryMap[String(s.post_id)] = s.summary;\n  }\n});\n\nconst publications = {};\nfor (const [id, ref] of Object.entries(refMap)) {\n  const feedName = ref.feed_name || 'Other';\n  if (!publications[feedName]) {\n    publications[feedName] = [];\n  }\n  const summary = summaryMap[id] || 'No summary available.';\n  publications[feedName].push({\n    title: ref.title,\n    url: ref.url,\n    summary: summary\n  });\n}\n\nlet msg = '';\nif (greeting) msg += `${greeting}\\n\\n`;\nmsg += '✨ *Substack Readings Summary* ✨\\n\\n';\n\nlet count = 0;\nfor (const [feedName, posts] of Object.entries(publications)) {\n  if (posts.length === 0) continue;\n  msg += `*${feedName}*\\n`;\n  posts.forEach(post => {\n    msg += `• <${post.url}|${post.title}>: ${post.summary}\\n`;\n    count++;\n  });\n  msg += '\\n';\n}\n\nif (count === 0) {\n  msg += 'No new posts to summarize today.\\n\\n';\n}\n\nif (signoff) msg += `${signoff}`;\n\nreturn [{ json: { response: msg.trim() } }];"
      },
      "id": "build-slack-message",
      "name": "Build Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        304
      ]
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_READINGS_CHANNEL || 'Readings' }}",
        "text": "=🤖 *Weekly Substack Summary Report* 🤖\n\n{{ $('Build Slack Message').first().json.response }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "post-to-slack",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1360,
        304
      ],
      "credentials": {
        "slackApi": {
          "id": "slack-api-cred",
          "name": "Slack API Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Latest Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Latest Posts": {
      "main": [
        [
          {
            "node": "Format Posts for LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Posts for LLM": {
      "main": [
        [
          {
            "node": "Summarize via Ollama Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize via Ollama Cloud": {
      "main": [
        [
          {
            "node": "Build Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Message": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Slack": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
