src/n8n/workflows/data_ingestion/olap/motherduck_data_ingestion_jager.json
{
  "id": "motherduck-data-ingestion-jager",
  "name": "MotherDuck Data Ingestion - Jager",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -112,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE SCHEMA IF NOT EXISTS s_zernio;\nCREATE SCHEMA IF NOT EXISTS s_buffer;\nCREATE SCHEMA IF NOT EXISTS s_linkedin;",
        "options": {}
      },
      "id": "create-schemas",
      "name": "Create Schemas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        336,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "motherduck-db",
          "name": "Motherduck OLAP Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS s_zernio.linkedin_posts (\n  id VARCHAR(255) PRIMARY KEY,\n  content TEXT,\n  url VARCHAR(2048),\n  published_at TIMESTAMP,\n  fetched_at TIMESTAMP\n);\n\nCREATE TABLE IF NOT EXISTS s_zernio.linkedin_post_analytics (\n  post_id VARCHAR(255) PRIMARY KEY,\n  impressions INTEGER,\n  likes INTEGER,\n  comments INTEGER,\n  shares INTEGER,\n  clicks INTEGER,\n  saves INTEGER,\n  sends INTEGER,\n  fetched_at TIMESTAMP\n);\n\nCREATE TABLE IF NOT EXISTS s_zernio.linkedin_account_analytics (\n  account_id VARCHAR(255) PRIMARY KEY,\n  platform VARCHAR(50),\n  username VARCHAR(255),\n  impressions INTEGER,\n  members_reached INTEGER,\n  reactions INTEGER,\n  comments INTEGER,\n  reshares INTEGER,\n  post_saves INTEGER,\n  post_sends INTEGER,\n  fetched_at TIMESTAMP\n);\n\nCREATE TABLE IF NOT EXISTS s_zernio.linkedin_follower_stats_timeline (\n  account_id VARCHAR(255),\n  date DATE,\n  followers_count INTEGER,\n  growth INTEGER,\n  growth_percentage DECIMAL(5,2),\n  fetched_at TIMESTAMP,\n  PRIMARY KEY (account_id, date)\n);\n\nCREATE TABLE IF NOT EXISTS s_zernio.linkedin_post_timeline (\n  post_id VARCHAR(255),\n  date DATE,\n  impressions INTEGER,\n  reach INTEGER,\n  likes INTEGER,\n  comments INTEGER,\n  shares INTEGER,\n  saves INTEGER,\n  clicks INTEGER,\n  views INTEGER,\n  fetched_at TIMESTAMP,\n  PRIMARY KEY (post_id, date)\n);\n\nCREATE TABLE IF NOT EXISTS s_zernio.linkedin_content_decay (\n  platform VARCHAR(50),\n  bucket_order INTEGER,\n  bucket_label VARCHAR(50),\n  avg_pct_of_final DECIMAL(5,2),\n  post_count INTEGER,\n  fetched_at TIMESTAMP,\n  PRIMARY KEY (platform, bucket_order)\n);\n\nCREATE TABLE IF NOT EXISTS s_buffer.channels (\n  id VARCHAR(255) PRIMARY KEY,\n  name VARCHAR(255),\n  service VARCHAR(100),\n  organization_id VARCHAR(255),\n  active BOOLEAN,\n  created_at TIMESTAMP,\n  updated_at TIMESTAMP\n);\n\nCREATE TABLE IF NOT EXISTS s_buffer.posts (\n  id VARCHAR(255) PRIMARY KEY,\n  text TEXT,\n  channel_id VARCHAR(255),\n  due_at TIMESTAMP,\n  status VARCHAR(50),\n  assets VARCHAR,\n  metrics VARCHAR,\n  reactions INTEGER,\n  comments INTEGER,\n  shares INTEGER,\n  reposts INTEGER,\n  clicks INTEGER,\n  reach INTEGER,\n  impressions INTEGER,\n  views INTEGER,\n  engagement_rate DECIMAL(10,2),\n  created_at TIMESTAMP,\n  updated_at TIMESTAMP,\n  processed INTEGER\n);\n\nCREATE TABLE IF NOT EXISTS s_linkedin.ugc_posts (\n  id VARCHAR(255) PRIMARY KEY,\n  author VARCHAR(255),\n  content TEXT,\n  url VARCHAR(2048),\n  published_at TIMESTAMP,\n  processed INTEGER DEFAULT 0\n);\n\nCREATE TABLE IF NOT EXISTS s_linkedin.social_action_likes (\n  id VARCHAR(255) PRIMARY KEY,\n  post_id VARCHAR(255) NOT NULL,\n  author VARCHAR(255),\n  published_at TIMESTAMP,\n  processed INTEGER DEFAULT 0\n);\n\nCREATE TABLE IF NOT EXISTS s_linkedin.social_action_comments (\n  id VARCHAR(255) PRIMARY KEY,\n  post_id VARCHAR(255) NOT NULL,\n  author VARCHAR(255),\n  content TEXT,\n  published_at TIMESTAMP,\n  processed INTEGER DEFAULT 0\n);\n\nCREATE TABLE IF NOT EXISTS s_linkedin.all_comments (\n  id VARCHAR(255) PRIMARY KEY,\n  post_id VARCHAR(255) NOT NULL,\n  author VARCHAR(255),\n  content TEXT,\n  published_at TIMESTAMP,\n  updated_at TIMESTAMP,\n  processed INTEGER DEFAULT 0\n);\n\nCREATE TABLE IF NOT EXISTS s_linkedin.all_likes (\n  id VARCHAR(255) PRIMARY KEY,\n  post_id VARCHAR(255) NOT NULL,\n  author VARCHAR(255),\n  published_at TIMESTAMP,\n  updated_at TIMESTAMP,\n  processed INTEGER DEFAULT 0\n);\n\nCREATE TABLE IF NOT EXISTS s_linkedin.invitations (\n  id VARCHAR(255) PRIMARY KEY,\n  to_name VARCHAR(255),\n  from_name VARCHAR(255),\n  direction VARCHAR(50),\n  inviter_profile_url VARCHAR(2048),\n  invitee_profile_url VARCHAR(2048),\n  message TEXT,\n  sent_at TIMESTAMP,\n  processed INTEGER DEFAULT 0\n);\n\nCREATE TABLE IF NOT EXISTS s_linkedin.all_invitations (\n  id VARCHAR(255) PRIMARY KEY,\n  to_name VARCHAR(255),\n  from_name VARCHAR(255),\n  direction VARCHAR(50),\n  inviter_profile_url VARCHAR(2048),\n  invitee_profile_url VARCHAR(2048),\n  message TEXT,\n  sent_at TIMESTAMP,\n  updated_at TIMESTAMP,\n  processed INTEGER DEFAULT 0\n);\n\nCREATE TABLE IF NOT EXISTS s_linkedin.messages (\n  id VARCHAR(255) PRIMARY KEY,\n  conversation_id VARCHAR(255) NOT NULL,\n  sender_name VARCHAR(255),\n  recipient_name VARCHAR(255),\n  sender_profile_url VARCHAR(2048),\n  recipient_profile_urls VARCHAR(2048),\n  subject VARCHAR(1024),\n  content TEXT,\n  folder VARCHAR(50),\n  sent_at TIMESTAMP,\n  processed INTEGER DEFAULT 0\n);\n\nCREATE TABLE IF NOT EXISTS s_linkedin.all_messages (\n  id VARCHAR(255) PRIMARY KEY,\n  conversation_id VARCHAR(255) NOT NULL,\n  sender_name VARCHAR(255),\n  recipient_name VARCHAR(255),\n  sender_profile_url VARCHAR(2048),\n  recipient_profile_urls VARCHAR(2048),\n  subject VARCHAR(1024),\n  content TEXT,\n  folder VARCHAR(50),\n  sent_at TIMESTAMP,\n  updated_at TIMESTAMP,\n  processed INTEGER DEFAULT 0\n);\n\nCREATE TABLE IF NOT EXISTS s_linkedin.connections (\n  id VARCHAR(255) PRIMARY KEY,\n  first_name VARCHAR(255),\n  last_name VARCHAR(255),\n  profile_url VARCHAR(2048),\n  email_address VARCHAR(255),\n  company VARCHAR(255),\n  position VARCHAR(255),\n  connected_at TIMESTAMP,\n  updated_at TIMESTAMP,\n  processed INTEGER DEFAULT 0\n);\n\nCREATE TABLE IF NOT EXISTS s_linkedin.following (\n  id VARCHAR(255) PRIMARY KEY,\n  entity_name VARCHAR(255),\n  profile_url VARCHAR(2048),\n  type VARCHAR(100),\n  followed_at TIMESTAMP,\n  updated_at TIMESTAMP,\n  processed INTEGER DEFAULT 0\n);\n\nCREATE TABLE IF NOT EXISTS s_linkedin.searches (\n  id VARCHAR(255) PRIMARY KEY,\n  query_text TEXT,\n  searched_at TIMESTAMP,\n  updated_at TIMESTAMP,\n  processed INTEGER DEFAULT 0\n);\n\nCREATE TABLE IF NOT EXISTS s_linkedin.job_applications (\n  id VARCHAR(255) PRIMARY KEY,\n  company_name VARCHAR(255),\n  job_title VARCHAR(255),\n  application_date TIMESTAMP,\n  status VARCHAR(100),\n  job_url VARCHAR(2048),\n  updated_at TIMESTAMP,\n  processed INTEGER DEFAULT 0\n);\n\nCREATE TABLE IF NOT EXISTS s_linkedin.job_seeker_preferences (\n  id VARCHAR(255) PRIMARY KEY,\n  dream_companies TEXT,\n  job_titles TEXT,\n  locations TEXT,\n  job_types TEXT,\n  industries TEXT,\n  company_sizes TEXT,\n  activity_level VARCHAR(255),\n  updated_at TIMESTAMP,\n  processed INTEGER DEFAULT 0\n);\n\nCREATE TABLE IF NOT EXISTS s_linkedin.instant_reposts (\n  id VARCHAR(255) PRIMARY KEY,\n  original_post_id VARCHAR(255),\n  original_author VARCHAR(255),\n  repost_commentary TEXT,\n  reposted_at TIMESTAMP,\n  updated_at TIMESTAMP,\n  processed INTEGER DEFAULT 0\n);",
        "options": {}
      },
      "id": "init-motherduck-tables",
      "name": "Init Motherduck Tables",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        560,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "motherduck-db",
          "name": "Motherduck OLAP Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM s_zernio.linkedin_posts;",
        "options": {}
      },
      "id": "read-zernio-posts",
      "name": "Read Zernio Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_zernio.linkedin_posts (id, content, url, published_at, fetched_at)\nVALUES ('{{ $json.id }}', '{{ $json.content ? $json.content.replace(/'/g, \"''\") : \"\" }}', '{{ $json.url }}', '{{ $json.published_at }}', '{{ $json.fetched_at }}')\nON CONFLICT (id) DO UPDATE SET\n  content = EXCLUDED.content,\n  url = EXCLUDED.url,\n  published_at = EXCLUDED.published_at,\n  fetched_at = EXCLUDED.fetched_at;",
        "options": {}
      },
      "id": "write-zernio-posts",
      "name": "Write Zernio Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1008,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "motherduck-db",
          "name": "Motherduck OLAP Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM s_zernio.linkedin_post_analytics;",
        "options": {}
      },
      "id": "read-zernio-post-analytics",
      "name": "Read Zernio Post Analytics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1232,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_zernio.linkedin_post_analytics (post_id, impressions, likes, comments, shares, clicks, saves, sends, fetched_at)\nVALUES ('{{ $json.post_id }}', {{ $json.impressions }}, {{ $json.likes }}, {{ $json.comments }}, {{ $json.shares }}, {{ $json.clicks }}, {{ $json.saves }}, {{ $json.sends }}, '{{ $json.fetched_at }}')\nON CONFLICT (post_id) DO UPDATE SET\n  impressions = EXCLUDED.impressions,\n  likes = EXCLUDED.likes,\n  comments = EXCLUDED.comments,\n  shares = EXCLUDED.shares,\n  clicks = EXCLUDED.clicks,\n  saves = EXCLUDED.saves,\n  sends = EXCLUDED.sends,\n  fetched_at = EXCLUDED.fetched_at;",
        "options": {}
      },
      "id": "write-zernio-post-analytics",
      "name": "Write Zernio Post Analytics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1456,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "motherduck-db",
          "name": "Motherduck OLAP Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM s_zernio.linkedin_account_analytics;",
        "options": {}
      },
      "id": "read-zernio-account-analytics",
      "name": "Read Zernio Account Analytics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1680,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_zernio.linkedin_account_analytics (account_id, platform, username, impressions, members_reached, reactions, comments, reshares, post_saves, post_sends, fetched_at)\nVALUES ('{{ $json.account_id }}', '{{ $json.platform }}', '{{ $json.username }}', {{ $json.impressions }}, {{ $json.members_reached }}, {{ $json.reactions }}, {{ $json.comments }}, {{ $json.reshares }}, {{ $json.post_saves }}, {{ $json.post_sends }}, '{{ $json.fetched_at }}')\nON CONFLICT (account_id) DO UPDATE SET\n  platform = EXCLUDED.platform,\n  username = EXCLUDED.username,\n  impressions = EXCLUDED.impressions,\n  members_reached = EXCLUDED.members_reached,\n  reactions = EXCLUDED.reactions,\n  comments = EXCLUDED.comments,\n  reshares = EXCLUDED.reshares,\n  post_saves = EXCLUDED.post_saves,\n  post_sends = EXCLUDED.post_sends,\n  fetched_at = EXCLUDED.fetched_at;",
        "options": {}
      },
      "id": "write-zernio-account-analytics",
      "name": "Write Zernio Account Analytics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1904,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "motherduck-db",
          "name": "Motherduck OLAP Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM s_zernio.linkedin_follower_stats_timeline;",
        "options": {}
      },
      "id": "read-zernio-follower-timeline",
      "name": "Read Zernio Follower Timeline",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_zernio.linkedin_follower_stats_timeline (account_id, date, followers_count, growth, growth_percentage, fetched_at)\nVALUES ('{{ $json.account_id }}', '{{ new Date($json.date).toISOString().split('T')[0] }}', {{ $json.followers_count }}, {{ $json.growth }}, {{ $json.growth_percentage }}, '{{ $json.fetched_at }}')\nON CONFLICT (account_id, date) DO UPDATE SET\n  followers_count = EXCLUDED.followers_count,\n  growth = EXCLUDED.growth,\n  growth_percentage = EXCLUDED.growth_percentage,\n  fetched_at = EXCLUDED.fetched_at;",
        "options": {}
      },
      "id": "write-zernio-follower-timeline",
      "name": "Write Zernio Follower Timeline",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1008,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "motherduck-db",
          "name": "Motherduck OLAP Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM s_zernio.linkedin_post_timeline;",
        "options": {}
      },
      "id": "read-zernio-post-timeline",
      "name": "Read Zernio Post Timeline",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1232,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_zernio.linkedin_post_timeline (post_id, date, impressions, reach, likes, comments, shares, saves, clicks, views, fetched_at)\nVALUES ('{{ $json.post_id }}', '{{ new Date($json.date).toISOString().split('T')[0] }}', {{ $json.impressions }}, {{ $json.reach }}, {{ $json.likes }}, {{ $json.comments }}, {{ $json.shares }}, {{ $json.saves }}, {{ $json.clicks }}, {{ $json.views }}, '{{ $json.fetched_at }}')\nON CONFLICT (post_id, date) DO UPDATE SET\n  impressions = EXCLUDED.impressions,\n  reach = EXCLUDED.reach,\n  likes = EXCLUDED.likes,\n  comments = EXCLUDED.comments,\n  shares = EXCLUDED.shares,\n  saves = EXCLUDED.saves,\n  clicks = EXCLUDED.clicks,\n  views = EXCLUDED.views,\n  fetched_at = EXCLUDED.fetched_at;",
        "options": {}
      },
      "id": "write-zernio-post-timeline",
      "name": "Write Zernio Post Timeline",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1456,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "motherduck-db",
          "name": "Motherduck OLAP Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM s_zernio.linkedin_content_decay;",
        "options": {}
      },
      "id": "read-zernio-decay",
      "name": "Read Zernio Decay",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1680,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_zernio.linkedin_content_decay (platform, bucket_order, bucket_label, avg_pct_of_final, post_count, fetched_at)\nVALUES ('{{ $json.platform }}', {{ $json.bucket_order }}, '{{ $json.bucket_label }}', {{ $json.avg_pct_of_final }}, {{ $json.post_count }}, '{{ $json.fetched_at }}')\nON CONFLICT (platform, bucket_order) DO UPDATE SET\n  bucket_label = EXCLUDED.bucket_label,\n  avg_pct_of_final = EXCLUDED.avg_pct_of_final,\n  post_count = EXCLUDED.post_count,\n  fetched_at = EXCLUDED.fetched_at;",
        "options": {}
      },
      "id": "write-zernio-decay",
      "name": "Write Zernio Decay",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1904,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "motherduck-db",
          "name": "Motherduck OLAP Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM s_buffer.channels;",
        "options": {}
      },
      "id": "read-buffer-channels",
      "name": "Read Buffer Channels",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        496
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_buffer.channels (id, name, service, organization_id, active, created_at, updated_at)\nVALUES ('{{ $json.id }}', '{{ $json.name ? $json.name.replace(/'/g, \"''\") : \"\" }}', '{{ $json.service }}', '{{ $json.organization_id }}', {{ $json.active }}, '{{ $json.created_at }}', '{{ $json.updated_at }}')\nON CONFLICT (id) DO UPDATE SET\n  name = EXCLUDED.name,\n  service = EXCLUDED.service,\n  organization_id = EXCLUDED.organization_id,\n  active = EXCLUDED.active,\n  created_at = EXCLUDED.created_at,\n  updated_at = EXCLUDED.updated_at;",
        "options": {}
      },
      "id": "write-buffer-channels",
      "name": "Write Buffer Channels",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1008,
        496
      ],
      "credentials": {
        "postgres": {
          "id": "motherduck-db",
          "name": "Motherduck OLAP Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM s_buffer.posts;",
        "options": {}
      },
      "id": "read-buffer-posts",
      "name": "Read Buffer Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1232,
        496
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_buffer.posts (id, text, channel_id, due_at, status, assets, metrics, reactions, comments, shares, reposts, clicks, reach, impressions, views, engagement_rate, created_at, updated_at, processed)\nVALUES ('{{ $json.id }}', '{{ $json.text ? $json.text.replace(/'/g, \"''\") : \"\" }}', '{{ $json.channel_id }}', '{{ $json.due_at }}', '{{ $json.status }}', '{{ JSON.stringify($json.assets) }}', '{{ JSON.stringify($json.metrics) }}', {{ $json.reactions }}, {{ $json.comments }}, {{ $json.shares }}, {{ $json.reposts }}, {{ $json.clicks }}, {{ $json.reach }}, {{ $json.impressions }}, {{ $json.views }}, {{ $json.engagement_rate }}, '{{ $json.created_at }}', '{{ $json.updated_at }}', {{ $json.processed }})\nON CONFLICT (id) DO UPDATE SET\n  text = EXCLUDED.text,\n  channel_id = EXCLUDED.channel_id,\n  due_at = EXCLUDED.due_at,\n  status = EXCLUDED.status,\n  assets = EXCLUDED.assets,\n  metrics = EXCLUDED.metrics,\n  reactions = EXCLUDED.reactions,\n  comments = EXCLUDED.comments,\n  shares = EXCLUDED.shares,\n  reposts = EXCLUDED.reposts,\n  clicks = EXCLUDED.clicks,\n  reach = EXCLUDED.reach,\n  impressions = EXCLUDED.impressions,\n  views = EXCLUDED.views,\n  engagement_rate = EXCLUDED.engagement_rate,\n  created_at = EXCLUDED.created_at,\n  updated_at = EXCLUDED.updated_at,\n  processed = EXCLUDED.processed;",
        "options": {}
      },
      "id": "write-buffer-posts",
      "name": "Write Buffer Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1456,
        496
      ],
      "credentials": {
        "postgres": {
          "id": "motherduck-db",
          "name": "Motherduck OLAP Credential"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "start_date",
              "type": "string",
              "value": "={{ $now.minus({ days: 7 }).toISO() }}"
            },
            {
              "name": "end_date",
              "type": "string",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ingestion-date-range-parameters",
      "name": "Ingestion Date Range Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM s_linkedin.ugc_posts WHERE published_at >= '{{ $('Ingestion Date Range Parameters').first().json.start_date }}' AND published_at <= '{{ $('Ingestion Date Range Parameters').first().json.end_date }}';",
        "options": {}
      },
      "id": "read-linkedin-ugc-posts",
      "name": "Read Linkedin Ugc Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        688
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_linkedin.ugc_posts (id, author, content, url, published_at, processed)\nVALUES ('{{ $json.id }}', '{{ $json.author ? $json.author.replace(/'/g, \"''\") : \"\" }}', '{{ $json.content ? $json.content.replace(/'/g, \"''\") : \"\" }}', '{{ $json.url }}', {{ $json.published_at ? \"'\" + $json.published_at + \"'\" : \"NULL\" }}, {{ $json.processed }})\nON CONFLICT (id) DO UPDATE SET\n  author = EXCLUDED.author,\n  content = EXCLUDED.content,\n  url = EXCLUDED.url,\n  published_at = EXCLUDED.published_at,\n  processed = EXCLUDED.processed;",
        "options": {}
      },
      "id": "write-linkedin-ugc-posts",
      "name": "Write Linkedin Ugc Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1008,
        688
      ],
      "credentials": {
        "postgres": {
          "id": "motherduck-db",
          "name": "Motherduck OLAP Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM s_linkedin.social_action_likes WHERE published_at >= '{{ $('Ingestion Date Range Parameters').first().json.start_date }}' AND published_at <= '{{ $('Ingestion Date Range Parameters').first().json.end_date }}';",
        "options": {}
      },
      "id": "read-linkedin-social-action-likes",
      "name": "Read Linkedin Social Action Likes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        838
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_linkedin.social_action_likes (id, post_id, author, published_at, processed)\nVALUES ('{{ $json.id }}', '{{ $json.post_id }}', '{{ $json.author ? $json.author.replace(/'/g, \"''\") : \"\" }}', {{ $json.published_at ? \"'\" + $json.published_at + \"'\" : \"NULL\" }}, {{ $json.processed }})\nON CONFLICT (id) DO UPDATE SET\n  post_id = EXCLUDED.post_id,\n  author = EXCLUDED.author,\n  published_at = EXCLUDED.published_at,\n  processed = EXCLUDED.processed;",
        "options": {}
      },
      "id": "write-linkedin-social-action-likes",
      "name": "Write Linkedin Social Action Likes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1008,
        838
      ],
      "credentials": {
        "postgres": {
          "id": "motherduck-db",
          "name": "Motherduck OLAP Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM s_linkedin.social_action_comments WHERE published_at >= '{{ $('Ingestion Date Range Parameters').first().json.start_date }}' AND published_at <= '{{ $('Ingestion Date Range Parameters').first().json.end_date }}';",
        "options": {}
      },
      "id": "read-linkedin-social-action-comments",
      "name": "Read Linkedin Social Action Comments",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        988
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_linkedin.social_action_comments (id, post_id, author, content, published_at, processed)\nVALUES ('{{ $json.id }}', '{{ $json.post_id }}', '{{ $json.author ? $json.author.replace(/'/g, \"''\") : \"\" }}', '{{ $json.content ? $json.content.replace(/'/g, \"''\") : \"\" }}', {{ $json.published_at ? \"'\" + $json.published_at + \"'\" : \"NULL\" }}, {{ $json.processed }})\nON CONFLICT (id) DO UPDATE SET\n  post_id = EXCLUDED.post_id,\n  author = EXCLUDED.author,\n  content = EXCLUDED.content,\n  published_at = EXCLUDED.published_at,\n  processed = EXCLUDED.processed;",
        "options": {}
      },
      "id": "write-linkedin-social-action-comments",
      "name": "Write Linkedin Social Action Comments",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1008,
        988
      ],
      "credentials": {
        "postgres": {
          "id": "motherduck-db",
          "name": "Motherduck OLAP Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM s_linkedin.all_comments WHERE updated_at >= '{{ $('Ingestion Date Range Parameters').first().json.start_date }}' AND updated_at <= '{{ $('Ingestion Date Range Parameters').first().json.end_date }}';",
        "options": {}
      },
      "id": "read-linkedin-all-comments",
      "name": "Read Linkedin All Comments",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        1138
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_linkedin.all_comments (id, post_id, author, content, published_at, updated_at, processed)\nVALUES ('{{ $json.id }}', '{{ $json.post_id }}', '{{ $json.author ? $json.author.replace(/'/g, \"''\") : \"\" }}', '{{ $json.content ? $json.content.replace(/'/g, \"''\") : \"\" }}', {{ $json.published_at ? \"'\" + $json.published_at + \"'\" : \"NULL\" }}, {{ $json.updated_at ? \"'\" + $json.updated_at + \"'\" : \"NULL\" }}, {{ $json.processed }})\nON CONFLICT (id) DO UPDATE SET\n  post_id = EXCLUDED.post_id,\n  author = EXCLUDED.author,\n  content = EXCLUDED.content,\n  published_at = EXCLUDED.published_at,\n  updated_at = EXCLUDED.updated_at,\n  processed = EXCLUDED.processed;",
        "options": {}
      },
      "id": "write-linkedin-all-comments",
      "name": "Write Linkedin All Comments",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1008,
        1138
      ],
      "credentials": {
        "postgres": {
          "id": "motherduck-db",
          "name": "Motherduck OLAP Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM s_linkedin.all_likes WHERE updated_at >= '{{ $('Ingestion Date Range Parameters').first().json.start_date }}' AND updated_at <= '{{ $('Ingestion Date Range Parameters').first().json.end_date }}';",
        "options": {}
      },
      "id": "read-linkedin-all-likes",
      "name": "Read Linkedin All Likes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        1288
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_linkedin.all_likes (id, post_id, author, published_at, updated_at, processed)\nVALUES ('{{ $json.id }}', '{{ $json.post_id }}', '{{ $json.author ? $json.author.replace(/'/g, \"''\") : \"\" }}', {{ $json.published_at ? \"'\" + $json.published_at + \"'\" : \"NULL\" }}, {{ $json.updated_at ? \"'\" + $json.updated_at + \"'\" : \"NULL\" }}, {{ $json.processed }})\nON CONFLICT (id) DO UPDATE SET\n  post_id = EXCLUDED.post_id,\n  author = EXCLUDED.author,\n  published_at = EXCLUDED.published_at,\n  updated_at = EXCLUDED.updated_at,\n  processed = EXCLUDED.processed;",
        "options": {}
      },
      "id": "write-linkedin-all-likes",
      "name": "Write Linkedin All Likes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1008,
        1288
      ],
      "credentials": {
        "postgres": {
          "id": "motherduck-db",
          "name": "Motherduck OLAP Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM s_linkedin.invitations WHERE sent_at >= '{{ $('Ingestion Date Range Parameters').first().json.start_date }}' AND sent_at <= '{{ $('Ingestion Date Range Parameters').first().json.end_date }}';",
        "options": {}
      },
      "id": "read-linkedin-invitations",
      "name": "Read Linkedin Invitations",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        1438
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_linkedin.invitations (id, to_name, from_name, direction, inviter_profile_url, invitee_profile_url, message, sent_at, processed)\nVALUES ('{{ $json.id }}', '{{ $json.to_name ? $json.to_name.replace(/'/g, \"''\") : \"\" }}', '{{ $json.from_name ? $json.from_name.replace(/'/g, \"''\") : \"\" }}', '{{ $json.direction }}', '{{ $json.inviter_profile_url }}', '{{ $json.invitee_profile_url }}', '{{ $json.message ? $json.message.replace(/'/g, \"''\") : \"\" }}', {{ $json.sent_at ? \"'\" + $json.sent_at + \"'\" : \"NULL\" }}, {{ $json.processed }})\nON CONFLICT (id) DO UPDATE SET\n  to_name = EXCLUDED.to_name,\n  from_name = EXCLUDED.from_name,\n  direction = EXCLUDED.direction,\n  inviter_profile_url = EXCLUDED.inviter_profile_url,\n  invitee_profile_url = EXCLUDED.invitee_profile_url,\n  message = EXCLUDED.message,\n  sent_at = EXCLUDED.sent_at,\n  processed = EXCLUDED.processed;",
        "options": {}
      },
      "id": "write-linkedin-invitations",
      "name": "Write Linkedin Invitations",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1008,
        1438
      ],
      "credentials": {
        "postgres": {
          "id": "motherduck-db",
          "name": "Motherduck OLAP Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM s_linkedin.all_invitations WHERE updated_at >= '{{ $('Ingestion Date Range Parameters').first().json.start_date }}' AND updated_at <= '{{ $('Ingestion Date Range Parameters').first().json.end_date }}';",
        "options": {}
      },
      "id": "read-linkedin-all-invitations",
      "name": "Read Linkedin All Invitations",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        1588
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_linkedin.all_invitations (id, to_name, from_name, direction, inviter_profile_url, invitee_profile_url, message, sent_at, updated_at, processed)\nVALUES ('{{ $json.id }}', '{{ $json.to_name ? $json.to_name.replace(/'/g, \"''\") : \"\" }}', '{{ $json.from_name ? $json.from_name.replace(/'/g, \"''\") : \"\" }}', '{{ $json.direction }}', '{{ $json.inviter_profile_url }}', '{{ $json.invitee_profile_url }}', '{{ $json.message ? $json.message.replace(/'/g, \"''\") : \"\" }}', {{ $json.sent_at ? \"'\" + $json.sent_at + \"'\" : \"NULL\" }}, {{ $json.updated_at ? \"'\" + $json.updated_at + \"'\" : \"NULL\" }}, {{ $json.processed }})\nON CONFLICT (id) DO UPDATE SET\n  to_name = EXCLUDED.to_name,\n  from_name = EXCLUDED.from_name,\n  direction = EXCLUDED.direction,\n  inviter_profile_url = EXCLUDED.inviter_profile_url,\n  invitee_profile_url = EXCLUDED.invitee_profile_url,\n  message = EXCLUDED.message,\n  sent_at = EXCLUDED.sent_at,\n  updated_at = EXCLUDED.updated_at,\n  processed = EXCLUDED.processed;",
        "options": {}
      },
      "id": "write-linkedin-all-invitations",
      "name": "Write Linkedin All Invitations",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1008,
        1588
      ],
      "credentials": {
        "postgres": {
          "id": "motherduck-db",
          "name": "Motherduck OLAP Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM s_linkedin.messages WHERE sent_at >= '{{ $('Ingestion Date Range Parameters').first().json.start_date }}' AND sent_at <= '{{ $('Ingestion Date Range Parameters').first().json.end_date }}';",
        "options": {}
      },
      "id": "read-linkedin-messages",
      "name": "Read Linkedin Messages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        1738
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_linkedin.messages (id, conversation_id, sender_name, recipient_name, sender_profile_url, recipient_profile_urls, subject, content, folder, sent_at, processed)\nVALUES ('{{ $json.id }}', '{{ $json.conversation_id }}', '{{ $json.sender_name ? $json.sender_name.replace(/'/g, \"''\") : \"\" }}', '{{ $json.recipient_name ? $json.recipient_name.replace(/'/g, \"''\") : \"\" }}', '{{ $json.sender_profile_url }}', '{{ $json.recipient_profile_urls }}', '{{ $json.subject ? $json.subject.replace(/'/g, \"''\") : \"\" }}', '{{ $json.content ? $json.content.replace(/'/g, \"''\") : \"\" }}', '{{ $json.folder }}', {{ $json.sent_at ? \"'\" + $json.sent_at + \"'\" : \"NULL\" }}, {{ $json.processed }})\nON CONFLICT (id) DO UPDATE SET\n  conversation_id = EXCLUDED.conversation_id,\n  sender_name = EXCLUDED.sender_name,\n  recipient_name = EXCLUDED.recipient_name,\n  sender_profile_url = EXCLUDED.sender_profile_url,\n  recipient_profile_urls = EXCLUDED.recipient_profile_urls,\n  subject = EXCLUDED.subject,\n  content = EXCLUDED.content,\n  folder = EXCLUDED.folder,\n  sent_at = EXCLUDED.sent_at,\n  processed = EXCLUDED.processed;",
        "options": {}
      },
      "id": "write-linkedin-messages",
      "name": "Write Linkedin Messages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1008,
        1738
      ],
      "credentials": {
        "postgres": {
          "id": "motherduck-db",
          "name": "Motherduck OLAP Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM s_linkedin.all_messages WHERE updated_at >= '{{ $('Ingestion Date Range Parameters').first().json.start_date }}' AND updated_at <= '{{ $('Ingestion Date Range Parameters').first().json.end_date }}';",
        "options": {}
      },
      "id": "read-linkedin-all-messages",
      "name": "Read Linkedin All Messages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        1888
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_linkedin.all_messages (id, conversation_id, sender_name, recipient_name, sender_profile_url, recipient_profile_urls, subject, content, folder, sent_at, updated_at, processed)\nVALUES ('{{ $json.id }}', '{{ $json.conversation_id }}', '{{ $json.sender_name ? $json.sender_name.replace(/'/g, \"''\") : \"\" }}', '{{ $json.recipient_name ? $json.recipient_name.replace(/'/g, \"''\") : \"\" }}', '{{ $json.sender_profile_url }}', '{{ $json.recipient_profile_urls }}', '{{ $json.subject ? $json.subject.replace(/'/g, \"''\") : \"\" }}', '{{ $json.content ? $json.content.replace(/'/g, \"''\") : \"\" }}', '{{ $json.folder }}', {{ $json.sent_at ? \"'\" + $json.sent_at + \"'\" : \"NULL\" }}, {{ $json.updated_at ? \"'\" + $json.updated_at + \"'\" : \"NULL\" }}, {{ $json.processed }})\nON CONFLICT (id) DO UPDATE SET\n  conversation_id = EXCLUDED.conversation_id,\n  sender_name = EXCLUDED.sender_name,\n  recipient_name = EXCLUDED.recipient_name,\n  sender_profile_url = EXCLUDED.sender_profile_url,\n  recipient_profile_urls = EXCLUDED.recipient_profile_urls,\n  subject = EXCLUDED.subject,\n  content = EXCLUDED.content,\n  folder = EXCLUDED.folder,\n  sent_at = EXCLUDED.sent_at,\n  updated_at = EXCLUDED.updated_at,\n  processed = EXCLUDED.processed;",
        "options": {}
      },
      "id": "write-linkedin-all-messages",
      "name": "Write Linkedin All Messages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1008,
        1888
      ],
      "credentials": {
        "postgres": {
          "id": "motherduck-db",
          "name": "Motherduck OLAP Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM s_linkedin.connections WHERE updated_at >= '{{ $('Ingestion Date Range Parameters').first().json.start_date }}' AND updated_at <= '{{ $('Ingestion Date Range Parameters').first().json.end_date }}';",
        "options": {}
      },
      "id": "read-linkedin-connections",
      "name": "Read Linkedin Connections",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        2038
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_linkedin.connections (id, first_name, last_name, profile_url, email_address, company, position, connected_at, updated_at, processed)\nVALUES ('{{ $json.id }}', '{{ $json.first_name ? $json.first_name.replace(/'/g, \"''\") : \"\" }}', '{{ $json.last_name ? $json.last_name.replace(/'/g, \"''\") : \"\" }}', '{{ $json.profile_url }}', '{{ $json.email_address ? $json.email_address.replace(/'/g, \"''\") : \"\" }}', '{{ $json.company ? $json.company.replace(/'/g, \"''\") : \"\" }}', '{{ $json.position ? $json.position.replace(/'/g, \"''\") : \"\" }}', {{ $json.connected_at ? \"'\" + $json.connected_at + \"'\" : \"NULL\" }}, {{ $json.updated_at ? \"'\" + $json.updated_at + \"'\" : \"NULL\" }}, {{ $json.processed }})\nON CONFLICT (id) DO UPDATE SET\n  first_name = EXCLUDED.first_name,\n  last_name = EXCLUDED.last_name,\n  profile_url = EXCLUDED.profile_url,\n  email_address = EXCLUDED.email_address,\n  company = EXCLUDED.company,\n  position = EXCLUDED.position,\n  connected_at = EXCLUDED.connected_at,\n  updated_at = EXCLUDED.updated_at,\n  processed = EXCLUDED.processed;",
        "options": {}
      },
      "id": "write-linkedin-connections",
      "name": "Write Linkedin Connections",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1008,
        2038
      ],
      "credentials": {
        "postgres": {
          "id": "motherduck-db",
          "name": "Motherduck OLAP Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM s_linkedin.following WHERE updated_at >= '{{ $('Ingestion Date Range Parameters').first().json.start_date }}' AND updated_at <= '{{ $('Ingestion Date Range Parameters').first().json.end_date }}';",
        "options": {}
      },
      "id": "read-linkedin-following",
      "name": "Read Linkedin Following",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        2188
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_linkedin.following (id, entity_name, profile_url, type, followed_at, updated_at, processed)\nVALUES ('{{ $json.id }}', '{{ $json.entity_name ? $json.entity_name.replace(/'/g, \"''\") : \"\" }}', '{{ $json.profile_url }}', '{{ $json.type }}', {{ $json.followed_at ? \"'\" + $json.followed_at + \"'\" : \"NULL\" }}, {{ $json.updated_at ? \"'\" + $json.updated_at + \"'\" : \"NULL\" }}, {{ $json.processed }})\nON CONFLICT (id) DO UPDATE SET\n  entity_name = EXCLUDED.entity_name,\n  profile_url = EXCLUDED.profile_url,\n  type = EXCLUDED.type,\n  followed_at = EXCLUDED.followed_at,\n  updated_at = EXCLUDED.updated_at,\n  processed = EXCLUDED.processed;",
        "options": {}
      },
      "id": "write-linkedin-following",
      "name": "Write Linkedin Following",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1008,
        2188
      ],
      "credentials": {
        "postgres": {
          "id": "motherduck-db",
          "name": "Motherduck OLAP Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM s_linkedin.searches WHERE updated_at >= '{{ $('Ingestion Date Range Parameters').first().json.start_date }}' AND updated_at <= '{{ $('Ingestion Date Range Parameters').first().json.end_date }}';",
        "options": {}
      },
      "id": "read-linkedin-searches",
      "name": "Read Linkedin Searches",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        2338
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_linkedin.searches (id, query_text, searched_at, updated_at, processed)\nVALUES ('{{ $json.id }}', '{{ $json.query_text ? $json.query_text.replace(/'/g, \"''\") : \"\" }}', {{ $json.searched_at ? \"'\" + $json.searched_at + \"'\" : \"NULL\" }}, {{ $json.updated_at ? \"'\" + $json.updated_at + \"'\" : \"NULL\" }}, {{ $json.processed }})\nON CONFLICT (id) DO UPDATE SET\n  query_text = EXCLUDED.query_text,\n  searched_at = EXCLUDED.searched_at,\n  updated_at = EXCLUDED.updated_at,\n  processed = EXCLUDED.processed;",
        "options": {}
      },
      "id": "write-linkedin-searches",
      "name": "Write Linkedin Searches",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1008,
        2338
      ],
      "credentials": {
        "postgres": {
          "id": "motherduck-db",
          "name": "Motherduck OLAP Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM s_linkedin.job_applications WHERE updated_at >= '{{ $('Ingestion Date Range Parameters').first().json.start_date }}' AND updated_at <= '{{ $('Ingestion Date Range Parameters').first().json.end_date }}';",
        "options": {}
      },
      "id": "read-linkedin-job-applications",
      "name": "Read Linkedin Job Applications",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        2488
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_linkedin.job_applications (id, company_name, job_title, application_date, status, job_url, updated_at, processed)\nVALUES ('{{ $json.id }}', '{{ $json.company_name ? $json.company_name.replace(/'/g, \"''\") : \"\" }}', '{{ $json.job_title ? $json.job_title.replace(/'/g, \"''\") : \"\" }}', {{ $json.application_date ? \"'\" + $json.application_date + \"'\" : \"NULL\" }}, '{{ $json.status ? $json.status.replace(/'/g, \"''\") : \"\" }}', '{{ $json.job_url }}', {{ $json.updated_at ? \"'\" + $json.updated_at + \"'\" : \"NULL\" }}, {{ $json.processed }})\nON CONFLICT (id) DO UPDATE SET\n  company_name = EXCLUDED.company_name,\n  job_title = EXCLUDED.job_title,\n  application_date = EXCLUDED.application_date,\n  status = EXCLUDED.status,\n  job_url = EXCLUDED.job_url,\n  updated_at = EXCLUDED.updated_at,\n  processed = EXCLUDED.processed;",
        "options": {}
      },
      "id": "write-linkedin-job-applications",
      "name": "Write Linkedin Job Applications",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1008,
        2488
      ],
      "credentials": {
        "postgres": {
          "id": "motherduck-db",
          "name": "Motherduck OLAP Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM s_linkedin.job_seeker_preferences WHERE updated_at >= '{{ $('Ingestion Date Range Parameters').first().json.start_date }}' AND updated_at <= '{{ $('Ingestion Date Range Parameters').first().json.end_date }}';",
        "options": {}
      },
      "id": "read-linkedin-job-seeker-preferences",
      "name": "Read Linkedin Job Seeker Preferences",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        2638
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_linkedin.job_seeker_preferences (id, dream_companies, job_titles, locations, job_types, industries, company_sizes, activity_level, updated_at, processed)\nVALUES ('{{ $json.id }}', '{{ $json.dream_companies ? $json.dream_companies.replace(/'/g, \"''\") : \"\" }}', '{{ $json.job_titles ? $json.job_titles.replace(/'/g, \"''\") : \"\" }}', '{{ $json.locations ? $json.locations.replace(/'/g, \"''\") : \"\" }}', '{{ $json.job_types ? $json.job_types.replace(/'/g, \"''\") : \"\" }}', '{{ $json.industries ? $json.industries.replace(/'/g, \"''\") : \"\" }}', '{{ $json.company_sizes ? $json.company_sizes.replace(/'/g, \"''\") : \"\" }}', '{{ $json.activity_level ? $json.activity_level.replace(/'/g, \"''\") : \"\" }}', {{ $json.updated_at ? \"'\" + $json.updated_at + \"'\" : \"NULL\" }}, {{ $json.processed }})\nON CONFLICT (id) DO UPDATE SET\n  dream_companies = EXCLUDED.dream_companies,\n  job_titles = EXCLUDED.job_titles,\n  locations = EXCLUDED.locations,\n  job_types = EXCLUDED.job_types,\n  industries = EXCLUDED.industries,\n  company_sizes = EXCLUDED.company_sizes,\n  activity_level = EXCLUDED.activity_level,\n  updated_at = EXCLUDED.updated_at,\n  processed = EXCLUDED.processed;",
        "options": {}
      },
      "id": "write-linkedin-job-seeker-preferences",
      "name": "Write Linkedin Job Seeker Preferences",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1008,
        2638
      ],
      "credentials": {
        "postgres": {
          "id": "motherduck-db",
          "name": "Motherduck OLAP Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM s_linkedin.instant_reposts WHERE updated_at >= '{{ $('Ingestion Date Range Parameters').first().json.start_date }}' AND updated_at <= '{{ $('Ingestion Date Range Parameters').first().json.end_date }}';",
        "options": {}
      },
      "id": "read-linkedin-instant-reposts",
      "name": "Read Linkedin Instant Reposts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        2788
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_linkedin.instant_reposts (id, original_post_id, original_author, repost_commentary, reposted_at, updated_at, processed)\nVALUES ('{{ $json.id }}', '{{ $json.original_post_id }}', '{{ $json.original_author ? $json.original_author.replace(/'/g, \"''\") : \"\" }}', '{{ $json.repost_commentary ? $json.repost_commentary.replace(/'/g, \"''\") : \"\" }}', {{ $json.reposted_at ? \"'\" + $json.reposted_at + \"'\" : \"NULL\" }}, {{ $json.updated_at ? \"'\" + $json.updated_at + \"'\" : \"NULL\" }}, {{ $json.processed }})\nON CONFLICT (id) DO UPDATE SET\n  original_post_id = EXCLUDED.original_post_id,\n  original_author = EXCLUDED.original_author,\n  repost_commentary = EXCLUDED.repost_commentary,\n  reposted_at = EXCLUDED.reposted_at,\n  updated_at = EXCLUDED.updated_at,\n  processed = EXCLUDED.processed;",
        "options": {}
      },
      "id": "write-linkedin-instant-reposts",
      "name": "Write Linkedin Instant Reposts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1008,
        2788
      ],
      "credentials": {
        "postgres": {
          "id": "motherduck-db",
          "name": "Motherduck OLAP Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Ingestion Date Range Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Schemas": {
      "main": [
        [
          {
            "node": "Init Motherduck Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Motherduck Tables": {
      "main": [
        [
          {
            "node": "Read Zernio Posts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Zernio Follower Timeline",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Buffer Channels",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Linkedin Ugc Posts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Linkedin Social Action Likes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Linkedin Social Action Comments",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Linkedin All Comments",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Linkedin All Likes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Linkedin Invitations",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Linkedin All Invitations",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Linkedin Messages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Linkedin All Messages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Linkedin Connections",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Linkedin Following",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Linkedin Searches",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Linkedin Job Applications",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Linkedin Job Seeker Preferences",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Linkedin Instant Reposts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Zernio Posts": {
      "main": [
        [
          {
            "node": "Write Zernio Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Zernio Posts": {
      "main": [
        [
          {
            "node": "Read Zernio Post Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Zernio Post Analytics": {
      "main": [
        [
          {
            "node": "Write Zernio Post Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Zernio Post Analytics": {
      "main": [
        [
          {
            "node": "Read Zernio Account Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Zernio Account Analytics": {
      "main": [
        [
          {
            "node": "Write Zernio Account Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Zernio Follower Timeline": {
      "main": [
        [
          {
            "node": "Write Zernio Follower Timeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Zernio Follower Timeline": {
      "main": [
        [
          {
            "node": "Read Zernio Post Timeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Zernio Post Timeline": {
      "main": [
        [
          {
            "node": "Write Zernio Post Timeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Zernio Post Timeline": {
      "main": [
        [
          {
            "node": "Read Zernio Decay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Zernio Decay": {
      "main": [
        [
          {
            "node": "Write Zernio Decay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Buffer Channels": {
      "main": [
        [
          {
            "node": "Write Buffer Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Buffer Channels": {
      "main": [
        [
          {
            "node": "Read Buffer Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Buffer Posts": {
      "main": [
        [
          {
            "node": "Write Buffer Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingestion Date Range Parameters": {
      "main": [
        [
          {
            "node": "Create Schemas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Linkedin Ugc Posts": {
      "main": [
        [
          {
            "node": "Write Linkedin Ugc Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Linkedin Social Action Likes": {
      "main": [
        [
          {
            "node": "Write Linkedin Social Action Likes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Linkedin Social Action Comments": {
      "main": [
        [
          {
            "node": "Write Linkedin Social Action Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Linkedin All Comments": {
      "main": [
        [
          {
            "node": "Write Linkedin All Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Linkedin All Likes": {
      "main": [
        [
          {
            "node": "Write Linkedin All Likes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Linkedin Invitations": {
      "main": [
        [
          {
            "node": "Write Linkedin Invitations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Linkedin All Invitations": {
      "main": [
        [
          {
            "node": "Write Linkedin All Invitations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Linkedin Messages": {
      "main": [
        [
          {
            "node": "Write Linkedin Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Linkedin All Messages": {
      "main": [
        [
          {
            "node": "Write Linkedin All Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Linkedin Connections": {
      "main": [
        [
          {
            "node": "Write Linkedin Connections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Linkedin Following": {
      "main": [
        [
          {
            "node": "Write Linkedin Following",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Linkedin Searches": {
      "main": [
        [
          {
            "node": "Write Linkedin Searches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Linkedin Job Applications": {
      "main": [
        [
          {
            "node": "Write Linkedin Job Applications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Linkedin Job Seeker Preferences": {
      "main": [
        [
          {
            "node": "Write Linkedin Job Seeker Preferences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Linkedin Instant Reposts": {
      "main": [
        [
          {
            "node": "Write Linkedin Instant Reposts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
