src/n8n/workflows/data_ingestion/data_ingestion_yahoo_finance.json
{
  "id": "yahoo-finance-ingestion-workflow",
  "name": "Data Ingestion - Yahoo Finance",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        112,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "param-symbols",
              "name": "symbols",
              "type": "array",
              "value": [
                "S&P500",
                "DAX"
              ]
            },
            {
              "id": "param-interval",
              "name": "interval",
              "type": "string",
              "value": "1h"
            },
            {
              "id": "param-range",
              "name": "range",
              "type": "string",
              "value": "5d"
            }
          ]
        },
        "options": {}
      },
      "id": "set-parameters",
      "name": "Set Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst symbols = data.symbols || [];\n\nconst tickerMap = {\n  'S&P500': '^GSPC',\n  'S&P 500': '^GSPC',\n  'DAX': '^GDAXI'\n};\n\nreturn symbols.map(sym => {\n  const resolvedSymbol = tickerMap[sym] || sym;\n  return {\n    json: {\n      symbol: resolvedSymbol,\n      displayName: sym,\n      interval: data.interval || '1h',\n      range: data.range || '5d'\n    }\n  };\n});"
      },
      "id": "generate-items",
      "name": "Generate Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        304
      ]
    },
    {
      "parameters": {
        "url": "=https://query1.finance.yahoo.com/v8/finance/chart/{{ $json.symbol }}?interval={{ $json.interval }}&range={{ $json.range }}",
        "options": {}
      },
      "id": "fetch-yahoo-finance",
      "name": "Fetch Yahoo Finance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst parsedData = [];\n\nfor (const item of items) {\n  const response = item.json;\n  if (!response || !response.chart || !response.chart.result || !response.chart.result[0]) {\n    continue;\n  }\n\n  const result = response.chart.result[0];\n  const timestamps = result.timestamp || [];\n  const quotes = (result.indicators && result.indicators.quote && result.indicators.quote[0]) || {};\n\n  const opens = quotes.open || [];\n  const highs = quotes.high || [];\n  const lows = quotes.low || [];\n  const closes = quotes.close || [];\n  const volumes = quotes.volume || [];\n\n  for (let i = 0; i < timestamps.length; i++) {\n    if (timestamps[i] && closes[i] !== null && closes[i] !== undefined) {\n      parsedData.push({\n        symbol: result.meta.symbol || 'UNKNOWN',\n        price_timestamp: new Date(timestamps[i] * 1000).toISOString(),\n        open_price: opens[i] !== null ? opens[i] : null,\n        high_price: highs[i] !== null ? highs[i] : null,\n        low_price: lows[i] !== null ? lows[i] : null,\n        close_price: closes[i] !== null ? closes[i] : null,\n        volume: volumes[i] !== null ? volumes[i] : null\n      });\n    }\n  }\n}\n\nreturn parsedData;"
      },
      "id": "parse-yahoo-finance",
      "name": "Parse Yahoo Finance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_yahoo_finance.stock_prices (symbol, price_timestamp, open_price, high_price, low_price, close_price, volume)\nVALUES ('{{ $json.symbol }}', '{{ $json.price_timestamp }}', {{ $json.open_price !== null ? $json.open_price : 'NULL' }}, {{ $json.high_price !== null ? $json.high_price : 'NULL' }}, {{ $json.low_price !== null ? $json.low_price : 'NULL' }}, {{ $json.close_price !== null ? $json.close_price : 'NULL' }}, {{ $json.volume !== null ? $json.volume : 'NULL' }})\nON CONFLICT (symbol, price_timestamp)\nDO UPDATE SET \n  open_price = EXCLUDED.open_price,\n  high_price = EXCLUDED.high_price,\n  low_price = EXCLUDED.low_price,\n  close_price = EXCLUDED.close_price,\n  volume = EXCLUDED.volume;",
        "options": {}
      },
      "id": "insert-database",
      "name": "Insert/Update Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1232,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Parameters": {
      "main": [
        [
          {
            "node": "Generate Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Items": {
      "main": [
        [
          {
            "node": "Fetch Yahoo Finance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Yahoo Finance": {
      "main": [
        [
          {
            "node": "Parse Yahoo Finance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Yahoo Finance": {
      "main": [
        [
          {
            "node": "Insert/Update Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
