src/n8n/workflows/data_ingestion/data_ingestion_linkedin.json
{
  "id": "linkedin-ingestion-workflow",
  "name": "Data Ingestion - LinkedIn",
  "nodes": [
    {
      "parameters": {
        "content": "### LinkedIn Data Ingestion\n\nThis workflow runs periodically to fetch personal LinkedIn Member Data Portability API exports:\n- **UGC Posts**: Shared posts and articles authored by you.\n- **Comments**: Comments made on posts.\n- **Likes**: Reactions (likes, empathy, praise, etc.) on posts.\n- **Invitations**: Incoming and outgoing connection requests.\n- **Messages**: Conversation inbox history.\n- **Connections**: Personal connection and contact history.\n- **Following**: Entities, pages, and members followed.\n- **Searches**: History of search queries on the platform.\n\n### Official Documentation:\n- [LinkedIn Member Data Portability](https://learn.microsoft.com/en-us/linkedin/dma/member-data-portability/member-data-portability-member/?view=li-dma-data-portability-2026-05)\n- [Member Changelog API](https://learn.microsoft.com/en-us/linkedin/dma/member-data-portability/shared/member-changelog-api?view=li-dma-data-portability-2026-05&tabs=http)\n- [Member Snapshot API](https://learn.microsoft.com/en-us/linkedin/dma/member-data-portability/shared/member-snapshot-api?view=li-dma-data-portability-2026-05&tabs=http)",
        "height": 340,
        "width": 420
      },
      "id": "sticky-note-doc",
      "name": "Sticky Note Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        1472
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        112,
        1648
      ]
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/rest/memberSnapshotData?q=criteria&domain=MEMBER_SHARE_INFO&count=100",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RestLi-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202312"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-linkedin-posts",
      "name": "Fetch LinkedIn Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "linkedin-member-data-portability-api",
          "name": "LinkedIn Member Data Portability API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst items = $input.all();\n\nfor (const item of items) {\n  const data = item.json;\n  const elements = Array.isArray(data) ? data : (data.elements || [data]);\n\n  for (const element of elements) {\n    // 1. Handle Member Snapshot Data structure (which contains snapshotData array)\n    if (element.snapshotData && Array.isArray(element.snapshotData)) {\n      for (const post of element.snapshotData) {\n        const shareLink = post.ShareLink || '';\n        let id = '';\n        const decoded = decodeURIComponent(shareLink);\n        const match = decoded.match(/(urn:li:[a-zA-Z0-9_]+:[0-9]+)/);\n        if (match) {\n          id = match[1];\n        } else {\n          id = shareLink || Math.random().toString();\n        }\n\n        const content = post.ShareCommentary || '';\n        const url = shareLink;\n        const published_at = post.Date ? new Date(post.Date).toISOString() : new Date().toISOString();\n        const author = 'me';\n\n        results.push({\n          id: id.toString(),\n          author,\n          content,\n          url,\n          published_at,\n          processed: 0\n        });\n      }\n      continue;\n    }\n\n    // 2. Handle original Changelog / direct structure\n    const activity = element.activity || {};\n    const author = activity.author || element.actor || '';\n    const id = element.resourceId || element.id || '';\n    if (!id) continue;\n\n    let content = '';\n    if (activity.specificContent && activity.specificContent['com.linkedin.ugc.ShareContent']) {\n      const shareContent = activity.specificContent['com.linkedin.ugc.ShareContent'];\n      if (shareContent.shareCommentary) {\n        content = shareContent.shareCommentary.text || '';\n      }\n    } else if (activity.specificContent && activity.specificContent['com.linkedin.share.ShareContent']) {\n      const shareContent = activity.specificContent['com.linkedin.share.ShareContent'];\n      if (shareContent.shareCommentary) {\n        content = shareContent.shareCommentary.text || '';\n      }\n    }\n\n    const published_at_ms = (activity.created && activity.created.time) || activity.firstPublishedAt || element.processedAt || element.capturedAt;\n    const published_at = published_at_ms ? new Date(published_at_ms).toISOString() : new Date().toISOString();\n    const url = element.resourceUri ? `https://www.linkedin.com${element.resourceUri}` : '';\n\n    results.push({\n      id: id.toString(),\n      author,\n      content,\n      url,\n      published_at,\n      processed: 0\n    });\n  }\n}\nreturn results;"
      },
      "id": "parse-linkedin-posts",
      "name": "Parse LinkedIn Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_linkedin.ugc_posts (id, author, content, url, published_at, processed)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.author.replace(/'/g, \"''\") }}',\n  '{{ $json.content.replace(/'/g, \"''\") }}',\n  '{{ $json.url }}',\n  '{{ $json.published_at }}',\n  0\n)\nON CONFLICT (id) \nDO UPDATE SET content = EXCLUDED.content, author = EXCLUDED.author\nRETURNING id;",
        "options": {}
      },
      "id": "insert-posts",
      "name": "Insert/Upsert UGC Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/rest/memberSnapshotData?q=criteria&domain=ALL_COMMENTS",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RestLi-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202312"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-linkedin-comments",
      "name": "Fetch LinkedIn Comments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        496
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "linkedin-member-data-portability-api",
          "name": "LinkedIn Member Data Portability API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/rest/memberSnapshotData?q=criteria&domain=ALL_LIKES",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RestLi-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202312"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-linkedin-likes",
      "name": "Fetch LinkedIn Likes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        688
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "linkedin-member-data-portability-api",
          "name": "LinkedIn Member Data Portability API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst items = $input.all();\n\nfor (const item of items) {\n  const data = item.json;\n  const elements = Array.isArray(data) ? data : (data.elements || [data]);\n\n  for (const element of elements) {\n    if (element.snapshotData && Array.isArray(element.snapshotData)) {\n      for (const action of element.snapshotData) {\n        const Link = action.Link || '';\n        const DateVal = action.Date || '';\n        const Message = action.Message || '';\n\n        let post_id = 'unknown';\n        if (Link) {\n          const decodedLink = decodeURIComponent(Link);\n          const urnMatch = decodedLink.match(/(urn:li:[a-zA-Z0-9_]+:[0-9]+)/);\n          if (urnMatch) {\n            post_id = urnMatch[1];\n          }\n        }\n\n        const id = `${post_id}_comment_${DateVal.replace(/[^a-zA-Z0-9]/g, '_')}`;\n        let published_at = new Date().toISOString();\n        if (DateVal) {\n          published_at = new Date(DateVal.replace(' ', 'T') + 'Z').toISOString();\n        }\n\n        results.push({\n          id,\n          post_id,\n          author: 'me',\n          content: Message,\n          published_at,\n          processed: 0\n        });\n      }\n    }\n  }\n}\nreturn results;"
      },
      "id": "parse-linkedin-comments",
      "name": "Parse LinkedIn Comments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst items = $input.all();\n\nfor (const item of items) {\n  const data = item.json;\n  const elements = Array.isArray(data) ? data : (data.elements || [data]);\n\n  for (const element of elements) {\n    if (element.snapshotData && Array.isArray(element.snapshotData)) {\n      for (const action of element.snapshotData) {\n        const Link = action.Link || '';\n        const DateVal = action.Date || '';\n\n        let post_id = 'unknown';\n        if (Link) {\n          const decodedLink = decodeURIComponent(Link);\n          const urnMatch = decodedLink.match(/(urn:li:[a-zA-Z0-9_]+:[0-9]+)/);\n          if (urnMatch) {\n            post_id = urnMatch[1];\n          }\n        }\n\n        const id = `${post_id}_like_${DateVal.replace(/[^a-zA-Z0-9]/g, '_')}`;\n        let published_at = new Date().toISOString();\n        if (DateVal) {\n          published_at = new Date(DateVal.replace(' ', 'T') + 'Z').toISOString();\n        }\n\n        results.push({\n          id,\n          post_id,\n          author: 'me',\n          published_at,\n          processed: 0\n        });\n      }\n    }\n  }\n}\nreturn results;"
      },
      "id": "parse-linkedin-likes",
      "name": "Parse LinkedIn Likes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        688
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_linkedin.all_comments (id, post_id, author, content, published_at, updated_at, processed)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.post_id }}',\n  '{{ $json.author.replace(/'/g, \"''\") }}',\n  '{{ $json.content.replace(/'/g, \"''\") }}',\n  '{{ $json.published_at }}',\n  NOW(),\n  0\n)\nON CONFLICT (id) \nDO UPDATE SET \n  content = EXCLUDED.content, \n  author = EXCLUDED.author,\n  updated_at = EXCLUDED.updated_at\nRETURNING id;",
        "options": {}
      },
      "id": "insert-comments",
      "name": "Insert/Upsert Comments",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        496
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_linkedin.all_likes (id, post_id, author, published_at, updated_at, processed)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.post_id }}',\n  '{{ $json.author.replace(/'/g, \"''\") }}',\n  '{{ $json.published_at }}',\n  NOW(),\n  0\n)\nON CONFLICT (id) \nDO UPDATE SET \n  author = EXCLUDED.author,\n  updated_at = EXCLUDED.updated_at\nRETURNING id;",
        "options": {}
      },
      "id": "insert-likes",
      "name": "Insert/Upsert Likes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        688
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/rest/memberSnapshotData?q=criteria&domain=INVITATIONS",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RestLi-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202312"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-linkedin-invitations",
      "name": "Fetch LinkedIn Invitations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        880
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "linkedin-member-data-portability-api",
          "name": "LinkedIn Member Data Portability API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst items = $input.all();\nconst seen = new Set();\n\nfor (const item of items) {\n  const data = item.json;\n  const elements = Array.isArray(data) ? data : (data.elements || [data]);\n\n  for (const element of elements) {\n    if (element.snapshotData && Array.isArray(element.snapshotData)) {\n      for (const invite of element.snapshotData) {\n        const to_name = invite.To || '';\n        const from_name = invite.From || '';\n        const direction = invite.Direction || '';\n        const inviter_profile_url = invite.inviterProfileUrl || '';\n        const invitee_profile_url = invite.inviteeProfileUrl || '';\n        const message = invite.Message || '';\n        const sent_at_str = invite[\"Sent At\"] || '';\n\n        let sent_at = new Date().toISOString();\n        if (sent_at_str) {\n          sent_at = new Date(sent_at_str).toISOString();\n        }\n\n        const targetProfile = direction === 'OUTGOING' ? invitee_profile_url : inviter_profile_url;\n        const profileSlug = targetProfile ? targetProfile.split('/in/')[1] || targetProfile : 'unknown';\n        const id = `${direction.toLowerCase()}_${profileSlug.replace(/[^a-zA-Z0-9]/g, '_')}_${sent_at.replace(/[^a-zA-Z0-9]/g, '_')}`;\n\n        if (seen.has(id)) continue;\n        seen.add(id);\n\n        results.push({\n          id,\n          to_name,\n          from_name,\n          direction,\n          inviter_profile_url,\n          invitee_profile_url,\n          message,\n          sent_at,\n          processed: 0\n        });\n      }\n    }\n  }\n}\nreturn results;"
      },
      "id": "parse-linkedin-invitations",
      "name": "Parse LinkedIn Invitations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        880
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_linkedin.invitations (id, to_name, from_name, direction, inviter_profile_url, invitee_profile_url, message, sent_at, processed)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.to_name.replace(/'/g, \"''\") }}',\n  '{{ $json.from_name.replace(/'/g, \"''\") }}',\n  '{{ $json.direction }}',\n  '{{ $json.inviter_profile_url }}',\n  '{{ $json.invitee_profile_url }}',\n  {{ $json.message ? \"'\" + $json.message.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  '{{ $json.sent_at }}',\n  0\n)\nON CONFLICT (id) \nDO UPDATE SET message = EXCLUDED.message\nRETURNING id;",
        "options": {}
      },
      "id": "insert-invitations",
      "name": "Insert/Upsert Invitations",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        880
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/rest/memberSnapshotData?q=criteria&domain=INBOX",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RestLi-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202312"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-linkedin-messages",
      "name": "Fetch LinkedIn Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        1072
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "linkedin-member-data-portability-api",
          "name": "LinkedIn Member Data Portability API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst items = $input.all();\n\nfor (const item of items) {\n  const data = item.json;\n  const elements = Array.isArray(data) ? data : (data.elements || [data]);\n\n  for (const element of elements) {\n    if (element.snapshotData && Array.isArray(element.snapshotData)) {\n      for (const msg of element.snapshotData) {\n        const conversation_id = msg[\"CONVERSATION ID\"] || '';\n        const date_str = msg[\"DATE\"] || '';\n        const sender_profile_url = msg[\"SENDER PROFILE URL\"] || '';\n        const recipient_profile_urls = msg[\"RECIPIENT PROFILE URLS\"] || '';\n        const sender_name = msg[\"FROM\"] || '';\n        const recipient_name = msg[\"TO\"] || '';\n        const subject = msg[\"SUBJECT\"] || '';\n        const content = msg[\"CONTENT\"] || '';\n        const folder = msg[\"FOLDER\"] || '';\n\n        let sent_at = new Date().toISOString();\n        if (date_str) {\n          sent_at = new Date(date_str).toISOString();\n        }\n\n        const senderSlug = sender_profile_url ? sender_profile_url.split('/in/')[1] || sender_profile_url : 'unknown';\n        const id = `${conversation_id}_${sent_at.replace(/[^a-zA-Z0-9]/g, '_')}_${senderSlug.replace(/[^a-zA-Z0-9]/g, '_')}`;\n\n        results.push({\n          id,\n          conversation_id,\n          sender_name,\n          recipient_name,\n          sender_profile_url,\n          recipient_profile_urls,\n          subject,\n          content,\n          folder,\n          sent_at,\n          processed: 0\n        });\n      }\n    }\n  }\n}\nreturn results;"
      },
      "id": "parse-linkedin-messages",
      "name": "Parse LinkedIn Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        1072
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_linkedin.messages (id, conversation_id, sender_name, recipient_name, sender_profile_url, recipient_profile_urls, subject, content, folder, sent_at, processed)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.conversation_id }}',\n  '{{ $json.sender_name.replace(/'/g, \"''\") }}',\n  '{{ $json.recipient_name.replace(/'/g, \"''\") }}',\n  '{{ $json.sender_profile_url }}',\n  '{{ $json.recipient_profile_urls }}',\n  '{{ $json.subject.replace(/'/g, \"''\") }}',\n  '{{ $json.content.replace(/'/g, \"''\") }}',\n  '{{ $json.folder }}',\n  '{{ $json.sent_at }}',\n  0\n)\nON CONFLICT (id) \nDO UPDATE SET content = EXCLUDED.content\nRETURNING id;",
        "options": {}
      },
      "id": "insert-messages",
      "name": "Insert/Upsert Messages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        1072
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/rest/memberSnapshotData?q=criteria&domain=CONNECTIONS",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RestLi-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202312"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-linkedin-connections",
      "name": "Fetch LinkedIn Connections",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        1264
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "linkedin-member-data-portability-api",
          "name": "LinkedIn Member Data Portability API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst items = $input.all();\n\nfor (const item of items) {\n  const data = item.json;\n  const elements = Array.isArray(data) ? data : (data.elements || [data]);\n\n  for (const element of elements) {\n    if (element.snapshotData && Array.isArray(element.snapshotData)) {\n      for (const conn of element.snapshotData) {\n        const first_name = conn[\"First Name\"] || '';\n        const last_name = conn[\"Last Name\"] || '';\n        const company = conn[\"Company\"] || '';\n        const position = conn[\"Position\"] || '';\n        const email_address = conn[\"Email Address\"] || '';\n        const url = conn[\"URL\"] || '';\n        const connected_on_str = conn[\"Connected On\"] || '';\n\n        let connected_at = new Date().toISOString();\n        if (connected_on_str) {\n          connected_at = new Date(connected_on_str).toISOString();\n        }\n\n        const profileSlug = url ? url.split('/in/')[1] || url : 'unknown';\n        const id = `${profileSlug.replace(/[^a-zA-Z0-9]/g, '_')}_connection_${connected_at.replace(/[^a-zA-Z0-9]/g, '_')}`;\n\n        results.push({\n          id,\n          first_name,\n          last_name,\n          profile_url: url,\n          email_address,\n          company,\n          position,\n          connected_at,\n          processed: 0\n        });\n      }\n    }\n  }\n}\nreturn results;"
      },
      "id": "parse-linkedin-connections",
      "name": "Parse LinkedIn Connections",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        1264
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_linkedin.connections (id, first_name, last_name, profile_url, email_address, company, position, connected_at, updated_at, processed)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.first_name.replace(/'/g, \"''\") }}',\n  '{{ $json.last_name.replace(/'/g, \"''\") }}',\n  '{{ $json.profile_url }}',\n  {{ $json.email_address ? \"'\" + $json.email_address.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  '{{ $json.company.replace(/'/g, \"''\") }}',\n  '{{ $json.position.replace(/'/g, \"''\") }}',\n  '{{ $json.connected_at }}',\n  NOW(),\n  0\n)\nON CONFLICT (id) \nDO UPDATE SET \n  position = EXCLUDED.position, \n  company = EXCLUDED.company,\n  updated_at = EXCLUDED.updated_at\nRETURNING id;",
        "options": {}
      },
      "id": "insert-connections",
      "name": "Insert/Upsert Connections",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        1264
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/rest/memberSnapshotData?q=criteria&domain=MEMBER_FOLLOWING",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RestLi-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202312"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-linkedin-following",
      "name": "Fetch LinkedIn Following",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        1456
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "linkedin-member-data-portability-api",
          "name": "LinkedIn Member Data Portability API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst items = $input.all();\n\nfor (const item of items) {\n  const data = item.json;\n  const elements = Array.isArray(data) ? data : (data.elements || [data]);\n\n  for (const element of elements) {\n    if (element.snapshotData && Array.isArray(element.snapshotData)) {\n      for (const conn of element.snapshotData) {\n        const url = conn.URL || conn.Url || conn[\"Profile URL\"] || conn[\"Url\"] || '';\n        const followed_at_str = conn[\"Followed On\"] || conn.Date || conn[\"Followed Date\"] || conn[\"Followed At\"] || '';\n        const entity_name = conn.Organization || conn[\"Organization Name\"] || conn[\"Company Name\"] || (conn[\"First Name\"] || conn[\"Last Name\"] ? (conn[\"First Name\"] + ' ' + conn[\"Last Name\"]).trim() : '') || conn.Name || '';\n        const type = conn.Type || (conn.Organization || conn[\"Organization Name\"] || conn[\"Company Name\"] ? 'Organization' : 'Member');\n\n        let followed_at = new Date().toISOString();\n        if (followed_at_str) {\n          followed_at = new Date(followed_at_str).toISOString();\n        }\n\n        const profileSlug = url ? url.split('/in/')[1] || url.split('/company/')[1] || url : 'unknown';\n        const id = `${profileSlug.replace(/[^a-zA-Z0-9]/g, '_')}_following_${followed_at.replace(/[^a-zA-Z0-9]/g, '_')}`;\n\n        results.push({\n          id,\n          entity_name,\n          profile_url: url,\n          type,\n          followed_at,\n          processed: 0\n        });\n      }\n    }\n  }\n}\nreturn results;"
      },
      "id": "parse-linkedin-following",
      "name": "Parse LinkedIn Following",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        1456
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_linkedin.following (id, entity_name, profile_url, type, followed_at, updated_at, processed)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.entity_name.replace(/'/g, \"''\") }}',\n  '{{ $json.profile_url }}',\n  '{{ $json.type }}',\n  '{{ $json.followed_at }}',\n  NOW(),\n  0\n)\nON CONFLICT (id) \nDO UPDATE SET \n  entity_name = EXCLUDED.entity_name,\n  updated_at = EXCLUDED.updated_at\nRETURNING id;",
        "options": {}
      },
      "id": "insert-following",
      "name": "Insert/Upsert Following",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        1456
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/rest/memberSnapshotData?q=criteria&domain=SEARCHES",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RestLi-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202312"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-linkedin-searches",
      "name": "Fetch LinkedIn Searches",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        1648
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "linkedin-member-data-portability-api",
          "name": "LinkedIn Member Data Portability API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst items = $input.all();\n\nfor (const item of items) {\n  const data = item.json;\n  const elements = Array.isArray(data) ? data : (data.elements || [data]);\n\n  for (const element of elements) {\n    if (element.snapshotData && Array.isArray(element.snapshotData)) {\n      for (const search of element.snapshotData) {\n        const query_text = search[\"Search Query\"] || search.Query || search[\"Query String\"] || search.Text || '';\n        const searched_at_str = search[\"Search Date\"] || search.Date || search.Timestamp || search[\"Time\"] || '';\n\n        let searched_at = new Date().toISOString();\n        if (searched_at_str) {\n          searched_at = new Date(searched_at_str).toISOString();\n        }\n\n        const querySlug = query_text.toLowerCase().replace(/[^a-zA-Z0-9]/g, '_').substring(0, 50);\n        const id = `search_${searched_at.replace(/[^a-zA-Z0-9]/g, '_')}_${querySlug}`;\n\n        results.push({\n          id,\n          query_text,\n          searched_at,\n          processed: 0\n        });\n      }\n    }\n  }\n}\nreturn results;"
      },
      "id": "parse-linkedin-searches",
      "name": "Parse LinkedIn Searches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        1648
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_linkedin.searches (id, query_text, searched_at, updated_at, processed)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.query_text.replace(/'/g, \"''\") }}',\n  '{{ $json.searched_at }}',\n  NOW(),\n  0\n)\nON CONFLICT (id) \nDO UPDATE SET \n  updated_at = EXCLUDED.updated_at\nRETURNING id;",
        "options": {}
      },
      "id": "insert-searches",
      "name": "Insert/Upsert Searches",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        1648
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/rest/memberChangeLogs?q=memberAndApplication",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RestLi-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202312"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-linkedin-changelog-comments",
      "name": "Fetch LinkedIn Changelog Comments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        1840
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "linkedin-member-data-portability-api",
          "name": "LinkedIn Member Data Portability API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/rest/memberChangeLogs?q=memberAndApplication",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RestLi-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202312"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-linkedin-changelog-likes",
      "name": "Fetch LinkedIn Changelog Likes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        2032
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "linkedin-member-data-portability-api",
          "name": "LinkedIn Member Data Portability API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst items = $input.all();\n\nfor (const item of items) {\n  const data = item.json;\n  const elements = Array.isArray(data) ? data : (data.elements || [data]);\n\n  for (const element of elements) {\n    if (element.resourceName === 'socialActions/comments') {\n      const activity = element.activity || {};\n      const message = activity.message || {};\n      const content = message.text || '';\n      \n      let post_id = 'unknown';\n      if (activity.object) {\n        post_id = activity.object;\n      } else if (element.resourceUri) {\n        const match = element.resourceUri.match(/\\/socialActions\\/(urn:li:[a-zA-Z0-9_]+:[0-9]+)\\/comments/);\n        if (match) {\n          post_id = match[1];\n        }\n      }\n\n      const id = element.resourceId || element.id || `${post_id}_comment_${element.capturedAt}`;\n      const author = element.actor || activity.actor || 'me';\n      \n      const published_at_ms = (activity.created && activity.created.time) || element.capturedAt || element.processedAt;\n      const published_at = published_at_ms ? new Date(published_at_ms).toISOString() : new Date().toISOString();\n\n      results.push({\n        id: id.toString(),\n        post_id,\n        author,\n        content,\n        published_at,\n        processed: 0\n      });\n    }\n  }\n}\nreturn results;"
      },
      "id": "parse-linkedin-changelog-comments",
      "name": "Parse LinkedIn Changelog Comments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        1840
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst items = $input.all();\n\nfor (const item of items) {\n  const data = item.json;\n  const elements = Array.isArray(data) ? data : (data.elements || [data]);\n\n  for (const element of elements) {\n    if (element.resourceName === 'socialActions/likes') {\n      const activity = element.activity || {};\n      \n      let post_id = 'unknown';\n      if (activity.object) {\n        post_id = activity.object;\n      } else if (element.resourceId) {\n        post_id = element.resourceId;\n      } else if (element.resourceUri) {\n        const match = element.resourceUri.match(/\\/socialActions\\/(urn:li:[a-zA-Z0-9_]+:[0-9]+)\\/likes/);\n        if (match) {\n          post_id = match[1];\n        }\n      }\n\n      const author = element.actor || activity.actor || 'me';\n      const id = element.id || element.activityId || `${post_id}_like_${author}`;\n      \n      const published_at_ms = (activity.created && activity.created.time) || element.capturedAt || element.processedAt;\n      const published_at = published_at_ms ? new Date(published_at_ms).toISOString() : new Date().toISOString();\n\n      results.push({\n        id: id.toString(),\n        post_id,\n        author,\n        published_at,\n        processed: 0\n      });\n    }\n  }\n}\nreturn results;"
      },
      "id": "parse-linkedin-changelog-likes",
      "name": "Parse LinkedIn Changelog Likes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        2032
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_linkedin.social_action_comments (id, post_id, author, content, published_at, processed)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.post_id }}',\n  '{{ $json.author.replace(/'/g, \"''\") }}',\n  '{{ $json.content.replace(/'/g, \"''\") }}',\n  '{{ $json.published_at }}',\n  0\n)\nON CONFLICT (id) \nDO UPDATE SET content = EXCLUDED.content, author = EXCLUDED.author\nRETURNING id;",
        "options": {}
      },
      "id": "insert-changelog-comments",
      "name": "Insert/Upsert Changelog Comments",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        1840
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_linkedin.social_action_likes (id, post_id, author, published_at, processed)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.post_id }}',\n  '{{ $json.author.replace(/'/g, \"''\") }}',\n  '{{ $json.published_at }}',\n  0\n)\nON CONFLICT (id) \nDO UPDATE SET author = EXCLUDED.author\nRETURNING id;",
        "options": {}
      },
      "id": "insert-changelog-likes",
      "name": "Insert/Upsert Changelog Likes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        2032
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/rest/memberSnapshotData?q=criteria&domain=INVITATIONS",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RestLi-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202312"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "start",
                    "value": "={{ $pageCount * 100 }}"
                  },
                  {
                    "name": "count",
                    "value": "100"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ (Array.isArray($response.body) ? $response.body.length === 0 : (!$response.body.elements || $response.body.elements.length === 0)) }}"
            }
          }
        }
      },
      "id": "fetch-linkedin-all-invitations",
      "name": "Fetch LinkedIn All Invitations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        2224
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "linkedin-member-data-portability-api",
          "name": "LinkedIn Member Data Portability API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst items = $input.all();\nconst seen = new Set();\n\nfor (const item of items) {\n  const data = item.json;\n  const elements = Array.isArray(data) ? data : (data.elements || [data]);\n\n  for (const element of elements) {\n    if (element.snapshotData && Array.isArray(element.snapshotData)) {\n      for (const invite of element.snapshotData) {\n        const to_name = invite.To || '';\n        const from_name = invite.From || '';\n        const direction = invite.Direction || '';\n        const inviter_profile_url = invite.inviterProfileUrl || '';\n        const invitee_profile_url = invite.inviteeProfileUrl || '';\n        const message = invite.Message || '';\n        const sent_at_str = invite[\"Sent At\"] || '';\n\n        let sent_at = new Date().toISOString();\n        if (sent_at_str) {\n          sent_at = new Date(sent_at_str).toISOString();\n        }\n\n        const targetProfile = direction === 'OUTGOING' ? invitee_profile_url : inviter_profile_url;\n        const profileSlug = targetProfile ? targetProfile.split('/in/')[1] || targetProfile : 'unknown';\n        const id = `${direction.toLowerCase()}_${profileSlug.replace(/[^a-zA-Z0-9]/g, '_')}_${sent_at.replace(/[^a-zA-Z0-9]/g, '_')}`;\n\n        if (seen.has(id)) continue;\n        seen.add(id);\n\n        results.push({\n          id,\n          to_name,\n          from_name,\n          direction,\n          inviter_profile_url,\n          invitee_profile_url,\n          message,\n          sent_at,\n          processed: 0\n        });\n      }\n    }\n  }\n}\nreturn results;"
      },
      "id": "parse-linkedin-all-invitations",
      "name": "Parse LinkedIn All Invitations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        2224
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_linkedin.all_invitations (id, to_name, from_name, direction, inviter_profile_url, invitee_profile_url, message, sent_at, updated_at, processed)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.to_name.replace(/'/g, \"''\") }}',\n  '{{ $json.from_name.replace(/'/g, \"''\") }}',\n  '{{ $json.direction }}',\n  '{{ $json.inviter_profile_url }}',\n  '{{ $json.invitee_profile_url }}',\n  {{ $json.message ? \"'\" + $json.message.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  '{{ $json.sent_at }}',\n  NOW(),\n  0\n)\nON CONFLICT (id) \nDO UPDATE SET \n  message = EXCLUDED.message,\n  updated_at = EXCLUDED.updated_at\nRETURNING id;",
        "options": {}
      },
      "id": "insert-all-invitations",
      "name": "Insert/Upsert All Invitations",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        2224
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/rest/memberSnapshotData?q=criteria&domain=JOB_APPLICATIONS",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RestLi-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202312"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "start",
                    "value": "={{ $pageCount * 100 }}"
                  },
                  {
                    "name": "count",
                    "value": "100"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ (Array.isArray($response.body) ? $response.body.length === 0 : (!$response.body.elements || $response.body.elements.length === 0)) }}"
            }
          }
        }
      },
      "id": "fetch-linkedin-job-applications",
      "name": "Fetch LinkedIn Job Applications",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        2416
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "linkedin-member-data-portability-api",
          "name": "LinkedIn Member Data Portability API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst items = $input.all();\n\nfor (const item of items) {\n  const data = item.json;\n  const elements = Array.isArray(data) ? data : (data.elements || [data]);\n\n  for (const element of elements) {\n    if (element.snapshotData && Array.isArray(element.snapshotData)) {\n      for (const app of element.snapshotData) {\n        const company = app[\"Company Name\"] || app.Company || '';\n        const title = app[\"Job Title\"] || app.Title || app.JobTitle || '';\n        const date_str = app.Date || app[\"Application Date\"] || '';\n        const status = app.Status || app[\"Application Status\"] || 'APPLIED';\n        const job_url = app[\"Job Link\"] || app.Link || app.Url || app.JobUrl || '';\n\n        let application_date = new Date().toISOString();\n        if (date_str) {\n          application_date = new Date(date_str).toISOString();\n        }\n\n        const companySlug = company.toLowerCase().replace(/[^a-zA-Z0-9]/g, '_').substring(0, 30);\n        const titleSlug = title.toLowerCase().replace(/[^a-zA-Z0-9]/g, '_').substring(0, 30);\n        const id = `job_app_${application_date.replace(/[^a-zA-Z0-9]/g, '_')}_${companySlug}_${titleSlug}`;\n\n        results.push({\n          id,\n          company_name: company,\n          job_title: title,\n          application_date,\n          status,\n          job_url,\n          processed: 0\n        });\n      }\n    }\n  }\n}\nreturn results;"
      },
      "id": "parse-linkedin-job-applications",
      "name": "Parse LinkedIn Job Applications",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        2416
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_linkedin.job_applications (id, company_name, job_title, application_date, status, job_url, updated_at, processed)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.company_name.replace(/'/g, \"''\") }}',\n  '{{ $json.job_title.replace(/'/g, \"''\") }}',\n  '{{ $json.application_date }}',\n  '{{ $json.status }}',\n  '{{ $json.job_url }}',\n  NOW(),\n  0\n)\nON CONFLICT (id) \nDO UPDATE SET \n  status = EXCLUDED.status, \n  updated_at = EXCLUDED.updated_at\nRETURNING id;",
        "options": {}
      },
      "id": "insert-job-applications",
      "name": "Insert/Upsert Job Applications",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        2416
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/rest/memberSnapshotData?q=criteria&domain=JOB_SEEKER_PREFERENCES",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RestLi-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202312"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "start",
                    "value": "={{ $pageCount * 100 }}"
                  },
                  {
                    "name": "count",
                    "value": "100"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ (Array.isArray($response.body) ? $response.body.length === 0 : (!$response.body.elements || $response.body.elements.length === 0)) }}"
            }
          }
        }
      },
      "id": "fetch-linkedin-job-seeker-preferences",
      "name": "Fetch LinkedIn Job Seeker Preferences",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        2608
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "linkedin-member-data-portability-api",
          "name": "LinkedIn Member Data Portability API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst items = $input.all();\n\nfor (const item of items) {\n  const data = item.json;\n  const elements = Array.isArray(data) ? data : (data.elements || [data]);\n\n  for (const element of elements) {\n    if (element.snapshotData && Array.isArray(element.snapshotData)) {\n      for (const pref of element.snapshotData) {\n        const dream_companies = pref[\"Dream Companies\"] || pref.DreamCompanies || '';\n        const job_titles = pref[\"Job Titles\"] || pref.JobTitles || '';\n        const locations = pref.Locations || pref[\"Preferred Locations\"] || '';\n        const job_types = pref[\"Job Types\"] || pref.JobTypes || '';\n        const industries = pref.Industries || pref[\"Preferred Industries\"] || '';\n        const company_sizes = pref[\"Company Sizes\"] || pref.CompanySizes || '';\n        const activity_level = pref[\"Activity Level\"] || pref.ActivityLevel || pref[\"Job Search Status\"] || '';\n\n        const date_str = pref.Date || pref[\"Updated At\"] || '';\n        let updated_at = new Date().toISOString();\n        if (date_str) {\n          updated_at = new Date(date_str).toISOString();\n        }\n\n        const id = `pref_${updated_at.replace(/[^a-zA-Z0-9]/g, '_')}`;\n\n        results.push({\n          id,\n          dream_companies: Array.isArray(dream_companies) ? dream_companies.join(', ') : dream_companies.toString(),\n          job_titles: Array.isArray(job_titles) ? job_titles.join(', ') : job_titles.toString(),\n          locations: Array.isArray(locations) ? locations.join(', ') : locations.toString(),\n          job_types: Array.isArray(job_types) ? job_types.join(', ') : job_types.toString(),\n          industries: Array.isArray(industries) ? industries.join(', ') : industries.toString(),\n          company_sizes: Array.isArray(company_sizes) ? company_sizes.join(', ') : company_sizes.toString(),\n          activity_level: activity_level.toString(),\n          updated_at,\n          processed: 0\n        });\n      }\n    }\n  }\n}\nreturn results;"
      },
      "id": "parse-linkedin-job-seeker-preferences",
      "name": "Parse LinkedIn Job Seeker Preferences",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        2608
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_linkedin.job_seeker_preferences (id, dream_companies, job_titles, locations, job_types, industries, company_sizes, activity_level, updated_at, processed)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.dream_companies.replace(/'/g, \"''\") }}',\n  '{{ $json.job_titles.replace(/'/g, \"''\") }}',\n  '{{ $json.locations.replace(/'/g, \"''\") }}',\n  '{{ $json.job_types.replace(/'/g, \"''\") }}',\n  '{{ $json.industries.replace(/'/g, \"''\") }}',\n  '{{ $json.company_sizes.replace(/'/g, \"''\") }}',\n  '{{ $json.activity_level.replace(/'/g, \"''\") }}',\n  '{{ $json.updated_at }}',\n  0\n)\nON CONFLICT (id) \nDO UPDATE SET \n  dream_companies = EXCLUDED.dream_companies,\n  job_titles = EXCLUDED.job_titles,\n  locations = EXCLUDED.locations,\n  job_types = EXCLUDED.job_types,\n  industries = EXCLUDED.industries,\n  company_sizes = EXCLUDED.company_sizes,\n  activity_level = EXCLUDED.activity_level,\n  updated_at = EXCLUDED.updated_at\nRETURNING id;",
        "options": {}
      },
      "id": "insert-job-seeker-preferences",
      "name": "Insert/Upsert Job Seeker Preferences",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        2608
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/rest/memberSnapshotData?q=criteria&domain=INBOX",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RestLi-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202312"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "start",
                    "value": "={{ $pageCount * 100 }}"
                  },
                  {
                    "name": "count",
                    "value": "100"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ (Array.isArray($response.body) ? $response.body.length === 0 : (!$response.body.elements || $response.body.elements.length === 0)) }}"
            }
          }
        }
      },
      "id": "fetch-linkedin-all-messages",
      "name": "Fetch LinkedIn All Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        2800
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "linkedin-member-data-portability-api",
          "name": "LinkedIn Member Data Portability API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst items = $input.all();\n\nfor (const item of items) {\n  const data = item.json;\n  const elements = Array.isArray(data) ? data : (data.elements || [data]);\n\n  for (const element of elements) {\n    if (element.snapshotData && Array.isArray(element.snapshotData)) {\n      for (const msg of element.snapshotData) {\n        const conversation_id = msg[\"CONVERSATION ID\"] || '';\n        const date_str = msg[\"DATE\"] || '';\n        const sender_profile_url = msg[\"SENDER PROFILE URL\"] || '';\n        const recipient_profile_urls = msg[\"RECIPIENT PROFILE URLS\"] || '';\n        const sender_name = msg[\"FROM\"] || '';\n        const recipient_name = msg[\"TO\"] || '';\n        const subject = msg[\"SUBJECT\"] || '';\n        const content = msg[\"CONTENT\"] || '';\n        const folder = msg[\"FOLDER\"] || '';\n\n        let sent_at = new Date().toISOString();\n        if (date_str) {\n          sent_at = new Date(date_str).toISOString();\n        }\n\n        const senderSlug = sender_profile_url ? sender_profile_url.split('/in/')[1] || sender_profile_url : 'unknown';\n        const id = `${conversation_id}_${sent_at.replace(/[^a-zA-Z0-9]/g, '_')}_${senderSlug.replace(/[^a-zA-Z0-9]/g, '_')}`;\n\n        results.push({\n          id,\n          conversation_id,\n          sender_name,\n          recipient_name,\n          sender_profile_url,\n          recipient_profile_urls,\n          subject,\n          content,\n          folder,\n          sent_at,\n          processed: 0\n        });\n      }\n    }\n  }\n}\nreturn results;"
      },
      "id": "parse-linkedin-all-messages",
      "name": "Parse LinkedIn All Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        2800
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_linkedin.all_messages (id, conversation_id, sender_name, recipient_name, sender_profile_url, recipient_profile_urls, subject, content, folder, sent_at, updated_at, processed)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.conversation_id }}',\n  '{{ $json.sender_name.replace(/'/g, \"''\") }}',\n  '{{ $json.recipient_name.replace(/'/g, \"''\") }}',\n  '{{ $json.sender_profile_url }}',\n  '{{ $json.recipient_profile_urls }}',\n  '{{ $json.subject.replace(/'/g, \"''\") }}',\n  '{{ $json.content.replace(/'/g, \"''\") }}',\n  '{{ $json.folder }}',\n  '{{ $json.sent_at }}',\n  NOW(),\n  0\n)\nON CONFLICT (id) \nDO UPDATE SET \n  content = EXCLUDED.content,\n  updated_at = EXCLUDED.updated_at\nRETURNING id;",
        "options": {}
      },
      "id": "insert-all-messages",
      "name": "Insert/Upsert All Messages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        2800
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/rest/memberSnapshotData?q=criteria&domain=INSTANT_REPOSTS",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RestLi-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202312"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "start",
                    "value": "={{ $pageCount * 100 }}"
                  },
                  {
                    "name": "count",
                    "value": "100"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ (Array.isArray($response.body) ? $response.body.length === 0 : (!$response.body.elements || $response.body.elements.length === 0)) }}"
            }
          }
        }
      },
      "id": "fetch-linkedin-instant-reposts",
      "name": "Fetch LinkedIn Instant Reposts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        2992
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "linkedin-member-data-portability-api",
          "name": "LinkedIn Member Data Portability API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst items = $input.all();\n\nfor (const item of items) {\n  const data = item.json;\n  const elements = Array.isArray(data) ? data : (data.elements || [data]);\n\n  for (const element of elements) {\n    if (element.snapshotData && Array.isArray(element.snapshotData)) {\n      for (const repost of element.snapshotData) {\n        const link = repost.Link || repost.link || repost['Original Post URL'] || '';\n        const date_str = repost.Date || repost.date || repost['Reposted At'] || '';\n        const author = repost.Author || repost.author || repost['Original Author'] || '';\n        const commentary = repost.Commentary || repost.commentary || repost.Message || repost.message || '';\n\n        let original_post_id = 'unknown';\n        if (link) {\n          const decodedLink = decodeURIComponent(link);\n          const urnMatch = decodedLink.match(/(urn:li:[a-zA-Z0-9_]+:[0-9]+)/);\n          if (urnMatch) {\n            original_post_id = urnMatch[1];\n          }\n        }\n\n        let reposted_at = new Date().toISOString();\n        if (date_str) {\n          reposted_at = new Date(date_str).toISOString();\n        }\n\n        const id = `repost_${original_post_id}_${reposted_at.replace(/[^a-zA-Z0-9]/g, '_')}`;\n\n        results.push({\n          id,\n          original_post_id,\n          original_author: author,\n          repost_commentary: commentary,\n          reposted_at,\n          processed: 0\n        });\n      }\n    }\n  }\n}\nreturn results;"
      },
      "id": "parse-linkedin-instant-reposts",
      "name": "Parse LinkedIn Instant Reposts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        2992
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO s_linkedin.instant_reposts (id, original_post_id, original_author, repost_commentary, reposted_at, updated_at, processed)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.original_post_id }}',\n  '{{ $json.original_author.replace(/'/g, \"''\") }}',\n  {{ $json.repost_commentary ? \"'\" + $json.repost_commentary.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  '{{ $json.reposted_at }}',\n  NOW(),\n  0\n)\nON CONFLICT (id)\nDO UPDATE SET\n  repost_commentary = EXCLUDED.repost_commentary,\n  updated_at = EXCLUDED.updated_at\nRETURNING id;",
        "options": {}
      },
      "id": "insert-instant-reposts",
      "name": "Insert/Upsert Instant Reposts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        2992
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch LinkedIn Posts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch LinkedIn Comments",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch LinkedIn Likes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch LinkedIn Invitations",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch LinkedIn Messages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch LinkedIn Connections",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch LinkedIn Following",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch LinkedIn Searches",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch LinkedIn Changelog Comments",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch LinkedIn Changelog Likes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch LinkedIn All Invitations",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch LinkedIn Job Applications",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch LinkedIn Job Seeker Preferences",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch LinkedIn All Messages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch LinkedIn Instant Reposts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch LinkedIn Posts": {
      "main": [
        [
          {
            "node": "Parse LinkedIn Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LinkedIn Posts": {
      "main": [
        [
          {
            "node": "Insert/Upsert UGC Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch LinkedIn Comments": {
      "main": [
        [
          {
            "node": "Parse LinkedIn Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch LinkedIn Likes": {
      "main": [
        [
          {
            "node": "Parse LinkedIn Likes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch LinkedIn Invitations": {
      "main": [
        [
          {
            "node": "Parse LinkedIn Invitations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch LinkedIn Messages": {
      "main": [
        [
          {
            "node": "Parse LinkedIn Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LinkedIn Comments": {
      "main": [
        [
          {
            "node": "Insert/Upsert Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LinkedIn Likes": {
      "main": [
        [
          {
            "node": "Insert/Upsert Likes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LinkedIn Invitations": {
      "main": [
        [
          {
            "node": "Insert/Upsert Invitations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LinkedIn Messages": {
      "main": [
        [
          {
            "node": "Insert/Upsert Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch LinkedIn Connections": {
      "main": [
        [
          {
            "node": "Parse LinkedIn Connections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LinkedIn Connections": {
      "main": [
        [
          {
            "node": "Insert/Upsert Connections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch LinkedIn Following": {
      "main": [
        [
          {
            "node": "Parse LinkedIn Following",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LinkedIn Following": {
      "main": [
        [
          {
            "node": "Insert/Upsert Following",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch LinkedIn Searches": {
      "main": [
        [
          {
            "node": "Parse LinkedIn Searches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LinkedIn Searches": {
      "main": [
        [
          {
            "node": "Insert/Upsert Searches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch LinkedIn Changelog Comments": {
      "main": [
        [
          {
            "node": "Parse LinkedIn Changelog Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LinkedIn Changelog Comments": {
      "main": [
        [
          {
            "node": "Insert/Upsert Changelog Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch LinkedIn Changelog Likes": {
      "main": [
        [
          {
            "node": "Parse LinkedIn Changelog Likes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LinkedIn Changelog Likes": {
      "main": [
        [
          {
            "node": "Insert/Upsert Changelog Likes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch LinkedIn All Invitations": {
      "main": [
        [
          {
            "node": "Parse LinkedIn All Invitations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LinkedIn All Invitations": {
      "main": [
        [
          {
            "node": "Insert/Upsert All Invitations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch LinkedIn Job Applications": {
      "main": [
        [
          {
            "node": "Parse LinkedIn Job Applications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LinkedIn Job Applications": {
      "main": [
        [
          {
            "node": "Insert/Upsert Job Applications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch LinkedIn Job Seeker Preferences": {
      "main": [
        [
          {
            "node": "Parse LinkedIn Job Seeker Preferences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LinkedIn Job Seeker Preferences": {
      "main": [
        [
          {
            "node": "Insert/Upsert Job Seeker Preferences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch LinkedIn All Messages": {
      "main": [
        [
          {
            "node": "Parse LinkedIn All Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LinkedIn All Messages": {
      "main": [
        [
          {
            "node": "Insert/Upsert All Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch LinkedIn Instant Reposts": {
      "main": [
        [
          {
            "node": "Parse LinkedIn Instant Reposts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LinkedIn Instant Reposts": {
      "main": [
        [
          {
            "node": "Insert/Upsert Instant Reposts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
