src/n8n/workflows/data_ingestion/data_ingestion_buffer.json
{
  "id": "buffer-ingestion-workflow",
  "name": "Data Ingestion - Buffer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.buffer.com",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"query GetOrganizations { account { organizations { id name } } }\"\n}",
        "options": {}
      },
      "id": "fetch-organizations",
      "name": "Fetch Organizations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        300,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "buffer-api-cred",
          "name": "Buffer API Credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = [];\nconst items = $input.all();\nfor (const item of items) {\n  const orgs = item.json.data?.account?.organizations || [];\n  for (const org of orgs) {\n    results.push({\n      json: {\n        id: org.id,\n        name: org.name\n      }\n    });\n  }\n}\nreturn results;"
      },
      "id": "parse-organizations",
      "name": "Parse Organizations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.buffer.com",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"query GetChannels { channels(input: { organizationId: \\\"{{ $json.id }}\\\"}) { id name service } }\"\n}",
        "options": {}
      },
      "id": "fetch-channels",
      "name": "Fetch Channels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        700,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "buffer-api-cred",
          "name": "Buffer API Credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = [];\nconst items = $input.all();\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  let orgItem;\n  try {\n    orgItem = $('Parse Organizations').all()[i].json;\n  } catch (e) {\n    console.error('Could not get organization details:', e.message);\n  }\n  const orgId = orgItem ? orgItem.id : '';\n\n  const channels = item.json.data?.channels || [];\n  for (const channel of channels) {\n    results.push({\n      json: {\n        id: channel.id,\n        name: channel.name,\n        service: channel.service,\n        organization_id: orgId\n      }\n    });\n  }\n}\nreturn results;"
      },
      "id": "parse-channels",
      "name": "Parse Channels",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.buffer.com",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"query GetPosts { posts(first: 50, input: { organizationId: \\\"{{ $json.organization_id }}\\\", filter: { channelIds: [\\\"{{ $json.id }}\\\"] } }) { edges { node { id text dueAt status metrics { type value } } } } }\"\n}",
        "options": {}
      },
      "id": "fetch-posts",
      "name": "Fetch Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1100,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "buffer-api-cred",
          "name": "Buffer API Credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = [];\nconst items = $input.all();\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  let channelItem;\n  try {\n    channelItem = $('Parse Channels').all()[i].json;\n  } catch (e) {\n    console.error('Could not get channel details:', e.message);\n  }\n  const channelId = channelItem ? channelItem.id : '';\n\n  const edges = item.json.data?.posts?.edges || [];\n  for (const edge of edges) {\n    const post = edge.node;\n    if (post) {\n      results.push({\n        json: {\n          id: post.id,\n          text: post.text || '',\n          channel_id: channelId,\n          due_at: post.dueAt ? new Date(post.dueAt).toISOString() : null,\n          status: post.status || 'unknown',\n          assets: [],\n          metrics: post.metrics || []\n        }\n      });\n    }\n  }\n}\nreturn results;"
      },
      "id": "parse-posts",
      "name": "Parse Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO s_buffer.posts (id, text, channel_id, due_at, status, assets, metrics, processed)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.text.replace(/'/g, \"''\") }}',\n  '{{ $json.channel_id }}',\n  {{ $json.due_at ? \"'\" + $json.due_at + \"'\" : 'NULL' }},\n  '{{ $json.status }}',\n  '{{ JSON.stringify($json.assets) }}'::jsonb,\n  '{{ JSON.stringify($json.metrics) }}'::jsonb,\n  0\n)\nON CONFLICT (id) \nDO UPDATE SET \n  text = EXCLUDED.text,\n  status = EXCLUDED.status,\n  due_at = EXCLUDED.due_at,\n  assets = EXCLUDED.assets,\n  metrics = EXCLUDED.metrics,\n  updated_at = NOW();"
      },
      "id": "insert-posts",
      "name": "Insert/Update Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1500,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO s_buffer.channels (id, name, service, organization_id, active)\nVALUES ('{{ $json.id }}', '{{ $json.name.replace(/'/g, \"''\") }}', '{{ $json.service }}', '{{ $json.organization_id }}', true)\nON CONFLICT (id) \nDO UPDATE SET name = EXCLUDED.name, service = EXCLUDED.service, organization_id = EXCLUDED.organization_id, updated_at = NOW();"
      },
      "id": "insert-channels",
      "name": "Insert/Update Channels",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1100,
        150
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE s_buffer.posts\nSET\n  reactions = COALESCE((SELECT (m->>'value')::integer FROM jsonb_array_elements(metrics) m WHERE m->>'type' = 'reactions'), 0),\n  comments = COALESCE((SELECT (m->>'value')::integer FROM jsonb_array_elements(metrics) m WHERE m->>'type' = 'comments'), 0),\n  shares = COALESCE((SELECT (m->>'value')::integer FROM jsonb_array_elements(metrics) m WHERE m->>'type' = 'shares'), 0),\n  reposts = COALESCE((SELECT (m->>'value')::integer FROM jsonb_array_elements(metrics) m WHERE m->>'type' = 'reposts'), 0),\n  clicks = COALESCE((SELECT (m->>'value')::integer FROM jsonb_array_elements(metrics) m WHERE m->>'type' = 'clicks'), 0),\n  reach = COALESCE((SELECT (m->>'value')::integer FROM jsonb_array_elements(metrics) m WHERE m->>'type' = 'reach'), 0),\n  impressions = COALESCE((SELECT (m->>'value')::integer FROM jsonb_array_elements(metrics) m WHERE m->>'type' = 'impressions'), 0),\n  views = COALESCE((SELECT (m->>'value')::integer FROM jsonb_array_elements(metrics) m WHERE m->>'type' = 'views'), 0),\n  engagement_rate = COALESCE((SELECT (m->>'value')::numeric FROM jsonb_array_elements(metrics) m WHERE m->>'type' = 'engagementRate'), 0.00)\nWHERE id = '{{ $json.id }}';"
      },
      "id": "extract-metrics-node",
      "name": "Extract metrics to columns",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1700,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Organizations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Organizations": {
      "main": [
        [
          {
            "node": "Parse Organizations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Organizations": {
      "main": [
        [
          {
            "node": "Fetch Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Channels": {
      "main": [
        [
          {
            "node": "Parse Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Channels": {
      "main": [
        [
          {
            "node": "Fetch Posts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert/Update Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Posts": {
      "main": [
        [
          {
            "node": "Parse Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Posts": {
      "main": [
        [
          {
            "node": "Insert/Update Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert/Update Database": {
      "main": [
        [
          {
            "node": "Extract metrics to columns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
