src/n8n/workflows/ai_retrieval/ai_summary_content_marketing.json
{
  "id": "AiSummaryContentMarketing",
  "name": "AI Summary Content Marketing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "value": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const queryText = 'personal branding, content marketing, data engineering, artificial intelligence';\nreturn [{ json: { query: queryText } }];"
      },
      "id": "prepare-rag-query",
      "name": "Prepare RAG Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "mode": "load",
        "tableName": "m_embeddings.notion_pages",
        "prompt": "={{ $('Prepare RAG Query').first().json.query }}",
        "options": {
          "limit": 3,
          "columnNames": {
            "values": {
              "idColumnName": "id",
              "contentColumnName": "content",
              "metadataColumnName": "metadata",
              "vectorColumnName": "embedding"
            }
          }
        }
      },
      "id": "retrieve-notion-pages",
      "name": "Retrieve Notion Pages",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1,
      "position": [
        550,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "tableName": "m_embeddings.substack_posts",
        "prompt": "={{ $('Prepare RAG Query').first().json.query }}",
        "options": {
          "limit": 3,
          "columnNames": {
            "values": {
              "idColumnName": "id",
              "contentColumnName": "content",
              "metadataColumnName": "metadata",
              "vectorColumnName": "embedding"
            }
          }
        }
      },
      "id": "retrieve-substack-posts",
      "name": "Retrieve Substack Posts",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1,
      "position": [
        550,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "tableName": "m_embeddings.linkedin_posts",
        "prompt": "={{ $('Prepare RAG Query').first().json.query }}",
        "options": {
          "limit": 3,
          "columnNames": {
            "values": {
              "idColumnName": "id",
              "contentColumnName": "content",
              "metadataColumnName": "metadata",
              "vectorColumnName": "embedding"
            }
          }
        }
      },
      "id": "retrieve-linkedin-posts",
      "name": "Retrieve LinkedIn Posts",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1,
      "position": [
        550,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "model": "sentence-transformers/all-mpnet-base-v2"
      },
      "id": "embeddings-hugging-face-inference",
      "name": "Embeddings Hugging Face Inference",
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        550,
        700
      ],
      "credentials": {
        "huggingFaceApi": {
          "id": "hugging-face-api",
          "name": "Hugging Face API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const notionDocs = $('Retrieve Notion Pages').all();\nconst substackDocs = $('Retrieve Substack Posts').all();\nconst linkedinDocs = $('Retrieve LinkedIn Posts').all();\n\nlet ragContext = '### RELEVANT HISTORICAL CONTENT & KNOWLEDGE (RAG) ###\\n\\n';\n\nfunction addDocs(docs, sourceName) {\n  if (docs.length === 0) return;\n  docs.forEach((doc, idx) => {\n    const metadata = doc.json.metadata || {};\n    const title = metadata.title || 'Untitled';\n    const content = doc.json.pageContent || doc.json.content || '';\n    ragContext += `[Source: ${sourceName} | Title: ${title}]\\n`;\n    ragContext += `Content: ${content.substring(0, 1000)}\\n`;\n    ragContext += `---\\n\\n`;\n  });\n}\n\naddDocs(notionDocs, 'Notion');\naddDocs(substackDocs, 'Substack');\naddDocs(linkedinDocs, 'LinkedIn');\n\nreturn [{ json: { rag_context: ragContext } }];"
      },
      "id": "format-rag-context",
      "name": "Format RAG Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const ragContext = $('Format RAG Context').first()?.json?.rag_context || '';\nconst fs = require('fs');\nlet persona = '';\ntry {\n  persona = fs.readFileSync('/etc/n8n/giusy.md', 'utf8');\n} catch (e) {\n  persona = 'Warm, brilliant AI Marketing Director named Giusy.';\n}\n\nreturn [{ json: { text: 'No weekly activity data (retrieval only).', rag_context: ragContext, ref_map: {}, giusy_persona: persona, comments_list: [], messages_list: [], invitations_list: [] } }];"
      },
      "id": "format-data-for-llm",
      "name": "Format Data for LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "={{ $env.OLLAMA_CLOUD_MODEL || 'gemma3:4b' }}",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=### LANGUAGE RULE ###\nWrite everything in ENGLISH. One Italian greeting at the start (e.g. Buongiorno Don Jimmy \u2605) and one Italian sign-off at the end (e.g. Buon lavoro). All content in between: ENGLISH.\n\n### YOUR PERSONA & CONTEXT ###\nYou are Giusy, Don Jimmy's brilliant AI Marketing Director and Brand Strategist. Creative, sharp, highly communicative, and growth-oriented. Use Unicode emojis directly.\nCRITICAL CONTEXT: This is for Don Jimmy's personal LinkedIn account. Focus on his personal brand, networking, and engagement. Do NOT focus on the content marketing and positioning for Data Biz (AI/Data Consultancy) yet; that will be handled later in a separate workflow.\n\n### YOUR TASK ###\nProvide a marketing critique and strategy advice to maximize impressions, engagement, and conversion.\n\nUse the provided RAG context containing relevant past posts and knowledge base documents from Don Jimmy's history to:\n- Ground your suggestions in his established topics and tone of voice.\n- Suggest references, links, or repurposing strategies for past content when relevant.\n- Identify themes that align with or build upon his previous writing.\n\nReturn a JSON object with this exact structure \u2014 no extra text, no markdown fences, just raw JSON:\n\n{\n  \"greeting\": \"One short warm Italian greeting line for Don Jimmy\",\n  \"outbound_activity_critique\": {\n    \"overview\": \"A short high-level overview comment evaluating our branding direction based on history.\",\n    \"bulletpoints\": [\n      \"One key strategic critique or recommendation.\",\n      \"Another specific observation.\"\n    ]\n  },\n  \"inbox_and_leads_analysis\": {\n    \"overview\": \"A short high-level overview comment of target audience interest and branding alignment.\",\n    \"bulletpoints\": [\n      \"One key strategic observation.\",\n      \"Another specific observation.\"\n    ]\n  },\n  \"community_and_lead_actions\": [\n    {\n      \"type\": \"Strategy recommendation\",\n      \"target\": \"Branding Strategy\",\n      \"actionable_reply\": \"Actionable recommendation for Don Jimmy to write about or engage with.\"\n    }\n  ],\n  \"strategic_writing_directives\": [\n    \"Specific writing directives and recommendations for future LinkedIn writing based on RAG context\"\n  ],\n  \"signoff\": \"One short warm Italian sign-off line\"\n}\n\nRules:\n- Output only valid JSON. No explanation, no markdown, no code fences.\n\n### RAG CONTEXT (PAST CONTENT) ###\n{{ $json.rag_context }}\n\n### LINKEDIN DATA ###\n{{ $json.text }}"
            }
          ]
        },
        "options": {
          "format": "json"
        }
      },
      "id": "Summarize via Ollama Cloud",
      "name": "Summarize via Ollama Cloud",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        1200,
        300
      ],
      "credentials": {
        "ollamaApi": {
          "id": "ollama-cloud-api",
          "name": "Ollama Cloud API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const raw = $input.first().json.content || $input.first().json.response || '';\nconst refMap = $('Format Data for LLM').first().json.ref_map || {};\nconst commentsList = $('Format Data for LLM').first().json.comments_list || [];\nconst messagesList = $('Format Data for LLM').first().json.comments_list || [];\nconst invitationsList = $('Format Data for LLM').first().json.invitations_list || [];\n\nlet jsonStr = raw.trim();\nconst firstBrace = jsonStr.indexOf('{');\nconst lastBrace = jsonStr.lastIndexOf('}');\nif (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) {\n  jsonStr = jsonStr.substring(firstBrace, lastBrace + 1);\n}\n\njsonStr = jsonStr.replace(/[\\u201C\\u201D\\u201E\\u201F\\u2033\\u2036]/g, '\"');\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  try {\n    const cleanedStr = jsonStr.replace(/,\\s*([}\\]])/g, '$1');\n    parsed = JSON.parse(cleanedStr);\n  } catch (err) {\n    return [{ json: { response: raw } }];\n  }\n}\n\nconst greeting = parsed.greeting || '';\nconst signoff = parsed.signoff || '';\nconst outbound = parsed.outbound_activity_critique || {};\nconst inbox = parsed.inbox_and_leads_analysis || {};\nconst communityActions = Array.isArray(parsed.community_and_lead_actions) ? parsed.community_and_lead_actions : [];\nconst strategicDirectives = Array.isArray(parsed.strategic_writing_directives) ? parsed.strategic_writing_directives : [];\n\nfunction addSlackLinks(text) {\n  let linkedText = text;\n  linkedText = linkedText.replaceAll('**', '*');\n  return linkedText;\n}\n\nconst outputs = [];\n\n// 1. Outbound Activity Critique\nif (outbound && (outbound.overview || (Array.isArray(outbound.bulletpoints) && outbound.bulletpoints.length > 0))) {\n  let outboundMsg = '';\n  if (greeting) {\n    outboundMsg += `${greeting}\\n\\n`;\n  }\n  outboundMsg += `\ud83e\udded *1. Outbound Activity Critique* \ud83e\udded\\n`;\n  if (outbound.overview) {\n    outboundMsg += `${outbound.overview}\\n\\n`;\n  }\n  if (Array.isArray(outbound.bulletpoints) && outbound.bulletpoints.length > 0) {\n    outbound.bulletpoints.forEach(bullet => {\n      outboundMsg += `\u2022 ${bullet}\\n`;\n    });\n  }\n  outputs.push({ json: { response: addSlackLinks(outboundMsg.trim()) } });\n}\n\n// 2. Inbox & Leads Analysis\nif (inbox && (inbox.overview || (Array.isArray(inbox.bulletpoints) && inbox.bulletpoints.length > 0))) {\n  let inboxMsg = `\ud83d\udce5 *2. Inbox & Leads Analysis* \ud83d\udce5\\n`;\n  if (inbox.overview) {\n    inboxMsg += `${inbox.overview}\\n\\n`;\n  }\n  if (Array.isArray(inbox.bulletpoints) && inbox.bulletpoints.length > 0) {\n    inbox.bulletpoints.forEach(bullet => {\n      inboxMsg += `\u2022 ${bullet}\\n`;\n    });\n  }\n  outputs.push({ json: { response: addSlackLinks(inboxMsg.trim()) } });\n}\n\n// 3. Community & Lead Actions\nif (communityActions.length > 0) {\n  let communityMsg = `\ud83e\udd1d *3. Community & Lead Actions* \ud83e\udd1d\\n`;\n  communityActions.forEach(action => {\n    communityMsg += `\u2022 *${action.type || 'Action'}* with *${action.target || 'Community'}*:\\n  _\"${action.actionable_reply}\"_\\n`;\n  });\n  outputs.push({ json: { response: addSlackLinks(communityMsg.trim()) } });\n}\n\n// 4. Strategic Writing Directives\nif (strategicDirectives.length > 0) {\n  let strategicMsg = `\u270d\ufe0f *4. Strategic Writing Directives* \u270d\ufe0f\\n`;\n  strategicDirectives.forEach(rec => {\n    strategicMsg += `\u2022 ${rec}\\n`;\n  });\n  if (signoff) {\n    strategicMsg += `\\n${signoff}`;\n  }\n  outputs.push({ json: { response: addSlackLinks(strategicMsg.trim()) } });\n} else if (signoff) {\n  outputs.push({ json: { response: addSlackLinks(signoff) } });\n}\n\nreturn outputs;"
      },
      "id": "build-slack-message",
      "name": "Build Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        300
      ]
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_MARKETING_CHANNEL || 'content' }}",
        "text": "={{ $json.response }}",
        "otherOptions": {}
      },
      "id": "post-to-slack",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1600,
        300
      ],
      "credentials": {
        "slackApi": {
          "id": "slack-giusy-cred",
          "name": "Slack Giusy Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Prepare RAG Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare RAG Query": {
      "main": [
        [
          {
            "node": "Retrieve Notion Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Notion Pages": {
      "main": [
        [
          {
            "node": "Retrieve Substack Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Substack Posts": {
      "main": [
        [
          {
            "node": "Retrieve LinkedIn Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve LinkedIn Posts": {
      "main": [
        [
          {
            "node": "Format RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Hugging Face Inference": {
      "ai_embedding": [
        [
          {
            "node": "Retrieve Notion Pages",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Retrieve Substack Posts",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Retrieve LinkedIn Posts",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Format RAG Context": {
      "main": [
        [
          {
            "node": "Format Data for LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data for LLM": {
      "main": [
        [
          {
            "node": "Summarize via Ollama Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize via Ollama Cloud": {
      "main": [
        [
          {
            "node": "Build Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Message": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Slack": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
