src/n8n/workflows/ai_retrieval/cge_linkedin_publisher.json
{
  "id": "CgeLinkedinPublisher",
  "name": "CGE - LinkedIn Publisher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "(SELECT id, channel, content \n FROM t_content_generation.linkedin_posts\n WHERE channel = 'individual'\n   AND is_approved = TRUE\n   AND is_scheduled = TRUE\n   AND is_published = FALSE\n   AND published_at IS NULL\n   AND scheduled_at <= NOW()\n ORDER BY scheduled_at ASC\n LIMIT 1)\nUNION ALL\n(SELECT id, channel, content \n FROM t_content_generation.linkedin_posts\n WHERE channel = 'databiz'\n   AND is_approved = TRUE\n   AND is_scheduled = TRUE\n   AND is_published = FALSE\n   AND published_at IS NULL\n   AND scheduled_at <= NOW()\n ORDER BY scheduled_at ASC\n LIMIT 1);",
        "options": {}
      },
      "id": "fetch-due-posts",
      "name": "Fetch Due Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        300,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "channel-check",
              "leftValue": "={{ $json.channel }}",
              "rightValue": "individual",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "branch-by-channel",
      "name": "Branch by Channel",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/userinfo",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RestLi-Protocol-Version",
              "value": "2.0.0"
            }
          ]
        },
        "options": {}
      },
      "id": "get-member-urn",
      "name": "Get Member URN",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        150
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "linkedin-oauth2-api",
          "name": "LinkedIn OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/rest/posts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RestLi-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202603"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"author\":\"urn:li:person:{{ $json.sub }}\",\"commentary\":\"{{ $('Fetch Due Posts').item.json.content.replace(/\\n/g, '\\\\n').replace(/\"/g, '\\\\\"') }}\",\"visibility\":\"PUBLIC\",\"distribution\":{\"feedDistribution\":\"MAIN_FEED\",\"targetEntities\":[],\"thirdPartyDistributionChannels\":[]},\"lifecycleState\":\"PUBLISHED\",\"isReshareDisabledByAuthor\":false}",
        "options": {}
      },
      "id": "publish-to-linkedin",
      "name": "Publish to LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        150
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "linkedin-oauth2-api",
          "name": "LinkedIn OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE t_content_generation.linkedin_posts\nSET status = 'published',\n    is_published = TRUE,\n    published_at = NOW(),\n    external_post_id = '{{ $json.headers[\"x-restli-id\"] || \"\" }}',\n    updated_at = NOW()\nWHERE id = {{ $('Fetch Due Posts').item.json.id }};",
        "options": {}
      },
      "id": "update-db-on-success-individual",
      "name": "Update DB on Success (Individual)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1100,
        150
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "url": "https://zernio.com/api/v1/accounts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "fetch-zernio-accounts",
      "name": "Fetch Zernio Accounts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        450
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zernio-api-cred",
          "name": "Zernio API Credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const accounts = $input.all();\nconst duePost = $('Fetch Due Posts').item.json;\nconst orgAccount = accounts.find(acc => \n  acc.json.platform && \n  acc.json.platform.toLowerCase() === 'linkedin' && \n  acc.json.metadata && \n  acc.json.metadata.accountType === 'organization'\n);\nif (!orgAccount) {\n  throw new Error(\"No LinkedIn Organization account found on Zernio.\");\n}\nreturn [{ json: { \n  accountId: orgAccount.json.accountId || orgAccount.json.id, \n  content: duePost.content,\n  post_id: duePost.id\n} }];"
      },
      "id": "resolve-account-id",
      "name": "Resolve Account ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        450
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zernio.com/api/v1/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"content\":\"{{ $json.content.replace(/\\n/g, '\\\\n').replace(/\"/g, '\\\\\"') }}\",\"platforms\":[{\"platform\":\"linkedin\",\"accountId\":\"{{ $json.accountId }}\"}],\"publishNow\":true}",
        "options": {}
      },
      "id": "post-to-zernio",
      "name": "Post to Zernio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        450
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zernio-api-cred",
          "name": "Zernio API Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE t_content_generation.linkedin_posts\nSET status = 'published',\n    is_published = TRUE,\n    published_at = NOW(),\n    external_post_id = '{{ $json.id || $json.postId || \"\" }}',\n    updated_at = NOW()\nWHERE id = {{ $('Fetch Due Posts').item.json.id }};",
        "options": {}
      },
      "id": "update-db-on-success-databiz",
      "name": "Update DB on Success (Data Biz)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1300,
        450
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_MARKETING_CHANNEL || 'content' }}",
        "text": "=🚀 *LinkedIn Post Published ({{ $('Fetch Due Posts').item.json.channel === 'individual' ? 'Individual' : 'Data Biz' }})!*\n\n*Post ID:* {{ $('Fetch Due Posts').item.json.id }}\n\n*Content:*\n>>>{{ $('Fetch Due Posts').item.json.content }}\n",
        "otherOptions": {},
        "attachments": []
      },
      "id": "notify-slack-on-publish",
      "name": "Notify Slack on Publish",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1550,
        300
      ],
      "credentials": {
        "slackApi": {
          "id": "slack-giusy-cred",
          "name": "Slack Giusy Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Due Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Due Posts": {
      "main": [
        [
          {
            "node": "Branch by Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Branch by Channel": {
      "main": [
        [
          {
            "node": "Get Member URN",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Zernio Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Member URN": {
      "main": [
        [
          {
            "node": "Publish to LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to LinkedIn": {
      "main": [
        [
          {
            "node": "Update DB on Success (Individual)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB on Success (Individual)": {
      "main": [
        [
          {
            "node": "Notify Slack on Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Zernio Accounts": {
      "main": [
        [
          {
            "node": "Resolve Account ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Account ID": {
      "main": [
        [
          {
            "node": "Post to Zernio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Zernio": {
      "main": [
        [
          {
            "node": "Update DB on Success (Data Biz)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB on Success (Data Biz)": {
      "main": [
        [
          {
            "node": "Notify Slack on Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
