src/n8n/workflows/ai_retrieval/cge_linkedin_scheduler.json
{
  "id": "CgeLinkedinScheduler",
  "name": "CGE - LinkedIn Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        112,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT channel, scheduled_at \nFROM t_content_generation.linkedin_posts \nWHERE channel IN ('individual', 'databiz')\n  AND is_scheduled = TRUE \n  AND scheduled_at > NOW() \nORDER BY scheduled_at ASC;",
        "options": {}
      },
      "alwaysOutputData": true,
      "id": "fetch-future-scheduled",
      "name": "Fetch Future Scheduled",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        336,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, channel, created_at \nFROM t_content_generation.linkedin_posts \nWHERE channel IN ('individual', 'databiz')\n  AND status = 'approved' \n  AND is_approved = TRUE \n  AND is_scheduled = FALSE \nORDER BY id ASC;",
        "options": {}
      },
      "alwaysOutputData": true,
      "id": "fetch-approved-unscheduled",
      "name": "Fetch Approved Unscheduled",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        560,
        304
      ],
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT channel_type, day_of_week, hour_of_day, is_holiday_us, is_holiday_de, recommendation_rank\nFROM s_motherduck.timeslot_recommendations\nORDER BY channel_type, recommendation_rank ASC;",
        "options": {}
      },
      "alwaysOutputData": true,
      "id": "fetch-timeslot-recommendations",
      "name": "Fetch Timeslot Recommendations",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        304
      ],
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT holiday_date, country_code\nFROM s_motherduck.public_holidays\nWHERE holiday_date::date >= CURRENT_DATE AND holiday_date::date <= CURRENT_DATE + INTERVAL '3 months';",
        "options": {}
      },
      "alwaysOutputData": true,
      "id": "fetch-public-holidays",
      "name": "Fetch Public Holidays",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1008,
        304
      ],
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const approvedPosts = $('Fetch Approved Unscheduled').all().filter(p => p.json && p.json.id);\nconst futureScheduled = $('Fetch Future Scheduled').all().filter(p => p.json && p.json.scheduled_at);\nconst rawRecs = $('Fetch Timeslot Recommendations').all().map(r => r.json);\nconst holidaysList = $('Fetch Public Holidays').all().map(h => h.json);\n\nif (approvedPosts.length === 0) {\n  return [];\n}\n\nconst updates = [];\nconst channels = ['individual', 'databiz'];\nconst channelMap = {\n  'individual': 'personal',\n  'databiz': 'company'\n};\n\nconst holidays = new Set(holidaysList.map(h => {\n  if (!h.holiday_date || !h.country_code) return '';\n  const dateStr = h.holiday_date.split('T')[0];\n  return `${dateStr}:${h.country_code.toUpperCase()}`;\n}).filter(Boolean));\n\nfunction isHoliday(date, countryCode) {\n  const dateStr = date.toFormat('yyyy-MM-dd');\n  return holidays.has(`${dateStr}:${countryCode.toUpperCase()}`);\n}\n\nfor (const chan of channels) {\n  const chanApproved = approvedPosts.filter(p => p.json.channel === chan);\n  if (chanApproved.length === 0) continue;\n\n  const predChan = channelMap[chan];\n  const chanRecs = rawRecs.filter(r => r.channel_type === predChan);\n  const chanFuture = futureScheduled.filter(p => p.json.channel === chan);\n  \n  let start = DateTime.now().setZone('Europe/Berlin');\n  const scheduledSlots = new Set(chanFuture.map(p => {\n    if (!p.json.scheduled_at) return '';\n    return DateTime.fromISO(p.json.scheduled_at).setZone('Europe/Berlin').toFormat('yyyy-MM-dd HH:mm');\n  }).filter(Boolean));\n\n  function getNextSlot(dt) {\n    let candidate = dt.plus({ hours: 1 }).set({ minute: 0, second: 0, millisecond: 0 });\n    const limit = dt.plus({ days: 30 });\n    while (candidate < limit) {\n      const isHolUS = isHoliday(candidate, 'US');\n      const isHolDE = isHoliday(candidate, 'DE');\n      const dbDayOfWeek = candidate.weekday - 1;\n      const hour = candidate.hour;\n\n      const matchingRec = chanRecs.find(r => \n        r.day_of_week === dbDayOfWeek &&\n        r.hour_of_day === hour &&\n        r.is_holiday_us === isHolUS &&\n        r.is_holiday_de === isHolDE\n      );\n\n      if (matchingRec && matchingRec.recommendation_rank <= 10) {\n        return candidate;\n      }\n      candidate = candidate.plus({ hours: 1 });\n    }\n    return dt.plus({ days: 1 }).set({ hour: 15, minute: 0, second: 0, millisecond: 0 });\n  }\n\n  let currentPointer = start;\n  for (const post of chanApproved) {\n    let slot = getNextSlot(currentPointer);\n    while (scheduledSlots.has(slot.toFormat('yyyy-MM-dd HH:mm'))) {\n      slot = getNextSlot(slot);\n    }\n    \n    updates.push({\n      json: {\n        id: post.json.id,\n        scheduled_at: slot.toUTC().toISO(),\n        timezone: 'Europe/Berlin'\n      }\n    });\n    \n    scheduledSlots.add(slot.toFormat('yyyy-MM-dd HH:mm'));\n    currentPointer = slot;\n  }\n}\n\nreturn updates;"
      },
      "id": "calculate-slots",
      "name": "Calculate Slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE t_content_generation.linkedin_posts\nSET is_scheduled = TRUE,\n    scheduled_at = '{{ $json.scheduled_at }}',\n    timezone = '{{ $json.timezone }}',\n    status = 'scheduled',\n    updated_at = NOW()\nWHERE id = {{ $json.id }};\n",
        "options": {}
      },
      "id": "update-post-schedule",
      "name": "Update Post Schedule",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1456,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Future Scheduled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Future Scheduled": {
      "main": [
        [
          {
            "node": "Fetch Approved Unscheduled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Approved Unscheduled": {
      "main": [
        [
          {
            "node": "Fetch Timeslot Recommendations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Timeslot Recommendations": {
      "main": [
        [
          {
            "node": "Fetch Public Holidays",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Public Holidays": {
      "main": [
        [
          {
            "node": "Calculate Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Slots": {
      "main": [
        [
          {
            "node": "Update Post Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
