src/n8n/workflows/ai_retrieval/cge_linkedin_individual_posts.json
{
  "id": "CgeLinkedinIndividualPosts",
  "name": "CGE - LinkedIn Individual Posts Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "value": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const queryText = 'personal branding, content marketing, data engineering, artificial intelligence';\nreturn [{ json: { query: queryText } }];"
      },
      "id": "prepare-rag-query",
      "name": "Prepare RAG Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "mode": "load",
        "tableName": "m_embeddings.notion_pages",
        "prompt": "={{ $('Prepare RAG Query').first().json.query }}",
        "options": {
          "limit": 3,
          "columnNames": {
            "values": {
              "idColumnName": "id",
              "contentColumnName": "content",
              "metadataColumnName": "metadata",
              "vectorColumnName": "embedding"
            }
          }
        }
      },
      "id": "retrieve-notion-pages",
      "name": "Retrieve Notion Pages",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1,
      "position": [
        550,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "tableName": "m_embeddings.substack_posts",
        "prompt": "={{ $('Prepare RAG Query').first().json.query }}",
        "options": {
          "limit": 3,
          "columnNames": {
            "values": {
              "idColumnName": "id",
              "contentColumnName": "content",
              "metadataColumnName": "metadata",
              "vectorColumnName": "embedding"
            }
          }
        }
      },
      "id": "retrieve-substack-posts",
      "name": "Retrieve Substack Posts",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1,
      "position": [
        550,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "tableName": "m_embeddings.linkedin_posts",
        "prompt": "={{ $('Prepare RAG Query').first().json.query }}",
        "options": {
          "limit": 3,
          "columnNames": {
            "values": {
              "idColumnName": "id",
              "contentColumnName": "content",
              "metadataColumnName": "metadata",
              "vectorColumnName": "embedding"
            }
          }
        }
      },
      "id": "retrieve-linkedin-posts",
      "name": "Retrieve LinkedIn Posts",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1,
      "position": [
        550,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "modelName": "sentence-transformers/all-mpnet-base-v2",
        "options": {
          "endpointUrl": "https://router.huggingface.co/hf-inference/models/sentence-transformers/all-mpnet-base-v2/pipeline/feature-extraction"
        }
      },
      "id": "embeddings-hugging-face-inference",
      "name": "Embeddings Hugging Face Inference",
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        550,
        700
      ],
      "credentials": {
        "huggingFaceApi": {
          "id": "hugging-face-api",
          "name": "Hugging Face API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const notionDocs = $('Retrieve Notion Pages').all();\nconst substackDocs = $('Retrieve Substack Posts').all();\nconst linkedinDocs = $('Retrieve LinkedIn Posts').all();\n\nlet ragContext = '### RELEVANT HISTORICAL CONTENT & KNOWLEDGE (RAG) ###\\n\\n';\n\nfunction addDocs(docs, sourceName) {\n  if (docs.length === 0) return;\n  docs.forEach((doc, idx) => {\n    const metadata = doc.json.metadata || {};\n    const title = metadata.title || 'Untitled';\n    const content = doc.json.pageContent || doc.json.content || '';\n    ragContext += `[Source: ${sourceName} | Title: ${title}]\\n`;\n    ragContext += `Content: ${content.substring(0, 1000)}\\n`;\n    ragContext += `---\\n\\n`;\n  });\n}\n\naddDocs(notionDocs, 'Notion');\naddDocs(substackDocs, 'Substack');\naddDocs(linkedinDocs, 'LinkedIn');\n\nreturn [{ json: { rag_context: ragContext } }];"
      },
      "id": "format-rag-context",
      "name": "Format RAG Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const ragContext = $('Format RAG Context').first()?.json?.rag_context || '';\nconst fs = require('fs');\nlet persona = '';\ntry {\n  persona = fs.readFileSync('/etc/n8n/giusy.md', 'utf8');\n} catch (e) {\n  persona = 'Warm, brilliant AI Marketing Director named Giusy.';\n}\n\nreturn [{ json: { text: ragContext, giusy_persona: persona } }];"
      },
      "id": "format-context-for-llm",
      "name": "Format Context for LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "={{ $env.OLLAMA_CLOUD_MODEL || 'gemma3:4b' }}",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=### YOUR PERSONA & CONTEXT ###\n{{ $json.giusy_persona }}\n\n### YOUR TASK ###\nRead the Substack articles, past LinkedIn posts, and Notion notes provided below. Generate a high-impact, professional, and engaging LinkedIn post proposal for Jimmy Pang's individual LinkedIn account.\n\nCRITICAL SPEAKER IDENTITY:\nThe speaking person of the LinkedIn post draft MUST be Jimmy Pang, a prominent data leader and AI consultant who has insightful, strategic thoughts to say in order to demonstrate Thought Leadership. The tone should be authoritative yet accessible, expert, and visionary.\n\nCRITICAL OUTPUT RULES:\n1. Do NOT include any Giusy conversational greetings (such as \"Ciao Don Jimmy\" or \"Carissimo Don Jimmy\") or conversational sign-offs (such as \"Buon lavoro\") anywhere in the output.\n2. The output MUST be a valid JSON object starting with '{' and ending with '}'. Do not include markdown code fences or any conversational filler outside of the JSON.\n3. The 'linkedin_post' field must contain ONLY the actual text of the LinkedIn post written from Jimmy's perspective, with no conversational metadata or greetings.\n\nEnsure you:\n1. Match the formatting style, spacing, hook structures, and tone of his past LinkedIn posts.\n2. Leverage the fresh insights from the Substack articles and Notion notes.\n3. Make sure the post is in English and written from Jimmy Pang's personal perspective as a data leader.\n\nReturn a JSON object with this exact structure:\n\n{\n  \"linkedin_post\": \"The complete, ready-to-publish LinkedIn post content.\",\n  \"brief_strategic_reasoning\": \"A short sentence explaining why you structured/wrote the post this way.\"\n}\n\n### SOURCE DATA ###\n{{ $json.text }}"
            }
          ]
        },
        "options": {
          "format": "json"
        }
      },
      "id": "generate-proposal-post",
      "name": "Generate Proposal Post",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        1200,
        300
      ],
      "credentials": {
        "ollamaApi": {
          "id": "ollama-cloud-api",
          "name": "Ollama Cloud API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const raw = $input.first().json.content || $input.first().json.response || '';\nlet jsonStr = raw.trim();\n\nlet linkedin_post = '';\nlet reasoning = '';\nlet parsed = false;\n\ntry {\n  let cleanStr = jsonStr;\n  const firstBrace = cleanStr.indexOf('{');\n  const lastBrace = cleanStr.lastIndexOf('}');\n  if (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) {\n    cleanStr = cleanStr.substring(firstBrace, lastBrace + 1);\n  }\n  cleanStr = cleanStr.replace(/[\\u201C\\u201D\\u201E\\u201F\\u2033\\u2036]/g, '\"');\n  const obj = JSON.parse(cleanStr);\n  linkedin_post = obj.linkedin_post || '';\n  reasoning = obj.brief_strategic_reasoning || '';\n  parsed = true;\n} catch (e) {\n  // standard parsing failed\n}\n\nif (!parsed) {\n  const postMatch = jsonStr.match(/\"linkedin_post\"\\s*:\\s*\"([\\s\\S]*?)\"\\s*,\\s*\"brief_strategic_reasoning\"/);\n  if (postMatch) {\n    linkedin_post = postMatch[1];\n  } else {\n    const altMatch = jsonStr.match(/\"linkedin_post\"\\s*:\\s*\"([\\s\\S]*?)\"\\s*}/);\n    if (altMatch) {\n      linkedin_post = altMatch[1];\n    } else {\n      linkedin_post = raw.replace(/```json/g, '').replace(/```/g, '').trim();\n    }\n  }\n  const reasonMatch = jsonStr.match(/\"brief_strategic_reasoning\"\\s*:\\s*\"([\\s\\S]*?)\"/);\n  if (reasonMatch) {\n    reasoning = reasonMatch[1];\n  }\n  \n  linkedin_post = linkedin_post\n    .replace(/\\\\n/g, '\\n')\n    .replace(/\\\\\"/g, '\"')\n    .replace(/\\\\'/g, \"'\")\n    .replace(/\\\\\\\\/g, '\\\\');\n  reasoning = reasoning\n    .replace(/\\\\n/g, '\\n')\n    .replace(/\\\\\"/g, '\"')\n    .replace(/\\\\'/g, \"'\")\n    .replace(/\\\\\\\\/g, '\\\\');\n}\n\nconst notionDocs = $('Retrieve Notion Pages').all();\nconst substackDocs = $('Retrieve Substack Posts').all();\nconst linkedinDocs = $('Retrieve LinkedIn Posts').all();\n\nconst sources = [];\nnotionDocs.forEach(d => {\n  const title = d.json.metadata?.title;\n  if (title) sources.push(`Notion: ${title}`);\n});\nsubstackDocs.forEach(d => {\n  const title = d.json.metadata?.title;\n  if (title) sources.push(`Substack: ${title}`);\n});\nlinkedinDocs.forEach(d => {\n  const content = d.json.content || d.json.pageContent || '';\n  const title = d.json.metadata?.title || (content ? `\"${content.substring(0, 50).replace(/\\n/g, ' ').trim()}...\"` : 'Untitled');\n  sources.push(`LinkedIn: ${title}`);\n});\nconst sourcesStr = sources.length > 0 ? sources.join(', ') : 'None';\n\nreturn [{ json: { linkedin_post, reasoning, sources_str: sourcesStr } }];"
      },
      "id": "Parse LLM Response",
      "name": "Parse LLM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO t_content_generation.linkedin_posts (channel, content, original_prompt_or_source, status)\nVALUES ('individual', '{{ $json.linkedin_post.replace(/'/g, \"''\") }}', 'Generated from RAG sources: {{ $json.sources_str.replace(/'/g, \"''\") }}', 'draft')\nRETURNING id, channel, status, content;"
      },
      "id": "save-proposal-to-db",
      "name": "Save Proposal to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1600,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const dbResult = $input.first().json;\nconst sourcesStr = $('Parse LLM Response').first().json.sources_str || 'None';\nconst messageText = '💡 *New LinkedIn Post Proposal (Individual)* 💡\\n\\n*Status:* Draft (Saved in Database, ID: ' + dbResult.id + ')\\n*Sources Used:* ' + sourcesStr + '\\n*Proposed Content:*\\n```\\n' + dbResult.content + '\\n```\\n\\n_Generated by Giusy_ 🤖';\nreturn [{ json: { slack_message: messageText } }];"
      },
      "id": "Formulate Slack Message",
      "name": "Formulate Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        300
      ]
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_MARKETING_CHANNEL || 'content' }}",
        "text": "={{ $json.slack_message }}",
        "otherOptions": {}
      },
      "id": "notify-slack",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        2000,
        300
      ],
      "credentials": {
        "slackApi": {
          "id": "slack-giusy-cred",
          "name": "Slack Giusy Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Prepare RAG Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare RAG Query": {
      "main": [
        [
          {
            "node": "Retrieve Notion Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Notion Pages": {
      "main": [
        [
          {
            "node": "Retrieve Substack Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Substack Posts": {
      "main": [
        [
          {
            "node": "Retrieve LinkedIn Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve LinkedIn Posts": {
      "main": [
        [
          {
            "node": "Format RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Hugging Face Inference": {
      "ai_embedding": [
        [
          {
            "node": "Retrieve Notion Pages",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Retrieve Substack Posts",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Retrieve LinkedIn Posts",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Format RAG Context": {
      "main": [
        [
          {
            "node": "Format Context for LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Context for LLM": {
      "main": [
        [
          {
            "node": "Generate Proposal Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Proposal Post": {
      "main": [
        [
          {
            "node": "Parse LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Response": {
      "main": [
        [
          {
            "node": "Save Proposal to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Proposal to DB": {
      "main": [
        [
          {
            "node": "Formulate Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formulate Slack Message": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}