src/n8n/workflows/ai_retrieval/cge_linkedin_individual_posts.json
{
  "id": "CgeLinkedinIndividualPosts",
  "name": "CGE - LinkedIn Individual Posts Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        112,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const queryText = 'personal branding, content marketing, data engineering, artificial intelligence';\nreturn [{ json: { query: queryText } }];"
      },
      "id": "prepare-rag-query",
      "name": "Prepare RAG Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        112
      ]
    },
    {
      "parameters": {
        "mode": "load",
        "tableName": "m_embeddings.notion_pages",
        "prompt": "={{ $('Prepare RAG Query').first().json.query }}",
        "options": {
          "columnNames": {
            "values": {
              "contentColumnName": "content"
            }
          }
        }
      },
      "id": "retrieve-notion-pages",
      "name": "Retrieve Notion Pages",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1,
      "position": [
        560,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "tableName": "m_embeddings.substack_posts",
        "prompt": "={{ $('Prepare RAG Query').first().json.query }}",
        "options": {
          "columnNames": {
            "values": {
              "contentColumnName": "content"
            }
          }
        }
      },
      "id": "retrieve-substack-posts",
      "name": "Retrieve Substack Posts",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1,
      "position": [
        912,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "tableName": "m_embeddings.linkedin_posts",
        "prompt": "={{ $('Prepare RAG Query').first().json.query }}",
        "options": {
          "columnNames": {
            "values": {
              "contentColumnName": "content"
            }
          }
        }
      },
      "id": "retrieve-linkedin-posts",
      "name": "Retrieve LinkedIn Posts",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1,
      "position": [
        1264,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "modelName": "sentence-transformers/all-mpnet-base-v2",
        "options": {
          "endpointUrl": "https://router.huggingface.co/hf-inference/models/sentence-transformers/all-mpnet-base-v2/pipeline/feature-extraction"
        }
      },
      "id": "embeddings-hugging-face-inference",
      "name": "Embeddings Hugging Face Inference",
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        640,
        336
      ],
      "credentials": {
        "huggingFaceApi": {
          "id": "hugging-face-api",
          "name": "Hugging Face API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const notionDocs = $('Retrieve Notion Pages').all();\nconst substackDocs = $('Retrieve Substack Posts').all();\nconst linkedinDocs = $('Retrieve LinkedIn Posts').all();\n\nconst uniqueNotion = Array.from(new Map(notionDocs.map(d => [d.json.document?.pageContent || '', d])).values());\nconst uniqueSubstack = Array.from(new Map(substackDocs.map(d => [d.json.document?.pageContent || '', d])).values());\nconst uniqueLinkedin = Array.from(new Map(linkedinDocs.map(d => [d.json.document?.pageContent || '', d])).values());\n\nlet ragContext = '### RELEVANT HISTORICAL CONTENT & KNOWLEDGE (RAG) ###\\n\\n';\n\nfunction addDocs(docs, sourceName) {\n  if (docs.length === 0) return;\n  docs.forEach((doc, idx) => {\n    const content = doc.json.document?.pageContent || '';\n    if (!content) return;\n    const firstLine = content.split('\\n')[0].trim();\n    const title = firstLine.length > 60 ? `${firstLine.substring(0, 60).trim()}...` : firstLine;\n    ragContext += `[Source: ${sourceName} | Title: ${title || 'Untitled'}]\\n`;\n    ragContext += `Content: ${content.substring(0, 1000)}\\n`;\n    ragContext += `---\\n\\n`;\n  });\n}\n\naddDocs(uniqueNotion, 'Notion');\naddDocs(uniqueSubstack, 'Substack');\naddDocs(uniqueLinkedin, 'LinkedIn');\n\nreturn [{ json: { rag_context: ragContext } }];"
      },
      "id": "format-rag-context",
      "name": "Format RAG Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const ragContext = $('Format RAG Context').first()?.json?.rag_context || '';\nconst fs = require('fs');\nlet persona = '';\ntry {\n  persona = fs.readFileSync('/etc/n8n/agents/giusy.md', 'utf8');\n} catch (e) {\n  persona = 'Warm, brilliant AI Marketing Director named Giusy.';\n}\n\nlet strategy = '';\ntry {\n  strategy = fs.readFileSync('/etc/n8n/workflows/prompts/content_strategy.md', 'utf8');\n} catch (e) {\n  strategy = 'Standard content creation rules.';\n}\n\nlet positioning = '';\ntry {\n  positioning = fs.readFileSync('/etc/n8n/workflows/prompts/usp_market_positioning.md', 'utf8');\n} catch (e) {\n  positioning = 'Standard positioning rules.';\n}\n\nreturn [{ json: { text: ragContext, giusy_persona: persona, content_strategy: strategy, usp_positioning: positioning } }];"
      },
      "id": "format-context-for-llm",
      "name": "Format Context for LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        112
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "={{ $env.OLLAMA_CLOUD_MODEL || 'gemma3:12b' }}",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=### YOUR PERSONA & CONTEXT ###\n{{ $json.giusy_persona }}\n\n### CONTENT STRATEGY & GUIDELINES ###\n{{ $json.content_strategy }}\n\n### USP & MARKET POSITIONING ###\n{{ $json.usp_positioning }}\n\n### YOUR TASK ###\nRead the Substack articles, past LinkedIn posts, and Notion notes provided below. Generate a high-impact, professional, and engaging LinkedIn post proposal for Jimmy Pang's individual LinkedIn account.\n\nCRITICAL SPEAKER IDENTITY:\nThe generated LinkedIn post MUST be written in the FIRST PERSON (\"I\", \"my\", \"we\") as Jimmy Pang, a prominent data leader and AI consultant. It must NOT be written from the perspective of Giusy or any assistant. The post must read as if Jimmy Pang is talking directly to his audience. Do NOT address \"Don Jimmy\" or use Giusy's Italian personality traits in the post content itself. The tone should be authoritative yet accessible, expert, and visionary.\n\nCRITICAL OUTPUT RULES:\n1. Do NOT include any Giusy conversational greetings (such as \"Ciao Don Jimmy\" or \"Carissimo Don Jimmy\") or conversational sign-offs (such as \"Buon lavoro\") anywhere in the output.\n2. The output MUST be a valid JSON object starting with '{' and ending with '}'. Do not include markdown code fences or any conversational filler outside of the JSON.\n3. The 'linkedin_post' field must contain ONLY the actual text of the LinkedIn post written from Jimmy's perspective (e.g., \"I just published a new article...\", \"In my experience as a data consultant...\"). It must NOT contain any greetings to Jimmy or commentary from Giusy.\n4. Do NOT include or hallucinate any URLs, links, or link placeholders (such as LinkedIn Pulse links or external links) anywhere in the generated post content.\n\nEnsure you:\n1. Match the formatting style, spacing, hook structures, and tone of his past LinkedIn posts.\n2. Leverage the fresh insights from the Substack articles and Notion notes.\n3. Make sure the post is in English and written from Jimmy Pang's personal perspective as a data leader.\n\nReturn a JSON object with this exact structure:\n\n{\n  \"linkedin_post\": \"The complete, ready-to-publish LinkedIn post content.\",\n  \"brief_strategic_reasoning\": \"A short sentence explaining why you structured/wrote the post this way.\"\n}\n\n### SOURCE DATA ###\n{{ $json.text }}"
            }
          ]
        },
        "options": {
          "format": "json"
        }
      },
      "id": "generate-proposal-post",
      "name": "Generate Proposal Post",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        2064,
        112
      ],
      "credentials": {
        "ollamaApi": {
          "id": "ollama-cloud-api",
          "name": "Ollama Cloud API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.content || $input.first().json.response || '';\nlet jsonStr = raw.trim();\n\nlet linkedin_post = '';\nlet reasoning = '';\nlet parsed = false;\n\ntry {\n  let cleanStr = jsonStr;\n  const firstBrace = cleanStr.indexOf('{');\n  const lastBrace = cleanStr.lastIndexOf('}');\n  if (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) {\n    cleanStr = cleanStr.substring(firstBrace, lastBrace + 1);\n  }\n  cleanStr = cleanStr.replace(/[\\u201C\\u201D\\u201E\\u201F\\u2033\\u2036]/g, '\"');\n  const obj = JSON.parse(cleanStr);\n  linkedin_post = obj.linkedin_post || '';\n  reasoning = obj.brief_strategic_reasoning || '';\n  parsed = true;\n} catch (e) {\n  // standard parsing failed\n}\n\nif (!parsed) {\n  const postMatch = jsonStr.match(/\"linkedin_post\"\\s*:\\s*\"([\\s\\S]*?)\"\\s*,\\s*\"brief_strategic_reasoning\"/);\n  if (postMatch) {\n    linkedin_post = postMatch[1];\n  } else {\n    const altMatch = jsonStr.match(/\"linkedin_post\"\\s*:\\s*\"([\\s\\S]*?)\"\\s*}/);\n    if (altMatch) {\n      linkedin_post = altMatch[1];\n    } else {\n      linkedin_post = raw.replace(/```json/g, '').replace(/```/g, '').trim();\n    }\n  }\n  const reasonMatch = jsonStr.match(/\"brief_strategic_reasoning\"\\s*:\\s*\"([\\s\\S]*?)\"/);\n  if (reasonMatch) {\n    reasoning = reasonMatch[1];\n  }\n  \n  linkedin_post = linkedin_post\n    .replace(/\\\\n/g, '\\n')\n    .replace(/\\\\\"/g, '\"')\n    .replace(/\\\\'/g, \"'\")\n    .replace(/\\\\\\\\/g, '\\\\');\n  reasoning = reasoning\n    .replace(/\\\\n/g, '\\n')\n    .replace(/\\\\\"/g, '\"')\n    .replace(/\\\\'/g, \"'\")\n    .replace(/\\\\\\\\/g, '\\\\');\n}\n\nconst notionDocs = $('Retrieve Notion Pages').all();\nconst substackDocs = $('Retrieve Substack Posts').all();\nconst linkedinDocs = $('Retrieve LinkedIn Posts').all();\n\nconst fs = require('fs');\ntry {\n  fs.writeFileSync('/tmp/linkedin_doc.json', JSON.stringify(linkedinDocs.map(d => d.json), null, 2));\n  fs.writeFileSync('/tmp/notion_doc.json', JSON.stringify(notionDocs.map(d => d.json), null, 2));\n  fs.writeFileSync('/tmp/substack_doc.json', JSON.stringify(substackDocs.map(d => d.json), null, 2));\n} catch (err) {}\n\nconst uniqueNotion = Array.from(new Map(notionDocs.map(d => [d.json.document?.pageContent || '', d])).values());\nconst uniqueSubstack = Array.from(new Map(substackDocs.map(d => [d.json.document?.pageContent || '', d])).values());\nconst uniqueLinkedin = Array.from(new Map(linkedinDocs.map(d => [d.json.document?.pageContent || '', d])).values());\n\nconst sources = [];\nconst sourcesObj = {\n  Notion: [],\n  Substack: [],\n  LinkedIn: []\n};\n\nfunction addSource(docs, label, key) {\n  docs.forEach(d => {\n    const content = d.json.document?.pageContent || '';\n    if (content) {\n      const firstLine = content.split('\\n')[0].trim();\n      const title = `\"${firstLine}\"`;\n      sources.push(`${label}: ${title}`);\n      sourcesObj[key].push(title);\n    }\n  });\n}\n\naddSource(uniqueNotion, 'Notion', 'Notion');\naddSource(uniqueSubstack, 'Substack', 'Substack');\naddSource(uniqueLinkedin, 'LinkedIn', 'LinkedIn');\n\nconst sourcesStr = sources.length > 0 ? sources.join(', ') : 'None';\n\nlinkedin_post = linkedin_post.replace(/https?:\\/\\/[^\\s]+/g, '').trim();\n\nreturn [{ json: { linkedin_post, reasoning, sources_str: sourcesStr, sources_obj: sourcesObj } }];"
      },
      "id": "Parse LLM Response",
      "name": "Parse LLM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO t_content_generation.linkedin_posts (channel, content, original_prompt_or_source, status, used_resources)\nVALUES ('individual', '{{ $json.linkedin_post.replace(/'/g, \"''\") }}', 'Generated from RAG sources: {{ $json.sources_str.replace(/'/g, \"''\") }}', 'draft', '{{ JSON.stringify($json.sources_obj).replace(/'/g, \"''\") }}')\nRETURNING id, channel, status, content;",
        "options": {}
      },
      "id": "save-proposal-to-db",
      "name": "Save Proposal to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2640,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dbResult = $input.first().json;\nconst messageText = '💡 *New LinkedIn Post Proposal (Individual)* 💡\\n\\n*Status:* Draft (Saved in Database, ID: ' + dbResult.id + ')\\n\\n*Proposed Content:*\\n```\\n' + dbResult.content + '\\n```\\n\\n_Generated by Giusy_ 🤖';\nreturn [{ json: { slack_message: messageText } }];"
      },
      "id": "Formulate Slack Message",
      "name": "Formulate Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2864,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendHeaders": true,
        "headersUi": {
          "values": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $env.SLACK_MARKETING_CHANNEL || 'content' }}\",\n  \"text\": \"{{ $json.slack_message.replace(/\\n/g, '\\\\n').replace(/\"/g, '\\\\\"') }}\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"{{ $json.slack_message.replace(/\\n/g, '\\\\n').replace(/\"/g, '\\\\\"') }}\"\n      }\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"Approve ✅\"\n          },\n          \"style\": \"primary\",\n          \"value\": \"approve:{{ $('Save Proposal to DB').first().json.id }}:{{ $execution.resumeUrl }}\",\n          \"action_id\": \"approve_action\"\n        },\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"Reject ❌\"\n          },\n          \"style\": \"danger\",\n          \"value\": \"reject:{{ $('Save Proposal to DB').first().json.id }}:{{ $execution.resumeUrl }}\",\n          \"action_id\": \"reject_action\"\n        }\n      ]\n    }\n  ]\n}"
      },
      "id": "notify-slack",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3088,
        112
      ],
      "credentials": {
        "slackApi": {
          "id": "slack-giusy-cred",
          "name": "Slack Giusy Credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parentTs = $('Notify Slack').first().json.ts;\nconst parseResult = $('Parse LLM Response').first().json;\nconst sourcesObj = parseResult.sources_obj || {};\n\nconst items = [];\nconst icons = {\n  Notion: '📚',\n  Substack: '✉️',\n  LinkedIn: '🔗'\n};\n\nfor (const [app, titles] of Object.entries(sourcesObj)) {\n  if (titles && titles.length > 0) {\n    const lines = [`${icons[app] || '•'} *${app} Sources Used:*`];\n    titles.forEach(title => {\n      lines.push(`• ${title}`);\n    });\n    items.push({\n      json: {\n        thread_ts: parentTs,\n        text: lines.join('\\n')\n      }\n    });\n  }\n}\n\nreturn items;"
      },
      "id": "Formulate Slack Thread Messages",
      "name": "Formulate Slack Thread Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3312,
        112
      ]
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_MARKETING_CHANNEL || 'content' }}",
        "text": "={{ $json.text }}",
        "otherOptions": {
          "thread_ts": "={{ $json.thread_ts }}"
        },
        "attachments": []
      },
      "id": "notify-slack-thread",
      "name": "Notify Slack Thread",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        3536,
        112
      ],
      "credentials": {
        "slackApi": {
          "id": "slack-giusy-cred",
          "name": "Slack Giusy Credential"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": "={{ $env.SLACK_MARKETING_CHANNEL || 'content' }}",
        "operation": "sendAndWait",
        "messageType": "text",
        "message": "=Please review the draft above (ID: {{ $('Save Proposal to DB').first().json.id }}). Do you approve it?",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Approve",
            "buttonStyle": "primary",
            "declineLabel": "Decline",
            "declineButtonStyle": "default"
          }
        },
        "options": {
          "limitWaitTime": true,
          "limitType": "afterTimeInterval",
          "amount": 45,
          "unit": "minutes"
        }
      },
      "id": "slack-send-and-wait",
      "name": "Slack Send and Wait",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        3760,
        112
      ],
      "credentials": {
        "slackApi": {
          "id": "slack-giusy-cred",
          "name": "Slack Giusy Credential"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.approved }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-approved",
      "name": "If Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3980,
        112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE t_content_generation.linkedin_posts\nSET status = 'approved',\n    is_approved = TRUE,\n    updated_at = NOW()\nWHERE id = {{ $('Save Proposal to DB').first().json.id }}\nRETURNING id, status;",
        "options": {}
      },
      "id": "update-status-approved",
      "name": "Update Status to Approved",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4200,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE t_content_generation.linkedin_posts\nSET status = 'rejected',\n    is_approved = FALSE,\n    updated_at = NOW()\nWHERE id = {{ $('Save Proposal to DB').first().json.id }}\nRETURNING id, status;",
        "options": {}
      },
      "id": "update-status-rejected",
      "name": "Update Status to Rejected",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4200,
        220
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Prepare RAG Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare RAG Query": {
      "main": [
        [
          {
            "node": "Retrieve Notion Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Notion Pages": {
      "main": [
        [
          {
            "node": "Retrieve Substack Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Substack Posts": {
      "main": [
        [
          {
            "node": "Retrieve LinkedIn Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve LinkedIn Posts": {
      "main": [
        [
          {
            "node": "Format RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Hugging Face Inference": {
      "ai_embedding": [
        [
          {
            "node": "Retrieve Notion Pages",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Retrieve Substack Posts",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Retrieve LinkedIn Posts",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Format RAG Context": {
      "main": [
        [
          {
            "node": "Format Context for LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Context for LLM": {
      "main": [
        [
          {
            "node": "Generate Proposal Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Proposal Post": {
      "main": [
        [
          {
            "node": "Parse LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Response": {
      "main": [
        [
          {
            "node": "Save Proposal to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Proposal to DB": {
      "main": [
        [
          {
            "node": "Formulate Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formulate Slack Message": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack": {
      "main": [
        [
          {
            "node": "Formulate Slack Thread Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formulate Slack Thread Messages": {
      "main": [
        [
          {
            "node": "Notify Slack Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack Thread": {
      "main": [
        [
          {
            "node": "Slack Send and Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Send and Wait": {
      "main": [
        [
          {
            "node": "If Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Approved?": {
      "main": [
        [
          {
            "node": "Update Status to Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Status to Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}