src/n8n/workflows/ai_memory_ecl.json
{
  "id": "AiMemoryEclWorkflow",
  "name": "AI Memory / ECL - Distillion Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "value": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -150,
        300
      ]
    },
    {
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "start-date-uuid",
              "name": "start_date",
              "type": "string",
              "value": "={{ $now.minus({ days: 7 }).toISO() }}"
            }
          ]
        }
      },
      "id": "workflow-parameters",
      "name": "Ingestion Date Range Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id, database_id, title, content, url, created_time, last_edited_time FROM s_notion.pages WHERE last_edited_time >= '{{ $('Ingestion Date Range Parameters').first().json.start_date }}' OR created_time >= '{{ $('Ingestion Date Range Parameters').first().json.start_date }}';"
      },
      "id": "get-unprocessed-raw-notion",
      "name": "Get Unprocessed Raw Notion",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        220,
        150
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id, feed_id, feed_name, author, title, content, url, published_at FROM s_substack.posts WHERE published_at >= '{{ $('Ingestion Date Range Parameters').first().json.start_date }}';"
      },
      "id": "get-unprocessed-raw-substack",
      "name": "Get Unprocessed Raw Substack",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        220,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id, author, content, url, published_at FROM s_linkedin.ugc_posts WHERE published_at >= '{{ $('Ingestion Date Range Parameters').first().json.start_date }}';"
      },
      "id": "get-unprocessed-raw-linkedin",
      "name": "Get Unprocessed Raw LinkedIn",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        220,
        450
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const crypto = require('crypto');\nconst results = [];\nconst items = $input.all();\n\nfor (const item of items) {\n  const data = item.json;\n  const content = data.content || '';\n  const cleaned_content = content.replace(/\\s+/g, ' ').trim();\n  const content_hash = crypto.createHash('sha256').update(cleaned_content).digest('hex');\n  \n  results.push({\n    json: {\n      ...data,\n      cleaned_content,\n      content_hash\n    }\n  });\n}\nreturn results;"
      },
      "id": "clean-notion-content",
      "name": "Clean Notion Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        150
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const crypto = require('crypto');\nconst results = [];\nconst items = $input.all();\n\nfor (const item of items) {\n  const data = item.json;\n  const content = data.content || '';\n  const cleaned_content = content.replace(/\\s+/g, ' ').trim();\n  const content_hash = crypto.createHash('sha256').update(cleaned_content).digest('hex');\n  \n  results.push({\n    json: {\n      ...data,\n      cleaned_content,\n      content_hash\n    }\n  });\n}\nreturn results;"
      },
      "id": "clean-substack-content",
      "name": "Clean Substack Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const crypto = require('crypto');\nconst results = [];\nconst items = $input.all();\n\nfor (const item of items) {\n  const data = item.json;\n  const content = data.content || '';\n  const cleaned_content = content.replace(/\\s+/g, ' ').trim();\n  const content_hash = crypto.createHash('sha256').update(cleaned_content).digest('hex');\n  \n  results.push({\n    json: {\n      ...data,\n      cleaned_content,\n      content_hash\n    }\n  });\n}\nreturn results;"
      },
      "id": "clean-linkedin-content",
      "name": "Clean LinkedIn Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        450
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "={{ $env.OLLAMA_CLOUD_MODEL || 'gemma3:4b' }}",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyze the following text and return a JSON object with a categorization and an executive summary:\n{\n  \"category\": \"One of: Software Engineering, AI / ML, Business Strategy, Data Science & Engineering, Product Management, Career & Growth, Other\",\n  \"executive_summary\": {\n    \"summary\": \"A concise 1-2 sentence executive summary.\",\n    \"key_takeaways\": [\"Key takeaway point 1\", \"Key takeaway point 2\"],\n    \"action_items\": [\"Action item 1\", \"Action item 2\"]\n  }\n}\n\nText:\n{{ $json.cleaned_content }}"
            }
          ]
        },
        "options": {
          "format": "json"
        }
      },
      "id": "categorize-notion",
      "name": "Categorize & Summarize Notion",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        620,
        150
      ],
      "credentials": {
        "ollamaApi": {
          "id": "ollama-cloud-api",
          "name": "Ollama Cloud API"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "={{ $env.OLLAMA_CLOUD_MODEL || 'gemma3:4b' }}",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyze the following text and categorize it under one of these primary categories:\n- Software Engineering\n- AI / ML\n- Business Strategy\n- Data Science & Engineering\n- Product Management\n- Career & Growth\n- Other\n\nReturn a JSON object only:\n{\n  \"category\": \"Category Name\"\n}\n\nText:\n{{ $json.cleaned_content }}"
            }
          ]
        },
        "options": {
          "format": "json"
        }
      },
      "id": "categorize-substack",
      "name": "Categorize Substack",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        620,
        300
      ],
      "credentials": {
        "ollamaApi": {
          "id": "ollama-cloud-api",
          "name": "Ollama Cloud API"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "={{ $env.OLLAMA_CLOUD_MODEL || 'gemma3:4b' }}",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyze the following text and categorize it under one of these primary categories:\n- Software Engineering\n- AI / ML\n- Business Strategy\n- Data Science & Engineering\n- Product Management\n- Career & Growth\n- Other\n\nReturn a JSON object only:\n{\n  \"category\": \"Category Name\"\n}\n\nText:\n{{ $json.cleaned_content }}"
            }
          ]
        },
        "options": {
          "format": "json"
        }
      },
      "id": "categorize-linkedin",
      "name": "Categorize LinkedIn",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        620,
        450
      ],
      "credentials": {
        "ollamaApi": {
          "id": "ollama-cloud-api",
          "name": "Ollama Cloud API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = [];\nconst currentItems = $input.all();\nconst originalItems = $('Clean Notion Content').all();\nfor (let i = 0; i < currentItems.length; i++) {\n  const current = currentItems[i].json;\n  const original = originalItems[i].json;\n  let category = 'Other';\n  let executive_summary = {};\n  try {\n    const parsed = JSON.parse(current.response || current.content || '{}');\n    category = parsed.category || 'Other';\n    executive_summary = parsed.executive_summary || {};\n  } catch (e) {\n    if (current.response) category = current.response.trim();\n  }\n  results.push({\n    json: {\n      ...original,\n      category,\n      executive_summary: JSON.stringify(executive_summary)\n    }\n  });\n}\nreturn results;"
      },
      "id": "merge-notion-category",
      "name": "Merge Notion Category",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        150
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = [];\nconst currentItems = $input.all();\nconst originalItems = $('Clean Substack Content').all();\nfor (let i = 0; i < currentItems.length; i++) {\n  const current = currentItems[i].json;\n  const original = originalItems[i].json;\n  let category = 'Other';\n  try {\n    const parsed = JSON.parse(current.response || current.content || '{}');\n    category = parsed.category || 'Other';\n  } catch (e) {\n    if (current.response) category = current.response.trim();\n  }\n  results.push({\n    json: {\n      ...original,\n      category\n    }\n  });\n}\nreturn results;"
      },
      "id": "merge-substack-category",
      "name": "Merge Substack Category",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = [];\nconst currentItems = $input.all();\nconst originalItems = $('Clean LinkedIn Content').all();\nfor (let i = 0; i < currentItems.length; i++) {\n  const current = currentItems[i].json;\n  const original = originalItems[i].json;\n  let category = 'Other';\n  try {\n    const parsed = JSON.parse(current.response || current.content || '{}');\n    category = parsed.category || 'Other';\n  } catch (e) {\n    if (current.response) category = current.response.trim();\n  }\n  results.push({\n    json: {\n      ...original,\n      category\n    }\n  });\n}\nreturn results;"
      },
      "id": "merge-linkedin-category",
      "name": "Merge LinkedIn Category",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        450
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO m_staging.notion_pages (id, database_id, title, content, cleaned_content, category, executive_summary, content_hash, created_time, last_edited_time, processed)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.database_id }}',\n  '{{ $json.title.replace(/'/g, \"''\") }}',\n  '{{ $json.content.replace(/'/g, \"''\") }}',\n  '{{ $json.cleaned_content.replace(/'/g, \"''\") }}',\n  '{{ $json.category }}',\n  '{{ $json.executive_summary }}'::jsonb,\n  '{{ $json.content_hash }}',\n  '{{ $json.created_time }}',\n  '{{ $json.last_edited_time }}',\n  0\n)\nON CONFLICT (content_hash) \nDO UPDATE SET \n  title = EXCLUDED.title, \n  content = EXCLUDED.content, \n  cleaned_content = EXCLUDED.cleaned_content, \n  category = EXCLUDED.category, \n  executive_summary = EXCLUDED.executive_summary, \n  content_hash = EXCLUDED.content_hash, \n  last_edited_time = EXCLUDED.last_edited_time\nRETURNING id;"
      },
      "id": "stage-notion-pages",
      "name": "Stage Notion Pages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1020,
        150
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO m_staging.substack_posts (id, feed_id, feed_name, author, title, content, cleaned_content, category, content_hash, published_at, processed)\nVALUES (\n  '{{ $json.id }}',\n  {{ $json.feed_id || 'NULL' }},\n  '{{ $json.feed_name.replace(/'/g, \"''\") }}',\n  '{{ $json.author.replace(/'/g, \"''\") }}',\n  '{{ $json.title.replace(/'/g, \"''\") }}',\n  '{{ $json.content.replace(/'/g, \"''\") }}',\n  '{{ $json.cleaned_content.replace(/'/g, \"''\") }}',\n  '{{ $json.category }}',\n  '{{ $json.content_hash }}',\n  '{{ $json.published_at }}',\n  0\n)\nON CONFLICT (content_hash) \nDO UPDATE SET \n  title = EXCLUDED.title, \n  content = EXCLUDED.content,\n  cleaned_content = EXCLUDED.cleaned_content,\n  category = EXCLUDED.category,\n  content_hash = EXCLUDED.content_hash\nRETURNING id;"
      },
      "id": "stage-substack-posts",
      "name": "Stage Substack Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1020,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO m_staging.linkedin_posts (id, author, content, cleaned_content, category, content_hash, published_at, processed)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.author.replace(/'/g, \"''\") }}',\n  '{{ $json.content.replace(/'/g, \"''\") }}',\n  '{{ $json.cleaned_content.replace(/'/g, \"''\") }}',\n  '{{ $json.category }}',\n  '{{ $json.content_hash }}',\n  '{{ $json.published_at }}',\n  0\n)\nON CONFLICT (content_hash) \nDO UPDATE SET \n  content = EXCLUDED.content,\n  cleaned_content = EXCLUDED.cleaned_content,\n  category = EXCLUDED.category,\n  content_hash = EXCLUDED.content_hash\nRETURNING id;"
      },
      "id": "stage-linkedin-posts",
      "name": "Stage LinkedIn Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1020,
        450
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 'notion_pages' AS source_table, id, title, cleaned_content, created_time AS event_time FROM m_staging.notion_pages WHERE processed = 0\nUNION ALL\nSELECT 'substack_posts' AS source_table, id, title, cleaned_content, published_at AS event_time FROM m_staging.substack_posts WHERE processed = 0\nUNION ALL\nSELECT 'linkedin_posts' AS source_table, id, '' AS title, cleaned_content, published_at AS event_time FROM m_staging.linkedin_posts WHERE processed = 0 LIMIT 10;"
      },
      "id": "get-unprocessed-staging",
      "name": "Get Unprocessed Staging",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1250,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "={{ $env.OLLAMA_CLOUD_MODEL || 'gemma3:4b' }}",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyze the following text and extract long-term facts/entity profiles. Return a JSON object with a single key 'facts' containing a JSON array of facts, each representing a single key entity statement:\n{\n  \"facts\": [\n    {\n      \"entity_name\": \"Name of person, organization, tech stack, or core concept\",\n      \"entity_type\": \"person or organization or technology or concept\",\n      \"fact_details\": \"Clean, static summary of the long term fact or insight learned\",\n      \"confidence\": 0.95\n    }\n  ]\n}\n\nContent:\n{{ $json.cleaned_content }}"
            }
          ]
        },
        "options": {
          "format": "json"
        }
      },
      "id": "extract-facts",
      "name": "Extract Facts",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        1450,
        200
      ],
      "credentials": {
        "ollamaApi": {
          "id": "ollama-cloud-api",
          "name": "Ollama Cloud API"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "={{ $env.OLLAMA_CLOUD_MODEL || 'gemma3:4b' }}",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyze the following text and extract time-bound events, interactions, decisions, or outcomes. Return a JSON object with a single key 'events' containing a JSON array of events:\n{\n  \"events\": [\n    {\n      \"event_name\": \"Action-oriented description of the event\",\n      \"event_description\": \"Detailed context of what happened\",\n      \"event_timestamp\": \"ISO 8601 date-time string if available, otherwise null\",\n      \"actors\": [\"Name of people or entities involved\"],\n      \"outcome\": \"The result, decision, or output of this event\"\n    }\n  ]\n}\n\nContent:\n{{ $json.cleaned_content }}"
            }
          ]
        },
        "options": {
          "format": "json"
        }
      },
      "id": "extract-episodic-events",
      "name": "Extract Episodic Events",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        1450,
        400
      ],
      "credentials": {
        "ollamaApi": {
          "id": "ollama-cloud-api",
          "name": "Ollama Cloud API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = [];\nconst items = $input.all();\nfor (const item of items) {\n  const parent = $('Get Unprocessed Staging').json;\n  const responseText = item.json.response || item.json.content || '{}';\n  let parsed;\n  try {\n    parsed = JSON.parse(responseText);\n  } catch(e) {\n    parsed = { facts: [] };\n  }\n  if (parsed.facts && Array.isArray(parsed.facts)) {\n    for (const fact of parsed.facts) {\n      results.push({\n        json: {\n          entity_name: fact.entity_name || '',\n          entity_type: fact.entity_type || 'concept',\n          fact_details: fact.fact_details || '',\n          confidence: fact.confidence || 0.8,\n          source_table: parent.source_table,\n          source_id: parent.id\n        }\n      });\n    }\n  }\n}\nreturn results;"
      },
      "id": "parse-facts",
      "name": "Parse Facts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1650,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = [];\nconst items = $input.all();\nfor (const item of items) {\n  const parent = $('Get Unprocessed Staging').json;\n  const responseText = item.json.response || item.json.content || '{}';\n  let parsed;\n  try {\n    parsed = JSON.parse(responseText);\n  } catch(e) {\n    parsed = { events: [] };\n  }\n  if (parsed.events && Array.isArray(parsed.events)) {\n    for (const event of parsed.events) {\n      results.push({\n        json: {\n          event_name: event.event_name || '',\n          event_description: event.event_description || '',\n          event_timestamp: event.event_timestamp || parent.event_time || new Date().toISOString(),\n          actors: JSON.stringify(event.actors || []),\n          outcome: event.outcome || '',\n          source_table: parent.source_table,\n          source_id: parent.id\n        }\n      });\n    }\n  }\n}\nreturn results;"
      },
      "id": "parse-episodic-events",
      "name": "Parse Episodic Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1650,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO m_fact.memory_facts (entity_name, entity_type, fact_details, source_table, source_id, confidence)\nVALUES (\n  '{{ $json.entity_name.replace(/'/g, \"''\") }}',\n  '{{ $json.entity_type.replace(/'/g, \"''\") }}',\n  '{{ $json.fact_details.replace(/'/g, \"''\") }}',\n  '{{ $json.source_table }}',\n  '{{ $json.source_id }}',\n  {{ $json.confidence }}\n);"
      },
      "id": "insert-facts",
      "name": "Insert Facts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1850,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO m_episodic.memory_events (event_name, event_description, event_timestamp, actors, source_table, source_id, outcome)\nVALUES (\n  '{{ $json.event_name.replace(/'/g, \"''\") }}',\n  '{{ $json.event_description.replace(/'/g, \"''\") }}',\n  '{{ $json.event_timestamp }}',\n  '{{ $json.actors }}'::jsonb,\n  '{{ $json.source_table }}',\n  '{{ $json.source_id }}',\n  '{{ $json.outcome.replace(/'/g, \"''\") }}'\n);"
      },
      "id": "insert-episodic-events",
      "name": "Insert Episodic Events",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1850,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE m_staging.{{ $json.source_table }} SET processed = 1 WHERE id = '{{ $json.id }}';"
      },
      "id": "mark-staging-processed",
      "name": "Mark Staging Processed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2050,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Ingestion Date Range Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingestion Date Range Parameters": {
      "main": [
        [
          {
            "node": "Get Unprocessed Raw Notion",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Unprocessed Raw Substack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Unprocessed Raw LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unprocessed Raw Notion": {
      "main": [
        [
          {
            "node": "Clean Notion Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Notion Content": {
      "main": [
        [
          {
            "node": "Categorize & Summarize Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Categorize & Summarize Notion": {
      "main": [
        [
          {
            "node": "Merge Notion Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Notion Category": {
      "main": [
        [
          {
            "node": "Stage Notion Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage Notion Pages": {
      "main": [
        [
          {
            "node": "Get Unprocessed Staging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unprocessed Raw Substack": {
      "main": [
        [
          {
            "node": "Clean Substack Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Substack Content": {
      "main": [
        [
          {
            "node": "Categorize Substack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Categorize Substack": {
      "main": [
        [
          {
            "node": "Merge Substack Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Substack Category": {
      "main": [
        [
          {
            "node": "Stage Substack Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage Substack Posts": {
      "main": [
        [
          {
            "node": "Get Unprocessed Staging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unprocessed Raw LinkedIn": {
      "main": [
        [
          {
            "node": "Clean LinkedIn Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean LinkedIn Content": {
      "main": [
        [
          {
            "node": "Categorize LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Categorize LinkedIn": {
      "main": [
        [
          {
            "node": "Merge LinkedIn Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge LinkedIn Category": {
      "main": [
        [
          {
            "node": "Stage LinkedIn Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage LinkedIn Posts": {
      "main": [
        [
          {
            "node": "Get Unprocessed Staging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unprocessed Staging": {
      "main": [
        [
          {
            "node": "Extract Facts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Episodic Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Facts": {
      "main": [
        [
          {
            "node": "Parse Facts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Facts": {
      "main": [
        [
          {
            "node": "Insert Facts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Facts": {
      "main": [
        [
          {
            "node": "Mark Staging Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Episodic Events": {
      "main": [
        [
          {
            "node": "Parse Episodic Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Episodic Events": {
      "main": [
        [
          {
            "node": "Insert Episodic Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Episodic Events": {
      "main": [
        [
          {
            "node": "Mark Staging Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}