src/n8n/workflows/ai_summary_linkedin.json
{
  "id": "AiSummaryLinkedin",
  "name": "AI Summary LinkedIn",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "value": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  p.id AS post_id,\n  p.content AS post_content,\n  p.url AS post_url,\n  p.published_at AS post_published_at,\n  (SELECT COUNT(*) FROM s_linkedin.all_likes l WHERE l.post_id = p.id) AS likes_count,\n  c.id AS comment_id,\n  c.author AS comment_author,\n  c.content AS comment_content,\n  c.published_at AS comment_published_at\nFROM s_linkedin.ugc_posts p\nLEFT JOIN s_linkedin.all_comments c ON c.post_id = p.id\nWHERE p.published_at >= NOW() - INTERVAL '7 days'\nORDER BY p.published_at DESC, c.published_at DESC;"
      },
      "id": "get-latest-posts",
      "name": "Get Latest Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        300,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.all();\nif (rows.length === 0 || !rows[0].json.post_id) {\n  return [{ json: { text: 'No recent LinkedIn posts found.', post_ids: [], ref_map: {} } }];\n}\n\nconst posts = {};\nconst postIds = new Set();\n\nrows.forEach(row => {\n  const data = row.json;\n  const pId = data.post_id;\n  if (!pId) return;\n\n  postIds.add(pId);\n  if (!posts[pId]) {\n    posts[pId] = {\n      content: data.post_content,\n      url: data.post_url,\n      published_at: data.post_published_at,\n      likes_count: data.likes_count || 0,\n      comments: []\n    };\n  }\n\n  if (data.comment_id) {\n    if (!posts[pId].comments.some(c => c.id === data.comment_id)) {\n      posts[pId].comments.push({\n        id: data.comment_id,\n        author: data.comment_author,\n        content: data.comment_content,\n        published_at: data.comment_published_at\n      });\n    }\n  }\n});\n\nconst refMap = {};\nlet refCounter = 1;\n\nlet text = 'LinkedIn posts to analyze (each has an id number):\\n\\n';\n\nObject.entries(posts).forEach(([pId, post]) => {\n  const refId = refCounter++;\n  const snippet = (post.content || '').substring(0, 40).replace(/\\n/g, ' ') || 'LinkedIn Post';\n  refMap[String(refId)] = { title: snippet, url: post.url || '' };\n\n  text += `  id:${refId} | Published: ${post.published_at} | Likes: ${post.likes_count}\\n`;\n  text += `  Content: ${post.content || 'No content'}\\n`;\n  if (post.comments.length > 0) {\n    text += `  Comments:\\n`;\n    post.comments.forEach(comment => {\n      text += `    - by ${comment.author}: ${comment.content}\\n`;\n    });\n  }\n  text += '\\n';\n});\n\nconst fs = require('fs');\nlet persona = '';\ntry {\n  persona = fs.readFileSync('/etc/n8n/giusy.md', 'utf8');\n} catch (e) {\n  persona = 'Warm, brilliant AI Marketing Director named Giusy.';\n}\n\nreturn [{ json: { text, post_ids: Array.from(postIds), ref_map: refMap, giusy_persona: persona } }];"
      },
      "id": "format-posts-for-llm",
      "name": "Format Posts for LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "={{ $env.OLLAMA_CLOUD_MODEL || 'gemma3:4b' }}",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=### LANGUAGE RULE ###\nWrite everything in ENGLISH. One Italian greeting at the start (e.g. Buongiorno Don Jimmy 💡) and one Italian sign-off at the end (e.g. Buon lavoro). All content in between: ENGLISH.\n\n### YOUR PERSONA ###\nYou are Giusy, Don Jimmy's brilliant AI Marketing Director and Brand Strategist. Creative, sharp, highly communicative, and growth-oriented. Use Unicode emojis directly.\n\n### YOUR TASK ###\nAnalyze the LinkedIn posts and their engagement below. Return a JSON object with this exact structure — no extra text, no markdown fences, just raw JSON:\n\n{\n  \"greeting\": \"One short warm Italian greeting line for Don Jimmy\",\n  \"insights\": [\n    {\n      \"topic\": \"Short topic label in English (3-6 words)\",\n      \"summary\": \"2-3 sentence English analysis of content performance, themes of engagement, or resonance.\",\n      \"post_ids\": [1]\n    }\n  ],\n  \"content_ideas\": [\n    \"One sentence recommendation for a future content topic or angle based on what performed well.\"\n  ],\n  \"community_suggestions\": [\n    \"One sentence suggestion on how to respond to key comments, engage with specific commenters, or follow up.\"\n  ],\n  \"signoff\": \"One short warm Italian sign-off line\"\n}\n\nRules:\n- \"post_ids\" must be an array of the id numbers from the data that the insight is based on.\n- Output only valid JSON. No explanation, no markdown, no code fences.\n\n### LINKEDIN DATA ###\n{{ $json.text }}"
            }
          ]
        },
        "options": {
          "format": "json"
        }
      },
      "id": "summarize-via-ollama-cloud",
      "name": "Summarize via Ollama Cloud",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        700,
        300
      ],
      "credentials": {
        "ollamaApi": {
          "id": "ollama-cloud-api",
          "name": "Ollama Cloud API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const raw = $input.first().json.content || $input.first().json.response || '';\nconst refMap = $('Format Posts for LLM').first().json.ref_map || {};\n\nlet jsonStr = raw.trim();\nconst firstBrace = jsonStr.indexOf('{');\nconst lastBrace = jsonStr.lastIndexOf('}');\nif (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) {\n  jsonStr = jsonStr.substring(firstBrace, lastBrace + 1);\n}\n\njsonStr = jsonStr.replace(/[\\u201C\\u201D\\u201E\\u201F\\u2033\\u2036]/g, '\"');\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  try {\n    const cleanedStr = jsonStr.replace(/,\\s*([}\\]])/g, '$1');\n    parsed = JSON.parse(cleanedStr);\n  } catch (err) {\n    return [{ json: { response: raw } }];\n  }\n}\n\nconst greeting = parsed.greeting || '';\nconst signoff = parsed.signoff || '';\nconst insights = Array.isArray(parsed.insights) ? parsed.insights : [];\nconst contentIdeas = Array.isArray(parsed.content_ideas) ? parsed.content_ideas : [];\nconst communitySuggestions = Array.isArray(parsed.community_suggestions) ? parsed.community_suggestions : [];\n\nlet msg = '';\nif (greeting) msg += `${greeting}\\n\\n`;\nmsg += '🚀 *LinkedIn Marketing & Performance Insights* 🚀\\n\\n';\n\nif (insights.length > 0) {\n  msg += '*Engagement Analysis*:\\n';\n  insights.forEach(insight => {\n    const topic = insight.topic || 'Insight';\n    const summary = insight.summary || '';\n    const postIds = Array.isArray(insight.post_ids) ? insight.post_ids : [];\n\n    const links = postIds\n      .map(id => {\n        const ref = refMap[String(id)];\n        if (!ref || !ref.url) return null;\n        return `<${ref.url}|${ref.title}...>`;\n      })\n      .filter(Boolean);\n\n    const linkStr = links.length > 0 ? ' (Ref: ' + links.join(', ') + ')' : '';\n    msg += `• *${topic}*: ${summary}${linkStr}\\n`;\n  });\n  msg += '\\n';\n}\n\nif (contentIdeas.length > 0) {\n  msg += '*Future Content Strategy Ideas*:\\n';\n  contentIdeas.forEach(idea => {\n    msg += `• ${idea}\\n`;\n  });\n  msg += '\\n';\n}\n\nif (communitySuggestions.length > 0) {\n  msg += '*Community Management Actions*:\\n';\n  communitySuggestions.forEach(suggestion => {\n    msg += `• ${suggestion}\\n`;\n  });\n  msg += '\\n';\n}\n\nif (signoff) msg += `${signoff}`;\n\nreturn [{ json: { response: msg.trim() } }];"
      },
      "id": "build-slack-message",
      "name": "Build Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_MARKETING_CHANNEL || 'marketing-brand' }}",
        "text": "=🤖 *Weekly LinkedIn Performance Summary* 🤖\n\n{{ $('Build Slack Message').first().json.response }}",
        "otherOptions": {}
      },
      "id": "post-to-slack",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ],
      "credentials": {
        "slackApi": {
          "id": "slack-giusy-cred",
          "name": "Slack Giusy Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Latest Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Latest Posts": {
      "main": [
        [
          {
            "node": "Format Posts for LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Posts for LLM": {
      "main": [
        [
          {
            "node": "Summarize via Ollama Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize via Ollama Cloud": {
      "main": [
        [
          {
            "node": "Build Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Message": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Slack": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
