src/n8n/workflows/ai_summary_slack.json
{
  "id": "AiSummarySlack",
  "name": "AI Summary Slack",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "value": 24
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [100, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  s.name AS subreddit_name,\n  s.active AS subreddit_active,\n  p.id AS post_id,\n  p.title AS post_title,\n  p.content AS post_content,\n  p.author AS post_author,\n  p.url AS post_url,\n  p.created_at AS post_created_at,\n  c.id AS comment_id,\n  c.author AS comment_author,\n  c.content AS comment_content,\n  c.created_at AS comment_created_at\nFROM reddit_subreddits_monitored s\nLEFT JOIN reddit_posts p ON p.subreddit_id = s.id AND p.created_at >= NOW() - INTERVAL '1 day'\nLEFT JOIN reddit_comments c ON c.post_id = p.id\nORDER BY s.name, p.created_at DESC, c.created_at DESC;"
      },
      "id": "get-latest-posts",
      "name": "Get Latest Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [300, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.all();\nif (rows.length === 0 || !rows[0].json.subreddit_name) {\n  return [{ json: { text: 'No monitored subreddits or posts found.', post_ids: [], ref_map: {} } }];\n}\n\nconst subreddits = {};\nconst postIds = new Set();\n\nrows.forEach(row => {\n  const data = row.json;\n  const subName = data.subreddit_name;\n  if (!subreddits[subName]) {\n    subreddits[subName] = { active: data.subreddit_active, posts: {} };\n  }\n  if (data.post_id) {\n    postIds.add(data.post_id);\n    if (!subreddits[subName].posts[data.post_id]) {\n      subreddits[subName].posts[data.post_id] = {\n        title: data.post_title,\n        content: data.post_content,\n        author: data.post_author,\n        url: data.post_url,\n        created_at: data.post_created_at,\n        comments: []\n      };\n    }\n    if (data.comment_id) {\n      subreddits[subName].posts[data.post_id].comments.push({\n        author: data.comment_author,\n        content: data.comment_content,\n        created_at: data.comment_created_at\n      });\n    }\n  }\n});\n\n// Assign a sequential [ref:N] number to every post\n// ref_map: { '1': { title, url }, '2': { title, url }, ... }\nconst refMap = {};\nlet refCounter = 1;\n\nlet text = 'Here is the Reddit monitoring data:\\n\\n';\ntext += '=== Monitored Subreddits ===\\n';\nfor (const [subName, subInfo] of Object.entries(subreddits)) {\n  text += `- r/${subName} (Status: ${subInfo.active ? 'Active' : 'Inactive'})\\n`;\n}\ntext += '\\n=== New Posts & Comments (last 24h) ===\\n';\ntext += '(Each post has a citation number like [ref:1]. Use that number inline in your summary.)\\n\\n';\n\nfor (const [subName, subInfo] of Object.entries(subreddits)) {\n  const postsList = Object.values(subInfo.posts);\n  if (postsList.length === 0) continue;\n\n  text += `Subreddit: r/${subName}\\n`;\n  postsList.forEach(post => {\n    const refId = refCounter++;\n    refMap[String(refId)] = { title: post.title || 'Post', url: post.url || '' };\n\n    text += `  [ref:${refId}] ${post.title || 'No Title'} (by u/${post.author || 'unknown'})\\n`;\n    text += `  Content: ${(post.content || '').substring(0, 500)}\\n`;\n    if (post.comments.length > 0) {\n      text += `  Comments:\\n`;\n      post.comments.slice(0, 5).forEach(comment => {\n        text += `    - [u/${comment.author || 'unknown'}]: ${(comment.content || '').substring(0, 300)}\\n`;\n      });\n    }\n    text += `  -------------------------------------------\\n`;\n  });\n}\n\nconst fs = require('fs');\nlet persona = '';\ntry {\n  persona = fs.readFileSync('/etc/n8n/bella.md', 'utf8');\n} catch (e) {\n  persona = 'Warm, charming Italian secretary named Bella.';\n}\n\nreturn [{ json: { text, post_ids: Array.from(postIds), ref_map: refMap, bella_persona: persona } }];"
      },
      "id": "format-posts-for-llm",
      "name": "Format Posts for LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ollama.com/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OLLAMA_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $env.OLLAMA_CLOUD_MODEL || 'gemma3:4b' }}"
            },
            {
              "name": "prompt",
              "value": "=### ABSOLUTE LANGUAGE RULE — READ THIS FIRST ###\nYOU MUST WRITE YOUR ENTIRE RESPONSE IN ENGLISH. NOT ITALIAN. NOT ANY OTHER LANGUAGE. ENGLISH ONLY.\nThe ONLY Italian permitted is: a single greeting word (e.g. Buongiorno, Caro) at the very start, and a single sign-off (e.g. Un grande abbraccio) at the very end. Everything else MUST be in English.\n\n### YOUR PERSONA ###\nYou are Bella, Don Jimmy's devoted Italian secretary. Warm, charming, highly competent. You write all reports in ENGLISH. Use Unicode emojis (💋 ✨ 😉 💡) directly — never text codes like :kiss:.\n\n### CITATION RULE — VERY IMPORTANT ###\nEvery post in the data has a citation tag like [ref:1], [ref:2], etc.\nWhenever you mention or summarise a specific post in your output, you MUST place its citation tag inline immediately after the mention — like this:\n  \"Several users are struggling with scaling international networks [ref:1].\"\n  \"A user asks about predictive analytics tools [ref:3].\"\nDo NOT write out any URLs. Do NOT skip citation tags. The tags will be automatically replaced with clickable links.\n\n### TASK ###\nSummarize the Reddit posts below into a clear, structured Slack message for Don Jimmy. Highlight key user pain points, requests for recommendations, and business opportunities. Be concise and engaging.\n\n### REDDIT DATA ###\n{{ $json.text }}\n\n### FINAL REMINDER ###\nWrite in ENGLISH only. Place [ref:N] inline after every post mention. Do not include raw URLs."
            },
            {
              "name": "stream",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {}
      },
      "id": "summarize-via-ollama-cloud",
      "name": "Summarize via Ollama Cloud",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Get the raw LLM response\nconst response = $input.first().json.response || '';\n\n// Get the ref_map built deterministically in Format Posts for LLM\nconst refMap = $('Format Posts for LLM').first().json.ref_map || {};\n\n// Step 1: Replace [ref:N] citation tags with Slack hyperlinks <url|title>\nlet text = response.replace(/\\[ref:(\\d+)\\]/g, (match, n) => {\n  const ref = refMap[n];\n  if (!ref || !ref.url) return '';\n  return `<${ref.url}|${ref.title}>`;\n});\n\n// Step 2: Convert remaining markdown to Slack format\ntext = text.replace(/\\*\\*(.*?)\\*\\*/g, '*$1*');\ntext = text.replace(/#{1,6}\\s+(.*?)($|\\n)/g, '*$1*\\n');\n// Convert any stray markdown links the model may have snuck in\ntext = text.replace(/\\[([^\\]]+)\\]\\(([^)]+)\\)/g, '<$2|$1>');\n\nreturn [{ json: { response: text } }];"
      },
      "id": "inject-links",
      "name": "Inject Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_SUMMARY_CHANNEL || 'opportunities' }}",
        "text": "=🤖 *Daily Reddit Summary Report* 🤖\n\n{{ $('Inject Links').first().json.response }}",
        "otherOptions": {}
      },
      "id": "post-to-slack",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1300, 200],
      "credentials": {
        "slackApi": {
          "id": "slack-api-cred",
          "name": "Slack API Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Get Latest Posts", "type": "main", "index": 0 }]]
    },
    "Get Latest Posts": {
      "main": [[{ "node": "Format Posts for LLM", "type": "main", "index": 0 }]]
    },
    "Format Posts for LLM": {
      "main": [[{ "node": "Summarize via Ollama Cloud", "type": "main", "index": 0 }]]
    },
    "Summarize via Ollama Cloud": {
      "main": [[{ "node": "Inject Links", "type": "main", "index": 0 }]]
    },
    "Inject Links": {
      "main": [[{ "node": "Post to Slack", "type": "main", "index": 0 }]]
    },
    "Post to Slack": {
      "main": [[]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}