src/n8n/workflows/ai_summary_slack.json
{
  "id": "AiSummarySlack",
  "name": "AI Summary Slack",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "value": 24
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  s.name AS subreddit_name,\n  s.active AS subreddit_active,\n  p.id AS post_id,\n  p.title AS post_title,\n  p.content AS post_content,\n  p.author AS post_author,\n  p.url AS post_url,\n  p.created_at AS post_created_at,\n  c.id AS comment_id,\n  c.author AS comment_author,\n  c.content AS comment_content,\n  c.created_at AS comment_created_at\nFROM reddit_subreddits_monitored s\nLEFT JOIN reddit_posts p ON p.subreddit_id = s.id AND p.processed = 0\nLEFT JOIN reddit_comments c ON c.post_id = p.id\nORDER BY s.name, p.created_at DESC, c.created_at DESC;"
      },
      "id": "get-unprocessed-posts",
      "name": "Get Unprocessed Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        300,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-posts-exist",
              "leftValue": "={{ $json.subreddit_name }}",
              "operator": {
                "name": "filter.operator.isNotEmpty",
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "if-posts-exist",
      "name": "If Posts Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.all();\nif (rows.length === 0 || !rows[0].json.subreddit_name) {\n  return [{ json: { text: \"No monitored subreddits or posts found.\", post_ids: [] } }];\n}\n\nconst subreddits = {};\nconst postIds = new Set();\n\nrows.forEach(row => {\n  const data = row.json;\n  const subName = data.subreddit_name;\n  \n  if (!subreddits[subName]) {\n    subreddits[subName] = {\n      active: data.subreddit_active,\n      posts: {}\n    };\n  }\n  \n  if (data.post_id) {\n    postIds.add(data.post_id);\n    if (!subreddits[subName].posts[data.post_id]) {\n      subreddits[subName].posts[data.post_id] = {\n        title: data.post_title,\n        content: data.post_content,\n        author: data.post_author,\n        url: data.post_url,\n        created_at: data.post_created_at,\n        comments: []\n      };\n    }\n    \n    if (data.comment_id) {\n      subreddits[subName].posts[data.post_id].comments.push({\n        author: data.comment_author,\n        content: data.comment_content,\n        created_at: data.comment_created_at\n      });\n    }\n  }\n});\n\nlet text = \"Here is the summary of the Reddit monitoring status:\\n\\n\";\ntext += \"=== Monitored Subreddits ===\\n\";\nfor (const [subName, subInfo] of Object.entries(subreddits)) {\n  text += `- r/${subName} (Status: ${subInfo.active ? 'Active' : 'Inactive'})\\n`;\n}\ntext += \"\\n=== New Unprocessed Posts & Comments ===\\n\\n\";\n\nfor (const [subName, subInfo] of Object.entries(subreddits)) {\n  const postsList = Object.values(subInfo.posts);\n  if (postsList.length === 0) {\n    continue;\n  }\n  text += `Subreddit: r/${subName}\\n`;\n  postsList.forEach((post, index) => {\n    text += `  Post #${index + 1}: ${post.title || 'No Title'}\\n`;\n    text += `  Author: u/${post.author || 'unknown'}\\n`;\n    text += `  Content: ${(post.content || '').substring(0, 500)}\\n`;\n    text += `  URL: ${post.url || 'No URL'}\\n`;\n    if (post.comments.length > 0) {\n      text += `  Comments:\\n`;\n      post.comments.slice(0, 5).forEach((comment) => {\n        text += `    - [u/${comment.author || 'unknown'}]: ${(comment.content || '').substring(0, 300)}\\n`;\n      });\n    }\n    text += `  -------------------------------------------\\n`;\n  });\n}\n\nreturn [{ json: { text: text, post_ids: Array.from(postIds) } }];"
      },
      "id": "format-posts-for-llm",
      "name": "Format Posts for LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ollama.com/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OLLAMA_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.OLLAMA_CLOUD_MODEL || 'llama3:cloud' }}\",\n  \"prompt\": \"You are a helpful business scout and community manager. Summarize the following Reddit posts into a clear, structured summary highlighting key user pain points, requests for recommendations, or business opportunities. Keep it concise, engaging, and format it using Slack markdown (bold, bullet points, headers, emojis). Here are the posts:\\n\\n{{ $json.text }}\",\n  \"stream\": false\n}",
        "options": {}
      },
      "id": "summarize-via-ollama-cloud",
      "name": "Summarize via Ollama Cloud",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  w.workspace_name,\n  pgp_sym_decrypt(w.token, '{{ $env.ENCRYPTION_KEY || 'default-secret-key' }}') AS token,\n  pgp_sym_decrypt(w.d_cookie, '{{ $env.ENCRYPTION_KEY || 'default-secret-key' }}') AS d_cookie,\n  pgp_sym_decrypt(w.d_s_cookie, '{{ $env.ENCRYPTION_KEY || 'default-secret-key' }}') AS d_s_cookie,\n  c.channel_id\nFROM slack_workspaces_monitored w\nJOIN slack_channels_monitored c ON c.workspace_id = w.id\nWHERE w.active = true AND c.active = true\nLIMIT 1;"
      },
      "id": "get-active-slack-channel",
      "name": "Get Active Slack Channel",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1100,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "=d={{ $json.d_cookie }}; d-s={{ $json.d_s_cookie }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $json.channel_id }}\",\n  \"text\": \"🤖 *Daily Reddit Summary Report* 🤖\\n\\n{{ $('Summarize via Ollama Cloud').first().json.response }}\"\n}",
        "options": {}
      },
      "id": "post-to-slack",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE reddit_posts \nSET processed = 1 \nWHERE id IN ({{ $('Format Posts for LLM').first().json.post_ids.length > 0 ? $('Format Posts for LLM').first().json.post_ids.map(id => \"'\" + id + \"'\").join(',') : \"''\" }});"
      },
      "id": "mark-posts-processed",
      "name": "Mark Posts Processed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1500,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Unprocessed Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unprocessed Posts": {
      "main": [
        [
          {
            "node": "If Posts Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Posts Exist": {
      "main": [
        [
          {
            "node": "Format Posts for LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Posts for LLM": {
      "main": [
        [
          {
            "node": "Summarize via Ollama Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize via Ollama Cloud": {
      "main": [
        [
          {
            "node": "Get Active Slack Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Slack Channel": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Slack": {
      "main": [
        [
          {
            "node": "Mark Posts Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}