src/n8n/workflows/ai_summary_linkedin.json
{
  "id": "AiSummaryLinkedin",
  "name": "AI Summary LinkedIn",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "value": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id AS post_id, content AS post_content, url AS post_url, published_at AS post_published_at\nFROM s_linkedin.ugc_posts\nWHERE published_at >= NOW() - INTERVAL '7 days'\nORDER BY published_at DESC;"
      },
      "id": "get-latest-posts",
      "name": "Get Latest Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        300,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT post_id, author AS like_author, published_at AS like_published_at\nFROM s_linkedin.social_action_likes\nWHERE published_at >= NOW() - INTERVAL '7 days'\nORDER BY published_at DESC;"
      },
      "id": "get-post-likes",
      "name": "Get Post Likes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        500,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT post_id, author AS comment_author, content AS comment_content, published_at AS comment_published_at\nFROM s_linkedin.social_action_comments\nWHERE published_at >= NOW() - INTERVAL '7 days'\nORDER BY published_at DESC;"
      },
      "id": "get-post-comments",
      "name": "Get Post Comments",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        700,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT sender_name, recipient_name, content, sent_at\nFROM s_linkedin.messages\nWHERE sent_at >= NOW() - INTERVAL '7 days'\nORDER BY sent_at DESC;"
      },
      "id": "get-recent-messages",
      "name": "Get Recent Messages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        900,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT from_name, to_name, message, direction, sent_at\nFROM s_linkedin.all_invitations\nWHERE sent_at >= NOW() - INTERVAL '7 days'\nORDER BY sent_at DESC;"
      },
      "id": "get-recent-invitations",
      "name": "Get Recent Invitations",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1100,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 'comment' AS type, post_id, content, published_at\nFROM s_linkedin.all_comments\nWHERE published_at >= NOW() - INTERVAL '7 days'\nUNION ALL\nSELECT 'like' AS type, post_id, NULL AS content, published_at\nFROM s_linkedin.all_likes\nWHERE published_at >= NOW() - INTERVAL '7 days'\nORDER BY published_at DESC;"
      },
      "id": "get-our-outbound-activity",
      "name": "Get Our Outbound Activity",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1300,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const postsRows = $('Get Latest Posts').all();\nconst likesRows = $('Get Post Likes').all();\nconst commentsRows = $('Get Post Comments').all();\nconst messagesRows = $('Get Recent Messages').all();\nconst invitationsRows = $('Get Recent Invitations').all();\nconst outboundRows = $('Get Our Outbound Activity').all();\n\nlet text = 'LINKEDIN ACTIVITY & PERFORMANCE REPORT FOR DON JIMMY\\n\\n';\nlet refMap = {};\nlet refCounter = 1;\n\n// 1. Map comments and likes to posts\nconst posts = {};\npostsRows.forEach(row => {\n  const p = row.json;\n  if (!p.post_id) return;\n  posts[p.post_id] = {\n    content: p.post_content,\n    url: p.post_url,\n    published_at: p.post_published_at,\n    likes_count: 0,\n    comments: []\n  };\n});\n\nlikesRows.forEach(row => {\n  const l = row.json;\n  if (posts[l.post_id]) {\n    posts[l.post_id].likes_count++;\n  }\n});\n\ncommentsRows.forEach(row => {\n  const c = row.json;\n  if (posts[c.post_id]) {\n    posts[c.post_id].comments.push({\n      author: c.comment_author,\n      content: c.comment_content,\n      published_at: c.comment_published_at\n    });\n  }\n});\n\n// 2. Format Posts & Comments Received\ntext += '=== LATEST PUBLISHED POSTS & INBOUND ENGAGEMENT ===\\n';\nif (Object.keys(posts).length === 0) {\n  text += 'No posts published in the last 7 days.\\n\\n';\n} else {\n  Object.entries(posts).forEach(([pId, post]) => {\n    const refId = refCounter++;\n    const snippet = (post.content || '').substring(0, 40).replace(/\\n/g, ' ') || 'LinkedIn Post';\n    refMap[String(refId)] = { title: snippet, url: post.url || '' };\n\n    text += `[Post #${refId}] | Likes Received: ${post.likes_count} | Published: ${post.published_at}\\n`;\n    text += `Content: ${post.content || 'No content'}\\n`;\n    if (post.comments.length > 0) {\n      text += `Comments Received:\\n`;\n      post.comments.forEach(comment => {\n        text += `  - by ${comment.author}: ${comment.content}\\n`;\n      });\n    }\n    text += '\\n';\n  });\n}\n\n// 3. Format Outbound Activity\ntext += '=== OUTBOUND ENGAGEMENT (My Likes & Comments on LinkedIn) ===\\n';\nif (outboundRows.length === 0 || !outboundRows[0].json.type) {\n  text += 'No outbound likes or comments in the last 7 days.\\n\\n';\n} else {\n  outboundRows.forEach(row => {\n    const act = row.json;\n    if (act.type === 'comment') {\n      text += `- Commented on post (ID: ${act.post_id}) at ${act.published_at}: \"${act.content}\"\\n`;\n    } else {\n      text += `- Liked post (ID: ${act.post_id}) at ${act.published_at}\\n`;\n    }\n  });\n  text += '\\n';\n}\n\n// 4. Format Messages\ntext += '=== DIRECT MESSAGES (Last 7 Days) ===\\n';\nif (messagesRows.length === 0 || !messagesRows[0].json.sender_name) {\n  text += 'No new inbox messages.\\n\\n';\n} else {\n  messagesRows.forEach(row => {\n    const msg = row.json;\n    text += `From: ${msg.sender_name} | To: ${msg.recipient_name} | Sent: ${msg.sent_at}\\n`;\n    text += `Message: ${msg.content || 'No content'}\\n\\n`;\n  });\n}\n\n// 5. Format Connection Requests\ntext += '=== CONNECTION INVITATIONS (Last 7 Days) ===\\n';\nif (invitationsRows.length === 0 || !invitationsRows[0].json.from_name) {\n  text += 'No new connection requests.\\n\\n';\n} else {\n  invitationsRows.forEach(row => {\n    const invite = row.json;\n    text += `Direction: ${invite.direction} | From: ${invite.from_name} | To: ${invite.to_name} | Sent: ${invite.sent_at}\\n`;\n    if (invite.message) {\n      text += `Personal Note: ${invite.message}\\n`;\n    }\n    text += '\\n';\n  });\n}\n\nconst fs = require('fs');\nlet persona = '';\ntry {\n  persona = fs.readFileSync('/etc/n8n/giusy.md', 'utf8');\n} catch (e) {\n  persona = 'Warm, brilliant AI Marketing Director named Giusy.';\n}\n\nreturn [{ json: { text, ref_map: refMap, giusy_persona: persona } }];"
      },
      "id": "format-data-for-llm",
      "name": "Format Data for LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "={{ $env.OLLAMA_CLOUD_MODEL || 'gemma3:4b' }}",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=### LANGUAGE RULE ###\nWrite everything in ENGLISH. One Italian greeting at the start (e.g. Buongiorno Don Jimmy 💡) and one Italian sign-off at the end (e.g. Buon lavoro). All content in between: ENGLISH.\n\n### YOUR PERSONA & CONTEXT ###\nYou are Giusy, Don Jimmy's brilliant AI Marketing Director and Brand Strategist. Creative, sharp, highly communicative, and growth-oriented. Use Unicode emojis directly.\nCRITICAL CONTEXT: This is for Don Jimmy's personal LinkedIn account. Focus on his personal brand, networking, and engagement. Do NOT focus on the content marketing and positioning for Data Biz (AI/Data Consultancy) yet; that will be handled later in a separate workflow.\n\n### YOUR TASK ###\nAnalyze the LinkedIn performance (inbound posts & comments received, outbound comments/likes made, messages, and connection requests) below. Provide a marketing critique to maximize impressions, engagement, and conversion. Return a JSON object with this exact structure — no extra text, no markdown fences, just raw JSON:\n\n{\n  \"greeting\": \"One short warm Italian greeting line for Don Jimmy\",\n  \"outbound_activity_critique\": {\n    \"overview\": \"A short high-level overview comment evaluating our outbound commenting and liking activity. E.g., 'Our commenting and liking activity has been sporadic and focused primarily on agreeing with the sentiment of the posts, without always offering substantial insights or driving meaningful conversations.'\",\n    \"bulletpoints\": [\n      \"We need to be more proactive in asking questions and stimulating discussion to increase our profile's engagement and perceived value.\",\n      \"Another specific observation or critique point about outbound activity.\"\n    ]\n  },\n  \"inbox_and_leads_analysis\": {\n    \"overview\": \"A short high-level overview comment of recent direct messages and connection requests. E.g., 'The recent direct messages primarily consist of connection requests from individuals in data science and AI roles, suggesting a potential pool of leads interested in Don Jimmy’s expertise.'\",\n    \"bulletpoints\": [\n      \"One message, from a Dr. Anya Sharma, appears to be a more detailed inquiry about data governance frameworks, indicating a potentially higher-value lead.\",\n      \"Another specific detail or observation about messages/invitations.\"\n    ]\n  },\n  \"community_and_lead_actions\": [\n    {\n      \"type\": \"Comment Reply / Message Follow-up / Invitation Acceptance\",\n      \"target\": \"Name of the person (commenter, sender, or inviter)\",\n      \"actionable_reply\": \"Specific suggested text/draft or action for Don Jimmy to reply to keep the thread alive or follow up on a lead.\"\n    }\n  ],\n  \"strategic_writing_directives\": [\n    \"Specific writing directives and recommendations for future LinkedIn writing (including critiques of recent posts and tactical suggestions on hook structures, post length, formatting, etc.)\"\n  ],\n  \"signoff\": \"One short warm Italian sign-off line\"\n}\n\nRules:\n- Output only valid JSON. No explanation, no markdown, no code fences.\n\n### LINKEDIN DATA ###\n{{ $json.text }}"
            }
          ]
        },
        "options": {
          "format": "json"
        }
      },
      "id": "Summarize via Ollama Cloud",
      "name": "Summarize via Ollama Cloud",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        1700,
        300
      ],
      "credentials": {
        "ollamaApi": {
          "id": "ollama-cloud-api",
          "name": "Ollama Cloud API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const raw = $input.first().json.content || $input.first().json.response || '';\nconst refMap = $('Format Data for LLM').first().json.ref_map || {};\n\nlet jsonStr = raw.trim();\nconst firstBrace = jsonStr.indexOf('{');\nconst lastBrace = jsonStr.lastIndexOf('}');\nif (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) {\n  jsonStr = jsonStr.substring(firstBrace, lastBrace + 1);\n}\n\njsonStr = jsonStr.replace(/[\\u201C\\u201D\\u201E\\u201F\\u2033\\u2036]/g, '\"');\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  try {\n    const cleanedStr = jsonStr.replace(/,\\s*([}\\]])/g, '$1');\n    parsed = JSON.parse(cleanedStr);\n  } catch (err) {\n    return [{ json: { response: raw } }];\n  }\n}\n\nconst greeting = parsed.greeting || '';\nconst signoff = parsed.signoff || '';\nconst outbound = parsed.outbound_activity_critique || {};\nconst inbox = parsed.inbox_and_leads_analysis || {};\nconst communityActions = Array.isArray(parsed.community_and_lead_actions) ? parsed.community_and_lead_actions : [];\nconst strategicDirectives = Array.isArray(parsed.strategic_writing_directives) ? parsed.strategic_writing_directives : [];\n\nconst outputs = [];\n\n// 1. Outbound Activity Critique\nif (outbound && (outbound.overview || (Array.isArray(outbound.bulletpoints) && outbound.bulletpoints.length > 0))) {\n  let outboundMsg = '';\n  if (greeting) {\n    outboundMsg += `${greeting}\\n\\n`;\n  }\n  outboundMsg += `🧭 *1. Outbound Activity Critique* 🧭\\n`;\n  if (outbound.overview) {\n    outboundMsg += `${outbound.overview}\\n\\n`;\n  }\n  if (Array.isArray(outbound.bulletpoints) && outbound.bulletpoints.length > 0) {\n    outbound.bulletpoints.forEach(bullet => {\n      outboundMsg += `• ${bullet}\\n`;\n    });\n  }\n  outputs.push({ json: { response: outboundMsg.trim() } });\n}\n\n// 2. Inbox & Leads Analysis\nif (inbox && (inbox.overview || (Array.isArray(inbox.bulletpoints) && inbox.bulletpoints.length > 0))) {\n  let inboxMsg = `📥 *2. Inbox & Leads Analysis* 📥\\n`;\n  if (inbox.overview) {\n    inboxMsg += `${inbox.overview}\\n\\n`;\n  }\n  if (Array.isArray(inbox.bulletpoints) && inbox.bulletpoints.length > 0) {\n    inbox.bulletpoints.forEach(bullet => {\n      inboxMsg += `• ${bullet}\\n`;\n    });\n  }\n  outputs.push({ json: { response: inboxMsg.trim() } });\n}\n\n// 3. Community & Lead Actions\nif (communityActions.length > 0) {\n  let communityMsg = `🤝 *3. Community & Lead Actions* 🤝\\n`;\n  communityActions.forEach(action => {\n    communityMsg += `• *${action.type || 'Action'}* with *${action.target || 'Community'}*:\\n  _\"${action.actionable_reply}\"_\\n`;\n  });\n  outputs.push({ json: { response: communityMsg.trim() } });\n}\n\n// 4. Strategic Writing Directives\nif (strategicDirectives.length > 0) {\n  let strategicMsg = `✍️ *4. Strategic Writing Directives* ✍️\\n`;\n  strategicDirectives.forEach(rec => {\n    strategicMsg += `• ${rec}\\n`;\n  });\n  if (signoff) {\n    strategicMsg += `\\n${signoff}`;\n  }\n  outputs.push({ json: { response: strategicMsg.trim() } });\n} else if (signoff) {\n  outputs.push({ json: { response: signoff } });\n}\n\nreturn outputs;"
      },
      "id": "build-slack-message",
      "name": "Build Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        300
      ]
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_MARKETING_CHANNEL || 'content' }}",
        "text": "={{ $json.response }}",
        "otherOptions": {}
      },
      "id": "post-to-slack",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        2100,
        300
      ],
      "credentials": {
        "slackApi": {
          "id": "slack-giusy-cred",
          "name": "Slack Giusy Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Latest Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Latest Posts": {
      "main": [
        [
          {
            "node": "Get Post Likes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Post Likes": {
      "main": [
        [
          {
            "node": "Get Post Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Post Comments": {
      "main": [
        [
          {
            "node": "Get Recent Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Messages": {
      "main": [
        [
          {
            "node": "Get Recent Invitations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Invitations": {
      "main": [
        [
          {
            "node": "Get Our Outbound Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Our Outbound Activity": {
      "main": [
        [
          {
            "node": "Format Data for LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data for LLM": {
      "main": [
        [
          {
            "node": "Summarize via Ollama Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize via Ollama Cloud": {
      "main": [
        [
          {
            "node": "Build Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Message": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Slack": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
