src/n8n/workflows/auto_eda.json
{
  "id": "AutoEda",
  "name": "Auto EDA",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "value": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "directives",
              "value": "Focus on Reddit post volumes, Substack activity, and analyze general content-generation trends to identify where we are seeing the most engagement."
            }
          ]
        },
        "options": {}
      },
      "id": "set-directives",
      "name": "Set Directives",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    ns.nspname AS schema_name,\n    cl.relname AS table_name,\n    att.attname AS column_name,\n    pg_catalog.format_type(att.atttypid, att.atttypmod) AS data_type,\n    pg_catalog.col_description(cl.oid, att.attnum) AS column_description\nFROM pg_attribute att\nJOIN pg_class cl ON att.attrelid = cl.oid\nJOIN pg_namespace ns ON cl.relnamespace = ns.oid\nWHERE ns.nspname NOT IN ('pg_catalog', 'information_schema')\n  AND cl.relkind = 'r'\n  AND att.attnum > 0\n  AND NOT att.attisdropped\nORDER BY schema_name, table_name, att.attnum;"
      },
      "id": "scan-db-structure",
      "name": "Scan DB Structure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        500,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const schemaRows = $('Scan DB Structure').all();\nconst directivesItem = $('Set Directives').first();\nconst directives = directivesItem ? directivesItem.json.directives : 'No directives provided.';\n\nif (schemaRows.length === 0) {\n  return [{ json: { text: 'No database tables found.', directives } }];\n}\n\nconst schemas = {};\nschemaRows.forEach(row => {\n  const d = row.json;\n  if (!schemas[d.schema_name]) {\n    schemas[d.schema_name] = {};\n  }\n  if (!schemas[d.schema_name][d.table_name]) {\n    schemas[d.schema_name][d.table_name] = [];\n  }\n  schemas[d.schema_name][d.table_name].push({\n    column: d.column_name,\n    type: d.data_type,\n    description: d.column_description || ''\n  });\n});\n\nlet text = 'PostgreSQL Database Schema and Column Documentation:\\n\\n';\nfor (const [schemaName, tables] of Object.entries(schemas)) {\n  text += `Schema: ${schemaName}\\n`;\n  for (const [tableName, columns] of Object.entries(tables)) {\n    text += `  Table: ${tableName}\\n`;\n    columns.forEach(col => {\n      text += `    - ${col.column} (${col.type})${col.description ? ' // ' + col.description : ''}\\n`;\n    });\n  }\n  text += '\\n';\n}\n\nconst fs = require('fs');\nlet persona = '';\ntry {\n  persona = fs.readFileSync('/etc/n8n/kowalski.md', 'utf8');\n} catch (e) {\n  persona = 'Kowalski, tactical and military-grade database analyst agent.';\n}\n\nreturn [{ json: { text, directives, kowalski_persona: persona } }];"
      },
      "id": "format-schema-for-llm",
      "name": "Format Schema for LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "={{ $env.OLLAMA_CLOUD_MODEL || 'gemma3:4b' }}",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=### YOUR PERSONA ###\n{{ $json.kowalski_persona }}\n\n### DON JIMMY'S ANALYSIS DIRECTIVES ###\n{{ $json.directives }}\n\n### YOUR TASK ###\nBased on the PostgreSQL schema structure below and Don Jimmy's directives, generate exactly 3 hypotheses to test.\nFor each hypothesis, write a valid read-only PostgreSQL query that aggregates or extracts stats to validate or invalidate the hypothesis.\n\nReturn a JSON object with this exact structure — no extra text, no markdown fences, just raw JSON:\n\n{\n  \"queries\": [\n    {\n      \"hypothesis\": \"Detailed statement of your hypothesis\",\n      \"title\": \"Short descriptive title for the test query\",\n      \"sql\": \"SELECT ...\"\n    }\n  ]\n}\n\nRules:\n- All SQL queries must be valid read-only PostgreSQL queries.\n- Only target tables defined in the schema below.\n- Output only valid JSON. No explanations, no markdown code blocks.\n\n### SCHEMA STRUCTURE ###\n{{ $json.text }}"
            }
          ]
        },
        "options": {
          "format": "json"
        }
      },
      "id": "suggest-insights-queries",
      "name": "Suggest Insights Queries",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "credentials": {
        "ollamaApi": {
          "id": "ollama-cloud-api",
          "name": "Ollama Cloud API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const raw = $input.first().json.content || $input.first().json.response || '';\nlet jsonStr = raw.trim();\nconst firstBrace = jsonStr.indexOf('{');\nconst lastBrace = jsonStr.lastIndexOf('}');\nif (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) {\n  jsonStr = jsonStr.substring(firstBrace, lastBrace + 1);\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  parsed = {\n    queries: [\n      {\n        hypothesis: \"Reddit activity represents the largest ingestion source in the database currently.\",\n        title: \"Total post counts across sources\",\n        sql: \"SELECT 'reddit' as src, count(*) from s_reddit.posts UNION SELECT 'substack', count(*) from s_substack.posts;\"\n      }\n    ]\n  };\n}\n\nconst queries = Array.isArray(parsed.queries) ? parsed.queries : [];\nreturn queries.map(q => ({ json: { hypothesis: q.hypothesis, title: q.title, sql: q.sql } }));"
      },
      "id": "parse-queries",
      "name": "Parse Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}"
      },
      "id": "execute-dynamic-query",
      "name": "Execute Dynamic Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1300,
        300
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst queryMeta = $('Parse Queries').all();\n\nconst results = items.map((item, index) => {\n  const meta = queryMeta[index] ? queryMeta[index].json : { hypothesis: 'Unknown hypothesis', title: 'Unknown Query', sql: '' };\n  return {\n    hypothesis: meta.hypothesis,\n    title: meta.title,\n    sql: meta.sql,\n    data: item.json.error ? null : item.json,\n    error: item.json.error || null\n  };\n});\n\nconst fs = require('fs');\nlet persona = '';\ntry {\n  persona = fs.readFileSync('/etc/n8n/kowalski.md', 'utf8');\n} catch (e) {\n  persona = 'Kowalski, tactical and military-grade database analyst agent.';\n}\n\nconst directivesItem = $('Set Directives').first();\nconst directives = directivesItem ? directivesItem.json.directives : 'No directives provided.';\n\nreturn [{ json: { results, directives, kowalski_persona: persona } }];"
      },
      "id": "format-results-for-analysis",
      "name": "Format Results for Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "={{ $env.OLLAMA_CLOUD_MODEL || 'gemma3:4b' }}",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=### YOUR PERSONA ###\n{{ $json.kowalski_persona }}\n\n### DON JIMMY'S ANALYSIS DIRECTIVES ###\n{{ $json.directives }}\n\n### HYPOTHESES & QUERY RESULTS ###\n{{ JSON.stringify($json.results, null, 2) }}\n\n### YOUR TASK ###\nPerform a tactical analysis based on the query results:\n1. **Evaluate Hypotheses**: For each hypothesis, check the results and state if it is VALIDATED, INVALIDATED, or INCONCLUSIVE (if a query returned an error, state it clearly as inconclusive due to syntax/schema issues).\n2. **Identify Insights**: Summarize the data points and any trends you observed.\n3. **Perform a Data Gap Analysis**: Identify what data is currently missing from the database (e.g. fields, tables, or sources) that would be critical to fully address Don Jimmy's directives or to confirm the hypotheses with higher certainty.\n\nRules:\n- Format with clear military-style sections (e.g., 📋 Overview, 🔬 Hypothesis Validation, ⚠️ Data Gap Analysis, 🫡 Recommendation).\n- Start with your signature greeting.\n- End with your signature sign-off."
            }
          ]
        }
      },
      "id": "analyze-results-via-llm",
      "name": "Analyze Results via LLM",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        1700,
        300
      ],
      "credentials": {
        "ollamaApi": {
          "id": "ollama-cloud-api",
          "name": "Ollama Cloud API"
        }
      }
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_READINGS_CHANNEL || 'Readings' }}",
        "text": "=📊 *Kowalski Tactical Analysis & Gap Report* 📊\n\n{{ $json.content || $json.response }}",
        "otherOptions": {}
      },
      "id": "post-to-slack",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1900,
        300
      ],
      "credentials": {
        "slackApi": {
          "id": "slack-kowalski-cred",
          "name": "Slack Kowalski Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Directives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Directives": {
      "main": [
        [
          {
            "node": "Scan DB Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan DB Structure": {
      "main": [
        [
          {
            "node": "Format Schema for LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Schema for LLM": {
      "main": [
        [
          {
            "node": "Suggest Insights Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suggest Insights Queries": {
      "main": [
        [
          {
            "node": "Parse Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Queries": {
      "main": [
        [
          {
            "node": "Execute Dynamic Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Dynamic Query": {
      "main": [
        [
          {
            "node": "Format Results for Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Results for Analysis": {
      "main": [
        [
          {
            "node": "Analyze Results via LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Results via LLM": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
