src/n8n/workflows/auto_eda.json
{
  "id": "AutoEda",
  "name": "Auto EDA",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "value": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT directive FROM s_analytics.directives WHERE active = TRUE;"
      },
      "id": "get-directives",
      "name": "Get Directives",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        300,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    ns.nspname AS schema_name,\n    cl.relname AS table_name,\n    att.attname AS column_name,\n    pg_catalog.format_type(att.atttypid, att.atttypmod) AS data_type,\n    pg_catalog.col_description(cl.oid, att.attnum) AS column_description\nFROM pg_attribute att\nJOIN pg_class cl ON att.attrelid = cl.oid\nJOIN pg_namespace ns ON cl.relnamespace = ns.oid\nWHERE ns.nspname NOT IN ('pg_catalog', 'information_schema')\n  AND cl.relkind = 'r'\n  AND att.attnum > 0\n  AND NOT att.attisdropped\nORDER BY schema_name, table_name, att.attnum;"
      },
      "id": "scan-db-structure",
      "name": "Scan DB Structure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        500,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const schemaRows = $('Scan DB Structure').all();\nconst directiveRows = $('Get Directives').all();\nconst directives = directiveRows.length > 0 ? directiveRows.map((r, i) => (i + 1) + '. ' + r.json.directive).join('\\n') : 'No directives provided.';\n\nif (schemaRows.length === 0) {\n  return [{ json: { text: 'No database tables found.', directives } }];\n}\n\nconst schemas = {};\nschemaRows.forEach(row => {\n  const d = row.json;\n  if (!schemas[d.schema_name]) {\n    schemas[d.schema_name] = {};\n  }\n  if (!schemas[d.schema_name][d.table_name]) {\n    schemas[d.schema_name][d.table_name] = [];\n  }\n  schemas[d.schema_name][d.table_name].push({\n    column: d.column_name,\n    type: d.data_type,\n    description: d.column_description || ''\n  });\n});\n\nlet text = 'PostgreSQL Database Schema and Column Documentation:\\n\\n';\nfor (const [schemaName, tables] of Object.entries(schemas)) {\n  text += `Schema: ${schemaName}\\n`;\n  for (const [tableName, columns] of Object.entries(tables)) {\n    text += `  Table: ${tableName}\\n`;\n    columns.forEach(col => {\n      text += `    - ${col.column} (${col.type})${col.description ? ' // ' + col.description : ''}\\n`;\n    });\n  }\n  text += '\\n';\n}\n\nconst fs = require('fs');\nlet persona = '';\ntry {\n  persona = fs.readFileSync('/etc/n8n/kowalski.md', 'utf8');\n} catch (e) {\n  persona = 'Kowalski, tactical and military-grade database analyst agent.';\n}\n\nreturn [{ json: { text, directives, kowalski_persona: persona } }];"
      },
      "id": "format-schema-for-llm",
      "name": "Format Schema for LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### YOUR PERSONA ###\n{{ $json.kowalski_persona }}\n\n### DON JIMMY'S ANALYSIS DIRECTIVES ###\n{{ $json.directives }}\n\n### SCHEMA STRUCTURE & COLUMN DOCUMENTATION ###\n{{ $json.text }}\n\n### YOUR TASK ###\nFormulate exactly 3 hypotheses matching Don Jimmy's directives.\nQuery the database using your Postgres Query Tool to validate or invalidate each hypothesis.\n\nThen, write a tactical intelligence report detailing:\n1. 🔬 **Hypothesis Validation**: For each hypothesis, show the SQL query ran, the results, and whether it is validated, invalidated, or inconclusive.\n2. ⚠️ **Data Gap Analysis**: Identify what data is currently missing from the database (e.g. fields, tables, or sources) that would be critical to fully address Don Jimmy's directives or to confirm the hypotheses with higher certainty.\n\nEnsure you write the report in English, following your tactical tone.",
        "options": {}
      },
      "id": "kowalski-ai-agent",
      "name": "Kowalski AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        950,
        300
      ]
    },
    {
      "parameters": {
        "model": "={{ $env.OLLAMA_CLOUD_MODEL || 'gemma3:4b' }}",
        "options": {}
      },
      "id": "ollama-model-node",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        850,
        450
      ],
      "credentials": {
        "ollamaApi": {
          "id": "ollama-cloud-api",
          "name": "Ollama Cloud API"
        }
      }
    },
    {
      "parameters": {
        "name": "postgres_query_tool",
        "description": "Allows executing custom read-only SQL queries against the PostgreSQL database. Input must be a valid SQL query string.",
        "jsCode": "const { Client } = require('pg');\nconst client = new Client({\n  host: process.env.DB_APPLICATION_HOST || process.env.DB_POSTGRESDB_HOST || 'db',\n  port: parseInt(process.env.DB_APPLICATION_PORT || process.env.DB_POSTGRESDB_PORT || '5432', 10),\n  database: 'jager',\n  user: process.env.DB_APPLICATION_USER || process.env.DB_POSTGRESDB_USER || 'jager',\n  password: process.env.DB_APPLICATION_PASSWORD || process.env.DB_POSTGRESDB_PASSWORD || 'jager',\n});\nawait client.connect();\ntry {\n  const res = await client.query(query);\n  await client.end();\n  return JSON.stringify(res.rows);\n} catch (err) {\n  await client.end();\n  return JSON.stringify({ error: err.message });\n}"
      },
      "id": "postgres-query-tool",
      "name": "Postgres Query Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [
        980,
        450
      ]
    },
    {
      "parameters": {},
      "id": "agent-memory-node",
      "name": "Agent Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [
        1100,
        450
      ]
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_ANALYTICS_CHANNEL || 'analytics' }}",
        "text": "=📊 *Kowalski Tactical Analysis & Gap Report (Auto EDA)* 📊\n\n{{ $json.output }}",
        "otherOptions": {}
      },
      "id": "post-to-slack",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1200,
        300
      ],
      "credentials": {
        "slackApi": {
          "id": "slack-kowalski-cred",
          "name": "Slack Kowalski Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Directives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Directives": {
      "main": [
        [
          {
            "node": "Scan DB Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan DB Structure": {
      "main": [
        [
          {
            "node": "Format Schema for LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Schema for LLM": {
      "main": [
        [
          {
            "node": "Kowalski AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Kowalski AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Query Tool": {
      "ai_tool": [
        [
          {
            "node": "Kowalski AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agent Memory": {
      "ai_memory": [
        [
          {
            "node": "Kowalski AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Kowalski AI Agent": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
