src/n8n/workflows/cge_linkedin_individual_posts.json
{
  "id": "CgeLinkedinIndividualPosts",
  "name": "CGE - LinkedIn Individual Posts Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "value": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT title AS post_title, content AS post_content, url AS post_url, published_at AS post_published_at\nFROM s_substack.posts\nWHERE feed_name = 'JimmyPang'\nORDER BY published_at DESC\nLIMIT 3;"
      },
      "id": "Get Substack Context",
      "name": "Get Substack Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        300,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT content AS post_content, published_at\nFROM s_linkedin.ugc_posts\nORDER BY published_at DESC\nLIMIT 5;"
      },
      "id": "Get LinkedIn Context",
      "name": "Get LinkedIn Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        500,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT title AS page_title, content AS page_content, url AS page_url, last_edited_time\nFROM s_notion.pages\nORDER BY last_edited_time DESC\nLIMIT 5;"
      },
      "id": "Get Notion Context",
      "name": "Get Notion Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        700,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const substackRows = $('Get Substack Context').all();\nconst linkedinRows = $('Get LinkedIn Context').all();\nconst notionRows = $('Get Notion Context').all();\n\nlet text = '';\n\n// 1. Substack\nif (substackRows.length === 0 || !substackRows[0].json.post_title) {\n  text += 'No recent Substack posts found.\\n\\n';\n} else {\n  text += '### RECENT SUBSTACK ARTICLES (Source Material) ###\\n';\n  substackRows.forEach((row, index) => {\n    const p = row.json;\n    text += `Title: ${p.post_title}\\nURL: ${p.post_url}\\nContent snippet: ${(p.post_content || '').substring(0, 2000)}\\n\\n`;\n  });\n}\n\n// 2. LinkedIn\nif (linkedinRows.length === 0 || !linkedinRows[0].json.post_content) {\n  text += 'No past LinkedIn posts found.\\n\\n';\n} else {\n  text += '### PAST LINKEDIN POSTS (Use for style, formatting, and tone match) ###\\n';\n  linkedinRows.forEach((row, index) => {\n    const p = row.json;\n    text += `Post #${index + 1} (Published: ${p.published_at})\\nContent: ${p.post_content}\\n\\n`;\n  });\n}\n\n// 3. Notion\nif (notionRows.length === 0 || !notionRows[0].json.page_title) {\n  text += 'No recent Notion pages found.\\n\\n';\n} else {\n  text += '### NOTION BRAINSTORMING & NOTES (Additional Context) ###\\n';\n  notionRows.forEach((row, index) => {\n    const p = row.json;\n    text += `Title: ${p.page_title}\\nContent: ${(p.page_content || '').substring(0, 1500)}\\n\\n`;\n  });\n}\n\nconst fs = require('fs');\nlet persona = '';\ntry {\n  persona = fs.readFileSync('/etc/n8n/giusy.md', 'utf8');\n} catch (e) {\n  persona = 'Warm, brilliant AI Marketing Director named Giusy.';\n}\n\nreturn [{ json: { text, giusy_persona: persona } }];"
      },
      "id": "format-context-for-llm",
      "name": "Format Context for LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "={{ $env.OLLAMA_CLOUD_MODEL || 'gemma3:4b' }}",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=### YOUR PERSONA & CONTEXT ###\n{{ $json.giusy_persona }}\n\n### YOUR TASK ###\nRead the Substack articles, past LinkedIn posts, and Notion notes provided below. Generate a high-impact, professional, and engaging LinkedIn post proposal for Jimmy Pang's individual LinkedIn account.\n\nCRITICAL SPEAKER IDENTITY:\nThe speaking person of the LinkedIn post draft MUST be Jimmy Pang, a prominent data leader and AI consultant who has insightful, strategic thoughts to say in order to demonstrate Thought Leadership. The tone should be authoritative yet accessible, expert, and visionary.\n\nCRITICAL OUTPUT RULES:\n1. Do NOT include any Giusy conversational greetings (such as \"Ciao Don Jimmy\" or \"Carissimo Don Jimmy\") or conversational sign-offs (such as \"Buon lavoro\") anywhere in the output.\n2. The output MUST be a valid JSON object starting with '{' and ending with '}'. Do not include markdown code fences or any conversational filler outside of the JSON.\n3. The 'linkedin_post' field must contain ONLY the actual text of the LinkedIn post written from Jimmy's perspective, with no conversational metadata or greetings.\n\nEnsure you:\n1. Match the formatting style, spacing, hook structures, and tone of his past LinkedIn posts.\n2. Leverage the fresh insights from the Substack articles and Notion notes.\n3. Make sure the post is in English and written from Jimmy Pang's personal perspective as a data leader.\n\nReturn a JSON object with this exact structure:\n\n{\n  \"linkedin_post\": \"The complete, ready-to-publish LinkedIn post content.\",\n  \"brief_strategic_reasoning\": \"A short sentence explaining why you structured/wrote the post this way.\"\n}\n\n### SOURCE DATA ###\n{{ $json.text }}"
            }
          ]
        },
        "options": {
          "format": "json"
        }
      },
      "id": "generate-proposal-post",
      "name": "Generate Proposal Post",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ],
      "credentials": {
        "ollamaApi": {
          "id": "ollama-cloud-api",
          "name": "Ollama Cloud API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const raw = $input.first().json.content || $input.first().json.response || '';\nlet jsonStr = raw.trim();\n\nlet linkedin_post = '';\nlet reasoning = '';\nlet parsed = false;\n\ntry {\n  let cleanStr = jsonStr;\n  const firstBrace = cleanStr.indexOf('{');\n  const lastBrace = cleanStr.lastIndexOf('}');\n  if (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) {\n    cleanStr = cleanStr.substring(firstBrace, lastBrace + 1);\n  }\n  cleanStr = cleanStr.replace(/[\\u201C\\u201D\\u201E\\u201F\\u2033\\u2036]/g, '\"');\n  const obj = JSON.parse(cleanStr);\n  linkedin_post = obj.linkedin_post || '';\n  reasoning = obj.brief_strategic_reasoning || '';\n  parsed = true;\n} catch (e) {\n  // standard parsing failed\n}\n\nif (!parsed) {\n  const postMatch = jsonStr.match(/\"linkedin_post\"\\s*:\\s*\"([\\s\\S]*?)\"\\s*,\\s*\"brief_strategic_reasoning\"/);\n  if (postMatch) {\n    linkedin_post = postMatch[1];\n  } else {\n    const altMatch = jsonStr.match(/\"linkedin_post\"\\s*:\\s*\"([\\s\\S]*?)\"\\s*}/);\n    if (altMatch) {\n      linkedin_post = altMatch[1];\n    } else {\n      linkedin_post = raw.replace(/```json/g, '').replace(/```/g, '').trim();\n    }\n  }\n  const reasonMatch = jsonStr.match(/\"brief_strategic_reasoning\"\\s*:\\s*\"([\\s\\S]*?)\"/);\n  if (reasonMatch) {\n    reasoning = reasonMatch[1];\n  }\n  \n  linkedin_post = linkedin_post\n    .replace(/\\\\n/g, '\\n')\n    .replace(/\\\\\"/g, '\"')\n    .replace(/\\\\'/g, \"'\")\n    .replace(/\\\\\\\\/g, '\\\\');\n  reasoning = reasoning\n    .replace(/\\\\n/g, '\\n')\n    .replace(/\\\\\"/g, '\"')\n    .replace(/\\\\'/g, \"'\")\n    .replace(/\\\\\\\\/g, '\\\\');\n}\n\nreturn [{ json: { linkedin_post, reasoning } }];"
      },
      "id": "Parse LLM Response",
      "name": "Parse LLM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO t_content_generation.linkedin_posts (channel, content, original_prompt_or_source, status)\nVALUES ('individual', '{{ $json.linkedin_post.replace(/'/g, \"''\") }}', 'Generated from Substack, LinkedIn, and Notion context.', 'draft')\nRETURNING id, channel, status, content;"
      },
      "id": "save-proposal-to-db",
      "name": "Save Proposal to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1500,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const dbResult = $input.first().json;\nconst messageText = '💡 *New LinkedIn Post Proposal (Individual)* 💡\\n\\n*Status:* Draft (Saved in Database, ID: ' + dbResult.id + ')\\n*Proposed Content:*\\n```\\n' + dbResult.content + '\\n```\\n\\n_Generated by Giusy_ 🤖';\nreturn [{ json: { slack_message: messageText } }];"
      },
      "id": "Formulate Slack Message",
      "name": "Formulate Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        300
      ]
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_MARKETING_CHANNEL || 'content' }}",
        "text": "={{ $json.slack_message }}",
        "otherOptions": {}
      },
      "id": "notify-slack",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1900,
        300
      ],
      "credentials": {
        "slackApi": {
          "id": "slack-giusy-cred",
          "name": "Slack Giusy Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Substack Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Substack Context": {
      "main": [
        [
          {
            "node": "Get LinkedIn Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LinkedIn Context": {
      "main": [
        [
          {
            "node": "Get Notion Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Notion Context": {
      "main": [
        [
          {
            "node": "Format Context for LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Context for LLM": {
      "main": [
        [
          {
            "node": "Generate Proposal Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Proposal Post": {
      "main": [
        [
          {
            "node": "Parse LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Response": {
      "main": [
        [
          {
            "node": "Save Proposal to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Proposal to DB": {
      "main": [
        [
          {
            "node": "Formulate Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formulate Slack Message": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}