src/n8n/workflows/data_ingestion_linkedin.json
{
  "id": "linkedin-ingestion-workflow",
  "name": "Data Ingestion - LinkedIn",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "value": 12
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/me",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "options": {}
      },
      "id": "get-linkedin-profile",
      "name": "Get LinkedIn Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        300,
        300
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "linkedin-oauth2",
          "name": "LinkedIn OAuth2 Credential"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.linkedin.com/v2/ugcPosts?q=authors&authors=urn:li:person:{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "options": {}
      },
      "id": "fetch-linkedin-posts",
      "name": "Fetch LinkedIn Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        300
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "linkedin-oauth2",
          "name": "LinkedIn OAuth2 Credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = [];\nconst postResponses = $('Fetch LinkedIn Posts').all();\n\nfor (const resp of postResponses) {\n  const elements = resp.json.elements || [];\n  for (const element of elements) {\n    const id = element.id;\n    const author = element.author;\n    // Extract commentary text/content\n    const content = element.specificContent?.['com.linkedin.ugc.ShareContent']?.shareCommentary?.text || '';\n    const publishedAtRaw = element.created?.time || Date.now();\n    const publishedAt = new Date(publishedAtRaw).toISOString();\n    \n    // Construct standard LinkedIn share URL\n    const url = `https://www.linkedin.com/feed/update/${id}`;\n    \n    results.push({\n      id,\n      author_urn: author,\n      content,\n      url,\n      published_at: publishedAt\n    });\n  }\n}\nreturn results;"
      },
      "id": "parse-linkedin-posts",
      "name": "Parse LinkedIn Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO linkedin_posts (id, author_urn, content, url, published_at, processed)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.author_urn }}',\n  '{{ $json.content.replace(/'/g, \"''\") }}',\n  '{{ $json.url }}',\n  '{{ $json.published_at }}',\n  0\n)\nON CONFLICT (id)\nDO UPDATE SET content = EXCLUDED.content\nRETURNING id;"
      },
      "id": "upsert-linkedin-posts",
      "name": "Upsert LinkedIn Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        900,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get LinkedIn Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LinkedIn Profile": {
      "main": [
        [
          {
            "node": "Fetch LinkedIn Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch LinkedIn Posts": {
      "main": [
        [
          {
            "node": "Parse LinkedIn Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LinkedIn Posts": {
      "main": [
        [
          {
            "node": "Upsert LinkedIn Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
