src/n8n/workflows/data_ingestion_slack.json
{
  "id": "SlackIngestionWorkflow",
  "name": "Data Ingestion - Slack",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "value": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "start-date-id",
              "name": "start_date",
              "type": "string",
              "value": "={{ $now.minus({ days: 1 }).toFormat('yyyy-MM-dd') }}"
            },
            {
              "id": "end-date-id",
              "name": "end_date",
              "type": "string",
              "value": "={{ $now.plus({ days: 1 }).toFormat('yyyy-MM-dd') }}"
            }
          ]
        }
      },
      "id": "workflow-parameters",
      "name": "Ingestion Date Range Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        250,
        150
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \n  w.workspace_id,\n  w.workspace_name,\n  pgp_sym_decrypt(w.token, '{{ $env.ENCRYPTION_KEY || 'default-secret-key' }}') AS token,\n  pgp_sym_decrypt(w.d_cookie, '{{ $env.ENCRYPTION_KEY || 'default-secret-key' }}') AS d_cookie,\n  pgp_sym_decrypt(w.d_s_cookie, '{{ $env.ENCRYPTION_KEY || 'default-secret-key' }}') AS d_s_cookie,\n  c.id AS channel_db_id,\n  c.channel_id,\n  c.name AS channel_name\nFROM slack_workspaces_monitored w\nJOIN slack_channels_monitored c ON c.workspace_id = w.id\nWHERE w.active = true AND c.active = true;"
      },
      "id": "get-active-slack-channels",
      "name": "Get Active Slack Channels",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        250,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://' + $json.workspace_name + '.slack.com/api/conversations.history' }}",
        "sendBody": true,
        "bodyContentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.token }}"
            },
            {
              "name": "channel",
              "value": "={{ $json.channel_id }}"
            },
            {
              "name": "oldest",
              "value": "={{ Math.floor(new Date($('Ingestion Date Range Parameters').first().json.start_date + 'T00:00:00Z').getTime() / 1000) }}"
            },
            {
              "name": "latest",
              "value": "={{ Math.floor(new Date($('Ingestion Date Range Parameters').first().json.end_date + 'T00:00:00Z').getTime() / 1000) }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ 'd=' + $json.d_cookie + '; d-s=' + $json.d_s_cookie }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-slack-messages",
      "name": "Fetch Slack Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = [];\nconst items = $input.all();\nlet channels = [];\ntry {\n  channels = $('Get Active Slack Channels').all();\n} catch (e) {\n  console.log('[Parse Slack] Could not read from Get Active Slack Channels node:', e.message);\n}\n\nfor (const item of items) {\n  const pairedIndex = (item.pairedItem && typeof item.pairedItem.index === 'number') ? item.pairedItem.index : 0;\n  const channel = (channels[pairedIndex] && channels[pairedIndex].json) ? channels[pairedIndex].json : { channel_db_id: 1, channel_id: 'C5GQ29DBM' };\n  const channel_db_id = channel.channel_db_id;\n  const channel_id = channel.channel_id;\n  \n  const messages = item.json.messages || [];\n  for (const msg of messages) {\n    if (msg.subtype && msg.subtype !== 'bot_message') continue;\n    \n    const messageId = `${channel_id}_${msg.ts}`;\n    const created_at = new Date(parseFloat(msg.ts) * 1000).toISOString();\n    const cleanTs = msg.ts.replace('.', '');\n    const url = `https://slack.com/archives/${channel_id}/p${cleanTs}`;\n\n    results.push({\n      id: messageId,\n      channel_db_id: channel_db_id,\n      author: msg.user || msg.bot_id || 'unknown',\n      content: msg.text || '',\n      url: url,\n      created_at: created_at,\n      processed: 0\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "parse-slack-messages",
      "name": "Parse Slack Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO slack_messages (id, channel_db_id, author, content, url, created_at, processed)\nVALUES (\n  '{{ $json.id }}',\n  {{ $json.channel_db_id }},\n  '{{ $json.author.replace(/'/g, \"''\") }}',\n  '{{ $json.content.replace(/'/g, \"''\") }}',\n  '{{ $json.url }}',\n  '{{ $json.created_at }}',\n  0\n)\nON CONFLICT (id) \nDO NOTHING\nRETURNING id;"
      },
      "id": "insert-slack-messages",
      "name": "Insert Slack Messages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        950,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Ingestion Date Range Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingestion Date Range Parameters": {
      "main": [
        [
          {
            "node": "Get Active Slack Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Slack Channels": {
      "main": [
        [
          {
            "node": "Fetch Slack Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Slack Messages": {
      "main": [
        [
          {
            "node": "Parse Slack Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Slack Messages": {
      "main": [
        [
          {
            "node": "Insert Slack Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
