src/n8n/workflows/data_ingestion_open_meteo.json
{
  "id": "weather-ingestion-workflow",
  "name": "Data Ingestion - Weather (Berlin)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "value": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast?latitude=52.52&longitude=13.41&current=temperature_2m,relative_humidity_2m,apparent_temperature,precipitation,wind_speed_10m,weather_code",
        "options": {}
      },
      "id": "fetch-weather-api",
      "name": "Fetch Weather API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO open_meteo_weather_data (location, temperature, humidity, apparent_temperature, precipitation, wind_speed, weather_code, recorded_at)\nVALUES (\n  'Berlin',\n  {{ $json.current.temperature_2m }},\n  {{ $json.current.relative_humidity_2m }},\n  {{ $json.current.apparent_temperature }},\n  {{ $json.current.precipitation }},\n  {{ $json.current.wind_speed_10m }},\n  {{ $json.current.weather_code }},\n  '{{ $json.current.time }}'\n);"
      },
      "id": "insert-weather",
      "name": "Insert Weather",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        500,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Weather API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Weather API": {
      "main": [
        [
          {
            "node": "Insert Weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
