src/n8n/workflows/data_ingestion_eurostat_fx.json
{
  "id": "fx-ingestion-workflow",
  "name": "Data Ingestion - Eurostat (FX Rates)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "value": 12
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://ec.europa.eu/eurostat/api/dissemination/statistics/1.0/data/ert_bil_eur_d?format=json&lang=en&currency=USD&currency=HKD&lastTimePeriod=10",
        "options": {}
      },
      "id": "fetch-fx-api",
      "name": "Fetch FX API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $input.first().json;\nconst size = data.size;\nconst values = data.value || {};\nconst dimensions = data.dimension;\n\nconst currencyKeys = Object.keys(dimensions.currency.category.index);\nconst timeKeys = Object.keys(dimensions.time.category.index);\n\nconst results = [];\nconst ratesByDate = {};\n\nfor (const currency of currencyKeys) {\n  const i_currency = dimensions.currency.category.index[currency];\n  for (const time of timeKeys) {\n    const i_time = dimensions.time.category.index[time];\n    const idx = i_currency * size[4] + i_time;\n    const val = values[idx.toString()];\n    \n    if (val !== undefined && val !== null) {\n      if (!ratesByDate[time]) {\n        ratesByDate[time] = {};\n      }\n      ratesByDate[time][currency] = val;\n    }\n  }\n}\n\nfor (const date of Object.keys(ratesByDate)) {\n  const rates = ratesByDate[date];\n  if (rates.USD) {\n    results.push({\n      base_currency: 'USD',\n      target_currency: 'EUR',\n      rate: 1 / rates.USD,\n      rate_date: date\n    });\n  }\n  if (rates.HKD) {\n    results.push({\n      base_currency: 'EUR',\n      target_currency: 'HKD',\n      rate: rates.HKD,\n      rate_date: date\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "parse-fx",
      "name": "Parse FX Rates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO s_euro_stat.fx_rates (base_currency, target_currency, rate, rate_date)\nVALUES ('{{ $json.base_currency }}', '{{ $json.target_currency }}', {{ $json.rate }}, '{{ $json.rate_date }}')\nON CONFLICT (base_currency, target_currency, rate_date)\nDO UPDATE SET rate = EXCLUDED.rate;"
      },
      "id": "insert-fx",
      "name": "Insert FX Rates",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        700,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch FX API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch FX API": {
      "main": [
        [
          {
            "node": "Parse FX Rates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse FX Rates": {
      "main": [
        [
          {
            "node": "Insert FX Rates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
