src/n8n/workflows/data_ingestion_substack.json
{
  "id": "substack-ingestion-workflow",
  "name": "Data Ingestion - Substack",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "value": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "start-date-uuid",
              "name": "start_date",
              "type": "string",
              "value": "={{ $now.minus({ days: 30 }).toFormat('yyyy-MM-dd') }}"
            },
            {
              "id": "end-date-uuid",
              "name": "end_date",
              "type": "string",
              "value": "={{ $now.plus({ days: 1 }).toFormat('yyyy-MM-dd') }}"
            }
          ]
        }
      },
      "id": "workflow-parameters",
      "name": "Ingestion Date Range Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        250,
        150
      ]
    },
    {
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "feeds-list-uuid",
              "name": "feeds",
              "type": "array",
              "value": [
                {
                  "id": 1,
                  "name": "SeattleDataGuy",
                  "feed_url": "https://seattledataguy.substack.com/feed"
                },
                {
                  "id": 2,
                  "name": "Decision",
                  "feed_url": "https://decision.substack.com/feed"
                },
                {
                  "id": 3,
                  "name": "TheGoodBoss",
                  "feed_url": "https://read.thegoodboss.com/feed"
                },
                {
                  "id": 4,
                  "name": "EngLeadership",
                  "feed_url": "https://newsletter.eng-leadership.com/feed"
                },
                {
                  "id": 5,
                  "name": "ThrivingInEngineering",
                  "feed_url": "https://thrivinginengineering.substack.com/feed"
                },
                {
                  "id": 6,
                  "name": "CodeLikeAGirl",
                  "feed_url": "https://codelikeagirl.substack.com/feed"
                },
                {
                  "id": 7,
                  "name": "JimmyPang",
                  "feed_url": "https://jimmypang.substack.com/feed"
                }
              ]
            }
          ]
        }
      },
      "id": "get-active-feeds",
      "name": "Get Active Feeds",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const https = require('https');\n\nfunction fetchRSS(url, retries = 1) {\n  return new Promise((resolve, reject) => {\n    const options = {\n      headers: {\n        'User-Agent': 'Jager/1.0 (by /u/jager_developer)'\n      },\n      timeout: 5000\n    };\n    const req = https.get(url, options, (res) => {\n      let data = '';\n      res.on('data', (chunk) => { data += chunk; });\n      res.on('end', () => {\n        if (res.statusCode === 200) {\n          resolve(data);\n        } else {\n          if (retries > 0) {\n            console.log(`Retrying fetch for ${url} (status ${res.statusCode})...`);\n            setTimeout(() => {\n              fetchRSS(url, retries - 1).then(resolve).catch(reject);\n            }, 1000);\n          } else {\n            reject(new Error(`Status ${res.statusCode}`));\n          }\n        }\n      });\n    });\n    req.on('error', (err) => {\n      if (retries > 0) {\n        console.log(`Retrying fetch for ${url} due to error: ${err.message}...`);\n        setTimeout(() => {\n          fetchRSS(url, retries - 1).then(resolve).catch(reject);\n        }, 1000);\n      } else {\n        reject(err);\n      }\n    });\n    req.on('timeout', () => {\n      req.destroy();\n      if (retries > 0) {\n        console.log(`Retrying fetch for ${url} due to timeout...`);\n        setTimeout(() => {\n          fetchRSS(url, retries - 1).then(resolve).catch(reject);\n        }, 1000);\n      } else {\n        reject(new Error('Request Timeout'));\n      }\n    });\n  });\n}\n\nconst results = [];\nconst items = $input.first().json.feeds || [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const feedName = item.name;\n  const feedUrl = item.feed_url;\n  const feedId = item.id;\n\n  if (i > 0) {\n    await new Promise(resolve => setTimeout(resolve, 1000));\n  }\n\n  try {\n    const xml = await fetchRSS(feedUrl);\n    results.push({\n      feed_id: feedId,\n      feed_name: feedName,\n      feed_url: feedUrl,\n      xml: xml\n    });\n  } catch (error) {\n    console.error(`Error fetching feed ${feedName} (${feedUrl}):`, error.message);\n  }\n}\nreturn results;"
      },
      "id": "fetch-posts-rss",
      "name": "Fetch Posts RSS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = [];\nconst items = $input.all();\n\nlet startDateStr, endDateStr;\ntry {\n  startDateStr = $('Ingestion Date Range Parameters').first().json.start_date;\n  endDateStr = $('Ingestion Date Range Parameters').first().json.end_date;\n} catch (e) {\n  console.log('[Parse Posts] Could not read date range from Ingestion Date Range Parameters:', e.message);\n}\n\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst today = new Date();\n\nlet startDate = startDateStr ? new Date(startDateStr + 'T00:00:00Z') : yesterday;\nlet endDate = endDateStr ? new Date(endDateStr + 'T00:00:00Z') : today;\n\nif (isNaN(startDate.getTime())) {\n  startDate = yesterday;\n}\nif (isNaN(endDate.getTime())) {\n  endDate = today;\n}\n\nfor (const item of items) {\n  const { feed_id, feed_name, xml } = item.json;\n  if (!xml) continue;\n\n  const itemMatches = xml.match(/<item>[\\s\\S]*?<\\/item>/g) || [];\n  let matchesInFeed = 0;\n  \n  for (const entry of itemMatches) {\n    const guidMatch = entry.match(/<guid[^>]*>([\\s\\S]*?)<\\/guid>/);\n    const linkMatch = entry.match(/<link>([\\s\\S]*?)<\\/link>/);\n    const creatorMatch = entry.match(/<dc:creator><!\\[CDATA\\[([\\s\\S]*?)\\]\\]><\\/dc:creator>/) || entry.match(/<dc:creator>([\\s\\S]*?)<\\/dc:creator>/);\n    const titleMatch = entry.match(/<title><!\\[CDATA\\[([\\s\\S]*?)\\]\\]><\\/title>/) || entry.match(/<title>([\\s\\S]*?)<\\/title>/);\n    const contentMatch = entry.match(/<content:encoded><!\\[CDATA\\[([\\s\\S]*?)\\]\\]><\\/content:encoded>/) || entry.match(/<content:encoded>([\\s\\S]*?)<\\/content:encoded>/) || entry.match(/<description><!\\[CDATA\\[([\\s\\S]*?)\\]\\]><\\/description>/) || entry.match(/<description>([\\s\\S]*?)<\\/description>/);\n    const pubDateMatch = entry.match(/<pubDate>([\\s\\S]*?)<\\/pubDate>/);\n\n    if (guidMatch || linkMatch) {\n      const id = guidMatch ? guidMatch[1].replace(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/, '$1').trim() : linkMatch[1].trim();\n      const url = linkMatch ? linkMatch[1].trim() : '';\n      const author = creatorMatch ? creatorMatch[1].trim() : feed_name;\n      const title = titleMatch ? titleMatch[1].trim() : '';\n      let content = contentMatch ? contentMatch[1].trim() : '';\n      \n      content = content.replace(/<[^>]*>/g, '').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&amp;/g, '&');\n      if (!content) content = title;\n\n      const published_at_raw = pubDateMatch ? pubDateMatch[1].trim() : new Date().toISOString();\n      const published_at = new Date(published_at_raw);\n\n      if (published_at >= startDate && published_at < endDate) {\n        matchesInFeed++;\n        results.push({\n          id,\n          feed_id,\n          feed_name,\n          author,\n          title,\n          content: content.substring(0, 5000),\n          url,\n          published_at: published_at.toISOString(),\n          processed: 0\n        });\n      }\n    }\n  }\n  console.log(`[Parse Posts] Feed: ${feed_name}, matches in date range: ${matchesInFeed}`);\n}\nreturn results;"
      },
      "id": "parse-posts-xml",
      "name": "Parse Posts XML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO substack_posts (id, feed_id, feed_name, author, title, content, url, published_at, processed)\nVALUES (\n  '{{ $json.id }}',\n  (SELECT id FROM substack_feeds_monitored WHERE name = '{{ $json.feed_name }}' LIMIT 1),\n  '{{ $json.feed_name }}',\n  '{{ $json.author.replace(/'/g, \"''\") }}',\n  '{{ $json.title.replace(/'/g, \"''\") }}',\n  '{{ $json.content.replace(/'/g, \"''\") }}',\n  '{{ $json.url }}',\n  '{{ $json.published_at }}',\n  0\n)\nON CONFLICT (id) \nDO UPDATE SET title = EXCLUDED.title, content = EXCLUDED.content\nRETURNING id, feed_id;"
      },
      "id": "insert-posts",
      "name": "Insert/Upsert Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        850,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO substack_feeds_monitored (id, name, feed_url, active)\nSELECT (val->>'id')::integer, val->>'name', val->>'feed_url', true\nFROM json_array_elements('{{ JSON.stringify($json.feeds) }}'::json) AS val\nON CONFLICT (name) \nDO UPDATE SET feed_url = EXCLUDED.feed_url, active = true;"
      },
      "id": "update-monitored-feeds",
      "name": "Update Monitored Feeds",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        450,
        150
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Ingestion Date Range Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingestion Date Range Parameters": {
      "main": [
        [
          {
            "node": "Get Active Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Feeds": {
      "main": [
        [
          {
            "node": "Fetch Posts RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Monitored Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Posts RSS": {
      "main": [
        [
          {
            "node": "Parse Posts XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Posts XML": {
      "main": [
        [
          {
            "node": "Insert/Upsert Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}