src/n8n/workflows/data_ingestion_meetup.json
{
  "id": "meetup-ingestion-workflow",
  "name": "Data Ingestion - Meetup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "value": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "start-date-uuid",
              "name": "start_date",
              "type": "string",
              "value": "={{ $now.minus({ days: 30 }).toFormat('yyyy-MM-dd') }}"
            },
            {
              "id": "end-date-uuid",
              "name": "end_date",
              "type": "string",
              "value": "={{ $now.plus({ days: 1 }).toFormat('yyyy-MM-dd') }}"
            }
          ]
        }
      },
      "id": "workflow-parameters",
      "name": "Ingestion Date Range Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        250,
        150
      ]
    },
    {
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "searches-list-uuid",
              "name": "searches",
              "type": "array",
              "value": [
                {
                  "id": 1,
                  "name": "Berlin",
                  "search_url": "https://openrss.org/www.meetup.com/find/?keywords=Berlin"
                }
              ]
            }
          ]
        }
      },
      "id": "get-active-searches",
      "name": "Get Active Searches",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const https = require('https');\n\nfunction fetchRSS(url, retries = 1) {\n  return new Promise((resolve, reject) => {\n    const options = {\n      headers: {\n        'User-Agent': 'Jager/1.0 (by /u/jager_developer)'\n      },\n      timeout: 5000\n    };\n    const req = https.get(url, options, (res) => {\n      let data = '';\n      res.on('data', (chunk) => { data += chunk; });\n      res.on('end', () => {\n        if (res.statusCode === 200) {\n          resolve(data);\n        } else {\n          if (retries > 0) {\n            console.log(`Retrying fetch for ${url} (status ${res.statusCode})...`);\n            setTimeout(() => {\n              fetchRSS(url, retries - 1).then(resolve).catch(reject);\n            }, 1000);\n          } else {\n            reject(new Error(`Status ${res.statusCode}`));\n          }\n        }\n      });\n    });\n    req.on('error', (err) => {\n      if (retries > 0) {\n        console.log(`Retrying fetch for ${url} due to error: ${err.message}...`);\n        setTimeout(() => {\n          fetchRSS(url, retries - 1).then(resolve).catch(reject);\n        }, 1000);\n      } else {\n        reject(err);\n      }\n    });\n    req.on('timeout', () => {\n      req.destroy();\n      if (retries > 0) {\n        console.log(`Retrying fetch for ${url} due to timeout...`);\n        setTimeout(() => {\n          fetchRSS(url, retries - 1).then(resolve).catch(reject);\n        }, 1000);\n      } else {\n        reject(new Error('Request Timeout'));\n      }\n    });\n  });\n}\n\nconst results = [];\nconst items = $input.first().json.searches || [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const searchName = item.name;\n  const searchUrl = item.search_url;\n  const searchId = item.id;\n\n  if (i > 0) {\n    await new Promise(resolve => setTimeout(resolve, 1000));\n  }\n\n  try {\n    const xml = await fetchRSS(searchUrl);\n    results.push({\n      search_id: searchId,\n      search_name: searchName,\n      search_url: searchUrl,\n      xml: xml\n    });\n  } catch (error) {\n    console.error(`Error fetching search ${searchName} (${searchUrl}):`, error.message);\n  }\n}\nreturn results;"
      },
      "id": "fetch-search-results-rss",
      "name": "Fetch Search Results RSS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = [];\nconst items = $input.all();\n\nlet startDateStr, endDateStr;\ntry {\n  startDateStr = $('Ingestion Date Range Parameters').first().json.start_date;\n  endDateStr = $('Ingestion Date Range Parameters').first().json.end_date;\n} catch (e) {\n  console.log('[Parse Search Results] Could not read date range from Ingestion Date Range Parameters:', e.message);\n}\n\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst today = new Date();\n\nlet startDate = startDateStr ? new Date(startDateStr + 'T00:00:00Z') : yesterday;\nlet endDate = endDateStr ? new Date(endDateStr + 'T00:00:00Z') : today;\n\nif (isNaN(startDate.getTime())) {\n  startDate = yesterday;\n}\nif (isNaN(endDate.getTime())) {\n  endDate = today;\n}\n\nfor (const item of items) {\n  const { search_id, search_name, xml } = item.json;\n  if (!xml) continue;\n\n  const itemMatches = xml.match(/<item>[\\s\\S]*?<\\/item>/g) || [];\n  let matchesInSearch = 0;\n  \n  for (const entry of itemMatches) {\n    const guidMatch = entry.match(/<guid[^>]*>([\\s\\S]*?)<\\/guid>/);\n    const linkMatch = entry.match(/<link>([\\s\\S]*?)<\\/link>/);\n    const titleMatch = entry.match(/<title><!\\[CDATA\\[([\\s\\S]*?)\\]\\]><\\/title>/) || entry.match(/<title>([\\s\\S]*?)<\\/title>/);\n    const contentMatch = entry.match(/<content:encoded><!\\[CDATA\\[([\\s\\S]*?)\\]\\]><\\/content:encoded>/) || entry.match(/<content:encoded>([\\s\\S]*?)<\\/content:encoded>/) || entry.match(/<description><!\\[CDATA\\[([\\s\\S]*?)\\]\\]><\\/description>/) || entry.match(/<description>([\\s\\S]*?)<\\/description>/);\n    const pubDateMatch = entry.match(/<pubDate>([\\s\\S]*?)<\\/pubDate>/);\n\n    if (guidMatch || linkMatch) {\n      const id = guidMatch ? guidMatch[1].replace(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/, '$1').trim() : linkMatch[1].trim();\n      const url = linkMatch ? linkMatch[1].trim() : '';\n      const title = titleMatch ? titleMatch[1].trim() : '';\n      let description = contentMatch ? contentMatch[1].trim() : '';\n      \n      description = description.replace(/<[^>]*>/g, '').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&amp;/g, '&');\n      if (!description) description = title;\n\n      const published_at_raw = pubDateMatch ? pubDateMatch[1].trim() : new Date().toISOString();\n      const published_at = new Date(published_at_raw);\n\n      if (published_at >= startDate && published_at < endDate) {\n        matchesInSearch++;\n        results.push({\n          id,\n          search_id,\n          search_name,\n          title,\n          description: description.substring(0, 5000),\n          url,\n          published_at: published_at.toISOString(),\n          processed: 0\n        });\n      }\n    }\n  }\n  console.log(`[Parse Search Results] Search: ${search_name}, matches in date range: ${matchesInSearch}`);\n}\nreturn results;"
      },
      "id": "parse-search-results-xml",
      "name": "Parse Search Results XML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO s_meetup.search_results (id, search_id, search_name, title, description, url, published_at, processed)\nVALUES (\n  '{{ $json.id }}',\n  (SELECT id FROM s_meetup.searches_monitored WHERE name = '{{ $json.search_name }}' LIMIT 1),\n  '{{ $json.search_name }}',\n  '{{ $json.title.replace(/'/g, \"''\") }}',\n  '{{ $json.description.replace(/'/g, \"''\") }}',\n  '{{ $json.url }}',\n  '{{ $json.published_at }}',\n  0\n)\nON CONFLICT (id) \nDO UPDATE SET title = EXCLUDED.title, description = EXCLUDED.description\nRETURNING id, search_id;"
      },
      "id": "insert-search-results",
      "name": "Insert/Upsert Search Results",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        850,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO s_meetup.searches_monitored (id, name, search_url, active)\nSELECT (val->>'id')::integer, val->>'name', val->>'search_url', true\nFROM json_array_elements('{{ JSON.stringify($json.searches || []) }}'::json) AS val\nON CONFLICT (name) \nDO UPDATE SET search_url = EXCLUDED.search_url, active = true;"
      },
      "id": "update-monitored-searches",
      "name": "Update Monitored Searches",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        450,
        150
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Ingestion Date Range Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingestion Date Range Parameters": {
      "main": [
        [
          {
            "node": "Get Active Searches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Searches": {
      "main": [
        [
          {
            "node": "Fetch Search Results RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Monitored Searches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Search Results RSS": {
      "main": [
        [
          {
            "node": "Parse Search Results XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Search Results XML": {
      "main": [
        [
          {
            "node": "Insert/Upsert Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
