src/n8n/workflows/data_ingestion_linkedin.json
{
  "id": "linkedin-ingestion-workflow",
  "name": "Data Ingestion - LinkedIn",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "value": 12
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/rest/memberSnapshotData?q=criteria&domain=MEMBER_SHARE_INFO&count=100",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RestLi-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202312"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-linkedin-posts",
      "name": "Fetch LinkedIn Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "linkedin-member-data-portability-api",
          "name": "LinkedIn Member Data Portability API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = [];\nconst items = $input.all();\n\nfor (const item of items) {\n  const data = item.json;\n  const elements = Array.isArray(data) ? data : (data.elements || [data]);\n\n  for (const element of elements) {\n    // 1. Handle Member Snapshot Data structure (which contains snapshotData array)\n    if (element.snapshotData && Array.isArray(element.snapshotData)) {\n      for (const post of element.snapshotData) {\n        const shareLink = post.ShareLink || '';\n        let id = '';\n        const decoded = decodeURIComponent(shareLink);\n        const match = decoded.match(/(urn:li:[a-zA-Z0-9_]+:[0-9]+)/);\n        if (match) {\n          id = match[1];\n        } else {\n          id = shareLink || Math.random().toString();\n        }\n\n        const content = post.ShareCommentary || '';\n        const url = shareLink;\n        const published_at = post.Date ? new Date(post.Date).toISOString() : new Date().toISOString();\n        const author = 'me';\n\n        results.push({\n          id: id.toString(),\n          author,\n          content,\n          url,\n          published_at,\n          processed: 0\n        });\n      }\n      continue;\n    }\n\n    // 2. Handle original Changelog / direct structure\n    const activity = element.activity || {};\n    const author = activity.author || element.actor || '';\n    const id = element.resourceId || element.id || '';\n    if (!id) continue;\n\n    let content = '';\n    if (activity.specificContent && activity.specificContent['com.linkedin.ugc.ShareContent']) {\n      const shareContent = activity.specificContent['com.linkedin.ugc.ShareContent'];\n      if (shareContent.shareCommentary) {\n        content = shareContent.shareCommentary.text || '';\n      }\n    } else if (activity.specificContent && activity.specificContent['com.linkedin.share.ShareContent']) {\n      const shareContent = activity.specificContent['com.linkedin.share.ShareContent'];\n      if (shareContent.shareCommentary) {\n        content = shareContent.shareCommentary.text || '';\n      }\n    }\n\n    const published_at_ms = (activity.created && activity.created.time) || activity.firstPublishedAt || element.processedAt || element.capturedAt;\n    const published_at = published_at_ms ? new Date(published_at_ms).toISOString() : new Date().toISOString();\n    const url = element.resourceUri ? `https://www.linkedin.com${element.resourceUri}` : '';\n\n    results.push({\n      id: id.toString(),\n      author,\n      content,\n      url,\n      published_at,\n      processed: 0\n    });\n  }\n}\nreturn results;"
      },
      "id": "parse-linkedin-posts",
      "name": "Parse LinkedIn Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO s_linkedin.ugc_posts (id, author, content, url, published_at, processed)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.author.replace(/'/g, \"''\") }}',\n  '{{ $json.content.replace(/'/g, \"''\") }}',\n  '{{ $json.url }}',\n  '{{ $json.published_at }}',\n  0\n)\nON CONFLICT (id) \nDO UPDATE SET content = EXCLUDED.content, author = EXCLUDED.author\nRETURNING id;"
      },
      "id": "insert-posts",
      "name": "Insert/Upsert UGC Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        700,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/rest/memberSnapshotData?q=criteria&domain=SOCIAL_ACTIONS",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RestLi-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202312"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-linkedin-social-actions",
      "name": "Fetch LinkedIn Social Actions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        500
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "linkedin-member-data-portability-api",
          "name": "LinkedIn Member Data Portability API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = [];\nconst items = $input.all();\n\nfor (const item of items) {\n  const data = item.json;\n  const elements = Array.isArray(data) ? data : (data.elements || [data]);\n\n  for (const element of elements) {\n    // 1. Handle Member Snapshot Data structure\n    if (element.snapshotData && Array.isArray(element.snapshotData)) {\n      for (const action of element.snapshotData) {\n        const resourceName = action.resourceName || '';\n        const resourceUri = action.resourceUri || '';\n        const activity = action.activity || {};\n        \n        let action_type = '';\n        let post_id = '';\n        let id = action.resourceId || action.id || '';\n        let content = '';\n        \n        if (resourceName.includes('comments') || resourceUri.includes('comments')) {\n          action_type = 'comment';\n          content = (activity.message && activity.message.text) || '';\n          post_id = activity.object || '';\n          if (!post_id && resourceUri) {\n            const postMatch = resourceUri.match(/\\/socialActions\\/([^/]+)/);\n            if (postMatch) post_id = postMatch[1];\n          }\n        } else if (resourceName.includes('likes') || resourceUri.includes('likes')) {\n          action_type = 'like';\n          post_id = activity.object || '';\n          if (!post_id && resourceUri) {\n            const postMatch = resourceUri.match(/\\/socialActions\\/([^/]+)/);\n            if (postMatch) post_id = postMatch[1];\n          }\n          if (!id) {\n            id = `${post_id}_like_${activity.actor || 'me'}`;\n          }\n        } else {\n          continue;\n        }\n\n        if (post_id) {\n          const urnMatch = decodeURIComponent(post_id).match(/(urn:li:[a-zA-Z0-9_]+:[0-9]+)/);\n          if (urnMatch) post_id = urnMatch[1];\n        }\n\n        const published_at_ms = (activity.created && activity.created.time) || action.processedAt || action.capturedAt;\n        const published_at = published_at_ms ? new Date(published_at_ms).toISOString() : new Date().toISOString();\n        const author = activity.actor || action.actor || 'me';\n\n        results.push({\n          id: id.toString(),\n          post_id: post_id || 'unknown',\n          action_type,\n          author,\n          content,\n          published_at,\n          processed: 0\n        });\n      }\n      continue;\n    }\n\n    // 2. Direct/Changelog structure\n    const resourceName = element.resourceName || '';\n    const resourceUri = element.resourceUri || '';\n    const activity = element.activity || {};\n    \n    let action_type = '';\n    let post_id = '';\n    let id = element.resourceId || element.id || '';\n    let content = '';\n    \n    if (resourceName.includes('comments') || resourceUri.includes('comments')) {\n      action_type = 'comment';\n      content = (activity.message && activity.message.text) || '';\n      post_id = activity.object || '';\n      if (!post_id && resourceUri) {\n        const postMatch = resourceUri.match(/\\/socialActions\\/([^/]+)/);\n        if (postMatch) post_id = postMatch[1];\n      }\n    } else if (resourceName.includes('likes') || resourceUri.includes('likes')) {\n      action_type = 'like';\n      post_id = activity.object || '';\n      if (!post_id && resourceUri) {\n        const postMatch = resourceUri.match(/\\/socialActions\\/([^/]+)/);\n        if (postMatch) post_id = postMatch[1];\n      }\n      if (!id) {\n        id = `${post_id}_like_${activity.actor || 'me'}`;\n      }\n    } else {\n      continue;\n    }\n\n    if (post_id) {\n      const urnMatch = decodeURIComponent(post_id).match(/(urn:li:[a-zA-Z0-9_]+:[0-9]+)/);\n      if (urnMatch) post_id = urnMatch[1];\n    }\n\n    const published_at_ms = (activity.created && activity.created.time) || element.processedAt || element.capturedAt;\n    const published_at = published_at_ms ? new Date(published_at_ms).toISOString() : new Date().toISOString();\n    const author = activity.actor || element.actor || 'me';\n\n    results.push({\n      id: id.toString(),\n      post_id: post_id || 'unknown',\n      action_type,\n      author,\n      content,\n      published_at,\n      processed: 0\n    });\n  }\n}\nreturn results;"
      },
      "id": "parse-linkedin-social-actions",
      "name": "Parse LinkedIn Social Actions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        500
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO s_linkedin.social_actions (id, post_id, action_type, author, content, published_at, processed)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.post_id }}',\n  '{{ $json.action_type }}',\n  '{{ $json.author.replace(/'/g, \"''\") }}',\n  {{ $json.content ? \"'\" + $json.content.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  '{{ $json.published_at }}',\n  0\n)\nON CONFLICT (id) \nDO UPDATE SET content = EXCLUDED.content, author = EXCLUDED.author\nRETURNING id;"
      },
      "id": "insert-social-actions",
      "name": "Insert/Upsert Social Actions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        700,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch LinkedIn Posts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch LinkedIn Social Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch LinkedIn Posts": {
      "main": [
        [
          {
            "node": "Parse LinkedIn Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LinkedIn Posts": {
      "main": [
        [
          {
            "node": "Insert/Upsert UGC Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch LinkedIn Social Actions": {
      "main": [
        [
          {
            "node": "Parse LinkedIn Social Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LinkedIn Social Actions": {
      "main": [
        [
          {
            "node": "Insert/Upsert Social Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
