src/n8n/workflows/data_ingestion_notion.json
{
  "id": "notion-ingestion-workflow",
  "name": "Data Ingestion - Notion",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "value": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [\n  {\n    json: {\n      \"name\": \"Leadership & Management\",\n      \"database_id\": \"b5ad53f72b0e45e3b481e25da2703fd8\"\n    }\n  },\n  {\n    json: {\n      \"name\": \"data science & AI\",\n      \"database_id\": \"1686e98d4ef8806da4e1c28268b7365e\"\n    }\n  },\n  {\n    json: {\n      \"name\": \"Data Science\",\n      \"database_id\": \"4cd9498f5b5c48c6864d57bd36f7f82d\"\n    }\n  },\n  {\n    json: {\n      \"name\": \"data engineering\",\n      \"database_id\": \"32fcdb5f301b4a9c94329dcadeffca15\"\n    }\n  },\n  {\n    json: {\n      \"name\": \"Product Management\",\n      \"database_id\": \"40906fc76abd4951bd4b283c9717d320\"\n    }\n  },\n  {\n    json: {\n      \"name\": \"Product Analytics\",\n      \"database_id\": \"2bdfbb81d5c043d0a5fdd3028ad2504f\"\n    }\n  },\n  {\n    json: {\n      \"name\": \"Software Engineering\",\n      \"database_id\": \"1d362ecd225241c0ab3c0fe4d0ed3cda\"\n    }\n  },\n  {\n    json: {\n      \"name\": \"Business\",\n      \"database_id\": \"2d56e98d4ef8806ba96cca38539b67e1\"\n    }\n  },\n  {\n    json: {\n      \"name\": \"Notes\",\n      \"database_id\": \"a92c79a19c074994baa4c271d02b709c\"\n    }\n  },\n  {\n    json: {\n      \"name\": \"Docs from Vestiaire\",\n      \"database_id\": \"2a86e98d4ef880e29da4f568c14fe98d\"\n    }\n  }\n];"

      },
      "id": "get-active-databases",
      "name": "Get Active Databases",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "={{ $json.database_id }}",
          "mode": "id"
        },
        "simple": false,
        "options": {}
      },
      "id": "fetch-notion-pages",
      "name": "Fetch Notion Pages",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "notion-api-cred",
          "name": "Notion API Credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = [];\nconst items = $input.all();\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  \n  let database_id = '';\n  if (item.json.parent && item.json.parent.type === 'database_id') {\n    database_id = item.json.parent.database_id;\n  }\n  \n  if (!database_id) {\n    try {\n      database_id = $('Get Active Databases').item.json.database_id;\n    } catch (e) {\n      console.log('Could not get database_id from input item:', e.message);\n    }\n  }\n\n  let title = '';\n  if (item.json.properties) {\n    for (const key of Object.keys(item.json.properties)) {\n      const prop = item.json.properties[key];\n      if (prop && prop.type === 'title') {\n        if (prop.title && prop.title.length > 0) {\n          title = prop.title.map(t => t.plain_text).join('');\n        }\n        break;\n      }\n    }\n  }\n  if (!title) {\n    title = item.json.title || item.json.name || 'Untitled';\n  }\n\n  const url = item.json.url || '';\n  const created_time = item.json.createdTime || item.json.created_time || new Date().toISOString();\n  const last_edited_time = item.json.lastEditedTime || item.json.last_edited_time || new Date().toISOString();\n\n  const properties = { ...item.json.properties };\n  const content = JSON.stringify(properties);\n\n  results.push({\n    id: item.json.id,\n    database_id,\n    title,\n    content,\n    url,\n    created_time,\n    last_edited_time\n  });\n}\nreturn results;"
      },
      "id": "parse-notion-pages",
      "name": "Parse Notion Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO s_notion.pages (id, database_id, title, content, url, created_time, last_edited_time, processed)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.database_id }}',\n  '{{ $json.title.replace(/'/g, \"''\") }}',\n  '{{ $json.content.replace(/'/g, \"''\") }}',\n  '{{ $json.url }}',\n  '{{ $json.created_time }}',\n  '{{ $json.last_edited_time }}',\n  0\n)\nON CONFLICT (id) \nDO UPDATE SET \n  title = EXCLUDED.title, \n  content = EXCLUDED.content,\n  last_edited_time = EXCLUDED.last_edited_time\nRETURNING id;"
      },
      "id": "insert-notion-pages",
      "name": "Insert/Upsert Notion Pages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        900,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO s_notion.databases_monitored (database_id, name, active)\nVALUES ('{{ $json.database_id }}', '{{ $json.name }}', true)\nON CONFLICT (database_id) \nDO UPDATE SET name = EXCLUDED.name, active = true;"
      },
      "id": "update-monitored-databases",
      "name": "Update Monitored Databases",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        500,
        150
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Active Databases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Databases": {
      "main": [
        [
          {
            "node": "Fetch Notion Pages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Monitored Databases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Notion Pages": {
      "main": [
        [
          {
            "node": "Parse Notion Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Notion Pages": {
      "main": [
        [
          {
            "node": "Insert/Upsert Notion Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
