src/n8n/workflows/data_ingestion_slack.json
{
  "id": "SlackIngestionWorkflow",
  "name": "Data Ingestion - Slack",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "value": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "start-date-id",
              "name": "start_date",
              "type": "string",
              "value": "={{ $now.minus({ days: 1 }).toFormat('yyyy-MM-dd') }}"
            },
            {
              "id": "end-date-id",
              "name": "end_date",
              "type": "string",
              "value": "={{ $now.plus({ days: 1 }).toFormat('yyyy-MM-dd') }}"
            }
          ]
        }
      },
      "id": "workflow-parameters",
      "name": "Ingestion Date Range Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        250,
        150
      ]
    },
    {
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "slack-channels-parameters",
              "name": "channels",
              "type": "array",
              "value": [
                {
                  "channel_db_id": 1,
                  "channel_id": "C5GQ29DBM",
                  "channel_name": "remote-jobs"
                }
              ]
            }
          ]
        }
      },
      "id": "get-active-slack-channels",
      "name": "Get Active Slack Channels",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return $input.first().json.channels || [];"
      },
      "id": "split-channels",
      "name": "Split Channels",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://slack.com/api/conversations.history",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "={{ $json.channel_id }}"
            },
            {
              "name": "oldest",
              "value": "={{ Math.floor(new Date($('Ingestion Date Range Parameters').first().json.start_date + 'T00:00:00Z').getTime() / 1000) }}"
            },
            {
              "name": "latest",
              "value": "={{ Math.floor(new Date($('Ingestion Date Range Parameters').first().json.end_date + 'T00:00:00Z').getTime() / 1000) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-slack-messages",
      "name": "Fetch Slack Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        650,
        300
      ],
      "credentials": {
        "slackApi": {
          "id": "slack-api-token",
          "name": "Rands Leadership Slack Token"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = [];\nconst items = $input.all();\n\nfor (const item of items) {\n  const channel_db_id = item.pairedItem ? $input.getItem(item.pairedItem.index, 0).json.channel_db_id : 1;\n  const channel_id = item.pairedItem ? $input.getItem(item.pairedItem.index, 0).json.channel_id : 'C5GQ29DBM';\n  \n  const messages = item.json.messages || [];\n  for (const msg of messages) {\n    if (msg.subtype && msg.subtype !== 'bot_message') continue;\n    \n    const messageId = `${channel_id}_${msg.ts}`;\n    const created_at = new Date(parseFloat(msg.ts) * 1000).toISOString();\n    const cleanTs = msg.ts.replace('.', '');\n    const url = `https://slack.com/archives/${channel_id}/p${cleanTs}`;\n\n    results.push({\n      id: messageId,\n      channel_db_id: channel_db_id,\n      author: msg.user || msg.bot_id || 'unknown',\n      content: msg.text || '',\n      url: url,\n      created_at: created_at,\n      processed: 0\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "parse-slack-messages",
      "name": "Parse Slack Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO slack_messages (id, channel_db_id, author, content, url, created_at, processed)\nVALUES (\n  '{{ $json.id }}',\n  {{ $json.channel_db_id }},\n  '{{ $json.author.replace(/'/g, \"''\") }}',\n  '{{ $json.content.replace(/'/g, \"''\") }}',\n  '{{ $json.url }}',\n  '{{ $json.created_at }}',\n  0\n)\nON CONFLICT (id) \nDO NOTHING\nRETURNING id;"
      },
      "id": "insert-slack-messages",
      "name": "Insert Slack Messages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1050,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Ingestion Date Range Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingestion Date Range Parameters": {
      "main": [
        [
          {
            "node": "Get Active Slack Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Slack Channels": {
      "main": [
        [
          {
            "node": "Split Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Channels": {
      "main": [
        [
          {
            "node": "Fetch Slack Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Slack Messages": {
      "main": [
        [
          {
            "node": "Parse Slack Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Slack Messages": {
      "main": [
        [
          {
            "node": "Insert Slack Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
