src/n8n/workflows/reddit_workflow.json
{
  "id": "R3dd1tIng3st1onx",
  "name": "Reddit Data Ingestion",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "value": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name FROM reddit_subreddits_monitored WHERE active = true;"
      },
      "id": "get-active-subreddits",
      "name": "Get Active Subreddits",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        300,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst subredditName = $json.name;\nconst subredditId = $json.id;\n\ntry {\n  const xml = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://www.reddit.com/r/${subredditName}/new.rss`,\n    headers: {\n      'User-Agent': 'Jager/1.0 (by /u/jager_developer)'\n    }\n  });\n\n  const entryMatches = xml.match(/<entry>[\\s\\S]*?<\\/entry>/g) || [];\n  for (const entry of entryMatches) {\n    const idMatch = entry.match(/<id>([^<]+)<\\/id>/);\n    const authorMatch = entry.match(/<author>[\\s\\S]*?<name>([^<]+)<\\/name>[\\s\\S]*?<\\/author>/);\n    const titleMatch = entry.match(/<title>([^<]+)<\\/title>/);\n    const contentMatch = entry.match(/<content[^>]*>([\\s\\S]*?)<\\/content>/);\n    const linkMatch = entry.match(/<link\\s+href=\"([^\"]+)\"/);\n    const updatedMatch = entry.match(/<updated>([^<]+)<\\/updated>/);\n\n    if (idMatch) {\n      let id = idMatch[1].trim();\n      if (id.includes('/')) {\n        id = id.split('/').pop();\n      }\n      let author = authorMatch ? authorMatch[1].trim() : 'unknown';\n      if (author.startsWith('/u/')) {\n        author = author.substring(3);\n      }\n      const title = titleMatch ? titleMatch[1].trim() : '';\n      let content = contentMatch ? contentMatch[1].trim() : '';\n      content = content.replace(/<[^>]*>/g, '').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&amp;/g, '&');\n      if (!content) content = title;\n\n      const url = linkMatch ? linkMatch[1] : null;\n      const created_at = updatedMatch ? updatedMatch[1] : new Date().toISOString();\n\n      results.push({\n        id,\n        subreddit_id: subredditId,\n        author,\n        title,\n        content: content.substring(0, 5000),\n        url,\n        score: 0,\n        created_at\n      });\n    }\n  }\n} catch (error) {\n  console.error(`Error fetching subreddit ${subredditName}:`, error);\n}\n\nreturn results;"
      },
      "id": "fetch-parse-posts",
      "name": "Fetch & Parse Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO reddit_posts (id, subreddit_id, author, title, content, url, score, created_at, processed)\nVALUES (\n  '{{ $json.id }}',\n  {{ $json.subreddit_id }},\n  '{{ $json.author.replace(/'/g, \"''\") }}',\n  '{{ $json.title.replace(/'/g, \"''\") }}',\n  '{{ $json.content.replace(/'/g, \"''\") }}',\n  '{{ $json.url }}',\n  {{ $json.score }},\n  '{{ $json.created_at }}',\n  0\n)\nON CONFLICT (id) \nDO UPDATE SET score = EXCLUDED.score\nRETURNING id, subreddit_id;"
      },
      "id": "insert-posts",
      "name": "Insert/Upsert Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        700,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst postId = $json.id;\nconst cleanId = postId.split('_')[1] || postId;\n\ntry {\n  const xml = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://www.reddit.com/comments/${cleanId}/.rss`,\n    headers: {\n      'User-Agent': 'Jager/1.0 (by /u/jager_developer)'\n    }\n  });\n\n  const entryMatches = xml.match(/<entry>[\\s\\S]*?<\\/entry>/g) || [];\n  for (const entry of entryMatches) {\n    const idMatch = entry.match(/<id>([^<]+)<\\/id>/);\n    const authorMatch = entry.match(/<author>[\\s\\S]*?<name>([^<]+)<\\/name>[\\s\\S]*?<\\/author>/);\n    const contentMatch = entry.match(/<content[^>]*>([\\s\\S]*?)<\\/content>/);\n    const updatedMatch = entry.match(/<updated>([^<]+)<\\/updated>/);\n\n    if (idMatch) {\n      let id = idMatch[1].trim();\n      if (id.includes('/')) {\n        id = id.split('/').pop();\n      }\n      if (!id.startsWith('t1_')) {\n        continue;\n      }\n      let author = authorMatch ? authorMatch[1].trim() : 'unknown';\n      if (author.startsWith('/u/')) {\n        author = author.substring(3);\n      }\n      let content = contentMatch ? contentMatch[1].trim() : '';\n      content = content.replace(/<[^>]*>/g, '').replace(/&lt;/g, '<').replace(/&gt;/g, '>');\n      const created_at = updatedMatch ? updatedMatch[1] : new Date().toISOString();\n\n      results.push({\n        id,\n        post_id: postId,\n        author,\n        content: content.substring(0, 5000),\n        score: 0,\n        created_at\n      });\n    }\n  }\n} catch (error) {\n  console.error(`Error fetching comments for post ${postId}:`, error);\n}\n\nreturn results;"
      },
      "id": "fetch-parse-comments",
      "name": "Fetch & Parse Comments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO reddit_comments (id, post_id, author, content, score, created_at)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.post_id }}',\n  '{{ $json.author.replace(/'/g, \"''\") }}',\n  '{{ $json.content.replace(/'/g, \"''\") }}',\n  {{ $json.score }},\n  '{{ $json.created_at }}'\n)\nON CONFLICT (id) \nDO UPDATE SET score = EXCLUDED.score;"
      },
      "id": "insert-comments",
      "name": "Insert/Upsert Comments",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1100,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Active Subreddits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Subreddits": {
      "main": [
        [
          {
            "node": "Fetch & Parse Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch & Parse Posts": {
      "main": [
        [
          {
            "node": "Insert/Upsert Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert/Upsert Posts": {
      "main": [
        [
          {
            "node": "Fetch & Parse Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch & Parse Comments": {
      "main": [
        [
          {
            "node": "Insert/Upsert Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}