src/n8n/workflows/reddit_workflow.json
{
  "id": "R3dd1tIng3st1onx",
  "name": "Reddit Data Ingestion",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "value": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "7a356dbb-1a52-4752-9bc5-c4d62b9f3900",
              "name": "start_date",
              "type": "string",
              "value": "={{ $now.minus({ days: 1 }).toFormat('yyyy-MM-dd') }}"
            },
            {
              "id": "8b467ecc-2b63-5863-0cd6-d5e73ca04a11",
              "name": "end_date",
              "type": "string",
              "value": "={{ $now.plus({ days: 0 }).toFormat('yyyy-MM-dd') }}"
            }
          ]
        }
      },
      "id": "workflow-parameters",
      "name": "Workflow Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        250,
        150
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name FROM reddit_subreddits_monitored WHERE active = true;"
      },
      "id": "get-active-subreddits",
      "name": "Get Active Subreddits",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        250,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const https = require('https');\n\nfunction fetchRSS(url) {\n  return new Promise((resolve, reject) => {\n    const options = {\n      headers: {\n        'User-Agent': 'Jager/1.0 (by /u/jager_developer)'\n      }\n    };\n    https.get(url, options, (res) => {\n      let data = '';\n      res.on('data', (chunk) => { data += chunk; });\n      res.on('end', () => {\n        if (res.statusCode === 200) {\n          resolve(data);\n        } else {\n          reject(new Error(`Status ${res.statusCode}`));\n        }\n      });\n    }).on('error', reject);\n  });\n}\n\nconst results = [];\nconst items = $input.all();\n\n// Read target date range from Workflow Parameters node via standard lookup\nlet startDateStr, endDateStr;\ntry {\n  startDateStr = $('Workflow Parameters').first().json.start_date;\n  endDateStr = $('Workflow Parameters').first().json.end_date;\n} catch (e) {\n  console.log('[Fetch & Parse Posts] Could not read date range from Workflow Parameters:', e.message);\n}\n\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst today = new Date();\n\nlet startDate = startDateStr ? new Date(startDateStr + 'T00:00:00Z') : yesterday;\nlet endDate = endDateStr ? new Date(endDateStr + 'T00:00:00Z') : today;\n\nif (isNaN(startDate.getTime())) {\n  startDate = yesterday;\n}\nif (isNaN(endDate.getTime())) {\n  endDate = today;\n}\n\nconsole.log(`[Fetch & Parse Posts] Input items count: ${items.length}`);\nconsole.log(`[Fetch & Parse Posts] Parsed date range objects: ${startDate.toISOString()} to ${endDate.toISOString()}`);\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i].json;\n  const subredditName = item.name;\n  const subredditId = item.id;\n  console.log(`[Fetch & Parse Posts] Processing subreddit: ${subredditName} (ID: ${subredditId})`);\n\n  // Sequential delay to completely avoid parallel/concurrent request 429 blocks\n  if (i > 0) {\n    await new Promise(resolve => setTimeout(resolve, 1000));\n  }\n\n  try {\n    const xml = await fetchRSS(`https://www.reddit.com/r/${subredditName}/new.rss`);\n    const entryMatches = xml.match(/<entry>[\\s\\S]*?<\\/entry>/g) || [];\n    console.log(`[Fetch & Parse Posts] Subreddit: ${subredditName}, fetched XML length: ${xml.length}, entries found: ${entryMatches.length}`);\n    let matchesInSubreddit = 0;\n    for (const entry of entryMatches) {\n      const idMatch = entry.match(/<id>([^<]+)<\\/id>/);\n      const authorMatch = entry.match(/<author>[\\s\\S]*?<name>([^<]+)<\\/name>[\\s\\S]*?<\\/author>/);\n      const titleMatch = entry.match(/<title>([^<]+)<\\/title>/);\n      const contentMatch = entry.match(/<content[^>]*>([\\s\\S]*?)<\\/content>/);\n      const linkMatch = entry.match(/<link\\s+href=\"([^\"]+)\"/);\n      const updatedMatch = entry.match(/<updated>([^<]+)<\\/updated>/);\n\n      if (idMatch) {\n        let id = idMatch[1].trim();\n        if (id.includes('/')) {\n          id = id.split('/').pop();\n        }\n        let author = authorMatch ? authorMatch[1].trim() : 'unknown';\n        if (author.startsWith('/u/')) {\n          author = author.substring(3);\n        }\n        const title = titleMatch ? titleMatch[1].trim() : '';\n        let content = contentMatch ? contentMatch[1].trim() : '';\n        content = content.replace(/<[^>]*>/g, '').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&amp;/g, '&');\n        if (!content) content = title;\n\n        const url = linkMatch ? linkMatch[1] : null;\n        const created_at = updatedMatch ? updatedMatch[1] : new Date().toISOString();\n\n        // Filter by date range\n        const postDate = new Date(created_at);\n        if (postDate >= startDate && postDate < endDate) {\n          matchesInSubreddit++;\n          results.push({\n            id,\n            subreddit_id: subredditId,\n            author,\n            title,\n            content: content.substring(0, 5000),\n            url,\n            score: 0,\n            created_at,\n            processed: 0\n          });\n        }\n      }\n    }\n    console.log(`[Fetch & Parse Posts] Subreddit: ${subredditName}, matches in date range: ${matchesInSubreddit}`);\n  } catch (error) {\n    console.error(`[Fetch & Parse Posts] Error fetching subreddit ${subredditName}:`, error.message);\n  }\n}\n\nconsole.log(`[Fetch & Parse Posts] Completed. Returning total results: ${results.length}`);\nreturn results;"
      },
      "id": "fetch-parse-posts",
      "name": "Fetch & Parse Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO reddit_posts (id, subreddit_id, author, title, content, url, score, created_at, processed)\nVALUES (\n  '{{ $json.id }}',\n  {{ $json.subreddit_id }},\n  '{{ $json.author.replace(/'/g, \"''\") }}',\n  '{{ $json.title.replace(/'/g, \"''\") }}',\n  '{{ $json.content.replace(/'/g, \"''\") }}',\n  '{{ $json.url }}',\n  {{ $json.score }},\n  '{{ $json.created_at }}',\n  0\n)\nON CONFLICT (id) \nDO UPDATE SET score = EXCLUDED.score\nRETURNING id, subreddit_id;"
      },
      "id": "insert-posts",
      "name": "Insert/Upsert Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        650,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id FROM reddit_posts WHERE processed = 0 AND created_at >= '{{ $('Workflow Parameters').first().json.start_date || $now.minus({ days: 1 }).toFormat('yyyy-MM-dd') }} 00:00:00+00' AND created_at < '{{ $('Workflow Parameters').first().json.end_date || $now.toFormat('yyyy-MM-dd') }} 00:00:00+00';"
      },
      "id": "get-unprocessed-posts",
      "name": "Get Unprocessed Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        850,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const https = require('https');\n\nfunction fetchRSS(url) {\n  return new Promise((resolve, reject) => {\n    const options = {\n      headers: {\n        'User-Agent': 'Jager/1.0 (by /u/jager_developer)'\n      }\n    };\n    https.get(url, options, (res) => {\n      let data = '';\n      res.on('data', (chunk) => { data += chunk; });\n      res.on('end', () => {\n        if (res.statusCode === 200) {\n          resolve(data);\n        } else {\n          reject(new Error(`Status ${res.statusCode}`));\n        }\n      });\n    }).on('error', reject);\n  });\n}\n\nconst results = [];\nconst items = $input.all();\nconst batchSize = 10;\n\nfor (let i = 0; i < items.length; i += batchSize) {\n  const batch = items.slice(i, i + batchSize);\n  \n  const promises = batch.map(async (item) => {\n    const postId = item.json.id;\n    const cleanId = postId.split('_')[1] || postId;\n    try {\n      const xml = await fetchRSS(`https://www.reddit.com/comments/${cleanId}/.rss`);\n      const entryMatches = xml.match(/<entry>[\\s\\S]*?<\\/entry>/g) || [];\n      for (const entry of entryMatches) {\n        const idMatch = entry.match(/<id>([^<]+)<\\/id>/);\n        const authorMatch = entry.match(/<author>[\\s\\S]*?<name>([^<]+)<\\/name>[\\s\\S]*?<\\/author>/);\n        const contentMatch = entry.match(/<content[^>]*>([\\s\\S]*?)<\\/content>/);\n        const updatedMatch = entry.match(/<updated>([^<]+)<\\/updated>/);\n\n        if (idMatch) {\n          let id = idMatch[1].trim();\n          if (id.includes('/')) {\n            id = id.split('/').pop();\n          }\n          if (!id.startsWith('t1_')) {\n            continue;\n          }\n          let author = authorMatch ? authorMatch[1].trim() : 'unknown';\n          if (author.startsWith('/u/')) {\n            author = author.substring(3);\n          }\n          let content = contentMatch ? contentMatch[1].trim() : '';\n          content = content.replace(/<[^>]*>/g, '').replace(/&lt;/g, '<').replace(/&gt;/g, '>');\n          const created_at = updatedMatch ? updatedMatch[1] : new Date().toISOString();\n\n          results.push({\n            id,\n            post_id: postId,\n            author,\n            content: content.substring(0, 5000),\n            score: 0,\n            created_at\n          });\n        }\n      }\n    } catch (error) {\n      console.error(`Error fetching comments for post ${postId}:`, error.message);\n    }\n  });\n\n  await Promise.all(promises);\n\n  // Rate-limit friendly delay: 1 second between batches\n  if (i + batchSize < items.length) {\n    await new Promise(resolve => setTimeout(resolve, 1000));\n  }\n}\n\nreturn results;"
      },
      "id": "fetch-parse-comments",
      "name": "Fetch & Parse Comments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO reddit_comments (id, post_id, author, content, score, created_at)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.post_id }}',\n  '{{ $json.author.replace(/'/g, \"''\") }}',\n  '{{ $json.content.replace(/'/g, \"''\") }}',\n  {{ $json.score }},\n  '{{ $json.created_at }}'\n)\nON CONFLICT (id) \nDO UPDATE SET score = EXCLUDED.score;"
      },
      "id": "insert-comments",
      "name": "Insert/Upsert Comments",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1250,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE reddit_posts SET processed = 1 WHERE id = '{{ $json.id }}';"
      },
      "id": "mark-posts-processed",
      "name": "Mark Posts as Processed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1050,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Workflow Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Parameters": {
      "main": [
        [
          {
            "node": "Get Active Subreddits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Subreddits": {
      "main": [
        [
          {
            "node": "Fetch & Parse Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch & Parse Posts": {
      "main": [
        [
          {
            "node": "Insert/Upsert Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert/Upsert Posts": {
      "main": [
        [
          {
            "node": "Get Unprocessed Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unprocessed Posts": {
      "main": [
        [
          {
            "node": "Fetch & Parse Comments",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark Posts as Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch & Parse Comments": {
      "main": [
        [
          {
            "node": "Insert/Upsert Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}