src/n8n/workflows/ai_retrieval/helpers/slack_approval_callback.json
{
  "id": "SlackApprovalCallback",
  "name": "Slack Approval Callback",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-interactive-approval",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nlet payload = {};\nif (typeof body.payload === 'string') {\n  payload = JSON.parse(body.payload);\n} else if (body.payload) {\n  payload = body.payload;\n}\n\nconst actionObj = payload.actions?.[0] || {};\nconst actionValue = actionObj.value || '';\nconst parts = actionValue.split(':');\nconst action = parts[0] || 'unknown';\nconst postId = parts[1] ? parseInt(parts[1], 10) : null;\nconst responseUrl = payload.response_url || '';\n\nreturn [{\n  json: {\n    action,\n    postId,\n    responseUrl,\n    user: payload.user?.name || 'Unknown User'\n  }\n}];"
      },
      "id": "parse-slack-payload",
      "name": "Parse Slack Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE t_content_generation.linkedin_posts\nSET status = '{{ $json.action === \"approve\" ? \"approved\" : \"rejected\" }}',\n    is_approved = {{ $json.action === \"approve\" ? \"TRUE\" : \"FALSE\" }},\n    updated_at = NOW()\nWHERE id = {{ $json.postId }}\nRETURNING id, status, content;",
        "options": {}
      },
      "id": "update-post-status",
      "name": "Update Post Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        540,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Slack Payload').first().json.responseUrl }}",
        "sendHeaders": true,
        "headersUi": {
          "values": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"text\": \"Post updated!\", \"replace_original\": true, \"blocks\": [{\"type\": \"section\", \"text\": {\"type\": \"mrkdwn\", \"text\": \"Post ID *{{ $json.id }}* was *{{ $json.status === 'approved' ? 'Approved ✅' : 'Rejected ❌' }}* by {{ $('Parse Slack Payload').first().json.user }}.\\n\\n*Content preview:*\\n```\\n{{ $json.content.substring(0, 150) }}...\\n```\"}}]}"
      },
      "id": "update-slack-message",
      "name": "Update Slack Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        760,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse Slack Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Slack Payload": {
      "main": [
        [
          {
            "node": "Update Post Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Post Status": {
      "main": [
        [
          {
            "node": "Update Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
