src/n8n/workflows/ai_memory/ai_memory_distillion_staging.json
{
  "id": "AiMemoryDistillionStaging",
  "name": "AI Memory Distillion - Staging",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "value": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -150,
        300
      ]
    },
    {
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "start-date-uuid",
              "name": "start_date",
              "type": "string",
              "value": "={{ $now.minus({ days: 1 }).toISO() }}"
            }
          ]
        }
      },
      "id": "workflow-parameters",
      "name": "Ingestion Date Range Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id, database_id, title, content, url, created_time, last_edited_time FROM s_notion.pages WHERE last_edited_time >= '{{ $('Ingestion Date Range Parameters').first().json.start_date }}' OR created_time >= '{{ $('Ingestion Date Range Parameters').first().json.start_date }}';"
      },
      "id": "get-unprocessed-raw-notion",
      "name": "Get Unprocessed Raw Notion",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        220,
        150
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id, feed_id, feed_name, author, title, content, url, published_at FROM s_substack.posts WHERE published_at >= '{{ $('Ingestion Date Range Parameters').first().json.start_date }}';"
      },
      "id": "get-unprocessed-raw-substack",
      "name": "Get Unprocessed Raw Substack",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        220,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id, author, content, url, published_at FROM s_linkedin.ugc_posts WHERE published_at >= '{{ $('Ingestion Date Range Parameters').first().json.start_date }}';"
      },
      "id": "get-unprocessed-raw-linkedin",
      "name": "Get Unprocessed Raw LinkedIn",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        220,
        450
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const crypto = require('crypto');\nconst results = [];\nconst items = $input.all();\n\nfor (const item of items) {\n  const data = item.json;\n  const content = data.content || '';\n  const cleaned_content = content.replace(/\\s+/g, ' ').trim();\n  const content_hash = crypto.createHash('sha256').update(cleaned_content).digest('hex');\n  \n  results.push({\n    json: {\n      ...data,\n      cleaned_content,\n      content_hash\n    }\n  });\n}\nreturn results;"
      },
      "id": "clean-notion-content",
      "name": "Clean Notion Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        150
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const crypto = require('crypto');\nconst results = [];\nconst items = $input.all();\n\nfor (const item of items) {\n  const data = item.json;\n  const content = data.content || '';\n  const cleaned_content = content.replace(/\\s+/g, ' ').trim();\n  const content_hash = crypto.createHash('sha256').update(cleaned_content).digest('hex');\n  \n  results.push({\n    json: {\n      ...data,\n      cleaned_content,\n      content_hash\n    }\n  });\n}\nreturn results;"
      },
      "id": "clean-substack-content",
      "name": "Clean Substack Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const crypto = require('crypto');\nconst results = [];\nconst items = $input.all();\n\nfor (const item of items) {\n  const data = item.json;\n  const content = data.content || '';\n  const cleaned_content = content.replace(/\\s+/g, ' ').trim();\n  const content_hash = crypto.createHash('sha256').update(cleaned_content).digest('hex');\n  \n  results.push({\n    json: {\n      ...data,\n      cleaned_content,\n      content_hash\n    }\n  });\n}\nreturn results;"
      },
      "id": "clean-linkedin-content",
      "name": "Clean LinkedIn Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        450
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "={{ $env.OLLAMA_CLOUD_MODEL || 'gemma4:31b' }}",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyze the following text and return a JSON object with a categorization and an executive summary:\n{\n  \"category\": \"One of: Software Engineering, AI / ML, Business Strategy, Data Science & Engineering, Product Management, Career & Growth, Other\",\n  \"executive_summary\": {\n    \"summary\": \"A concise 1-2 sentence executive summary.\",\n    \"key_takeaways\": [\"Key takeaway point 1\", \"Key takeaway point 2\"],\n    \"action_items\": [\"Action item 1\", \"Action item 2\"]\n  }\n}\n\nText:\n{{ $json.cleaned_content }}"
            }
          ]
        },
        "options": {
          "format": "json"
        }
      },
      "id": "categorize-notion",
      "name": "Categorize & Summarize Notion",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        620,
        150
      ],
      "credentials": {
        "ollamaApi": {
          "id": "ollama-cloud-api",
          "name": "Ollama Cloud API"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "={{ $env.OLLAMA_CLOUD_MODEL || 'gemma4:31b' }}",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyze the following text and return a JSON object with a categorization and an executive summary:\n{\n  \"category\": \"One of: Software Engineering, AI / ML, Business Strategy, Data Science & Engineering, Product Management, Career & Growth, Other\",\n  \"executive_summary\": {\n    \"summary\": \"A concise 1-2 sentence executive summary.\",\n    \"key_takeaways\": [\"Key takeaway point 1\", \"Key takeaway point 2\"],\n    \"action_items\": [\"Action item 1\", \"Action item 2\"]\n  }\n}\n\nText:\n{{ $json.cleaned_content }}"
            }
          ]
        },
        "options": {
          "format": "json"
        }
      },
      "id": "categorize-substack",
      "name": "Categorize & Summarize Substack",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        620,
        300
      ],
      "credentials": {
        "ollamaApi": {
          "id": "ollama-cloud-api",
          "name": "Ollama Cloud API"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "={{ $env.OLLAMA_CLOUD_MODEL || 'gemma4:31b' }}",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyze the following text and return a JSON object with a categorization and an executive summary:\n{\n  \"category\": \"One of: Software Engineering, AI / ML, Business Strategy, Data Science & Engineering, Product Management, Career & Growth, Other\",\n  \"executive_summary\": {\n    \"summary\": \"A concise 1-2 sentence executive summary.\",\n    \"key_takeaways\": [\"Key takeaway point 1\", \"Key takeaway point 2\"],\n    \"action_items\": [\"Action item 1\", \"Action item 2\"]\n  }\n}\n\nText:\n{{ $json.cleaned_content }}"
            }
          ]
        },
        "options": {
          "format": "json"
        }
      },
      "id": "categorize-linkedin",
      "name": "Categorize & Summarize LinkedIn",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        620,
        450
      ],
      "credentials": {
        "ollamaApi": {
          "id": "ollama-cloud-api",
          "name": "Ollama Cloud API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = [];\nconst currentItems = $input.all();\nconst originalItems = $('Clean Notion Content').all();\nfor (let i = 0; i < currentItems.length; i++) {\n  const current = currentItems[i].json;\n  const original = originalItems[i].json;\n  let category = 'Other';\n  let executive_summary = {};\n  const raw = current.response || current.content || '';\n  let jsonStr = raw.trim();\n  const firstBrace = jsonStr.indexOf('{');\n  const lastBrace = jsonStr.lastIndexOf('}');\n  if (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) {\n    jsonStr = jsonStr.substring(firstBrace, lastBrace + 1);\n  }\n  jsonStr = jsonStr.replace(/[\\u201C\\u201D\\u201E\\u201F\\u2033\\u2036]/g, '\"');\n  try {\n    const parsed = JSON.parse(jsonStr);\n    category = parsed.category || 'Other';\n    executive_summary = parsed.executive_summary || {};\n  } catch (e) {\n    if (raw) category = raw.trim().substring(0, 50);\n  }\n  results.push({\n    json: {\n      ...original,\n      category,\n      executive_summary: JSON.stringify(executive_summary)\n    }\n  });\n}\nreturn results;"
      },
      "id": "merge-notion-category",
      "name": "Merge Notion Category",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        150
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = [];\nconst currentItems = $input.all();\nconst originalItems = $('Clean Substack Content').all();\nfor (let i = 0; i < currentItems.length; i++) {\n  const current = currentItems[i].json;\n  const original = originalItems[i].json;\n  let category = 'Other';\n  let executive_summary = {};\n  const raw = current.response || current.content || '';\n  let jsonStr = raw.trim();\n  const firstBrace = jsonStr.indexOf('{');\n  const lastBrace = jsonStr.lastIndexOf('}');\n  if (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) {\n    jsonStr = jsonStr.substring(firstBrace, lastBrace + 1);\n  }\n  jsonStr = jsonStr.replace(/[\\u201C\\u201D\\u201E\\u201F\\u2033\\u2036]/g, '\"');\n  try {\n    const parsed = JSON.parse(jsonStr);\n    category = parsed.category || 'Other';\n    executive_summary = parsed.executive_summary || {};\n  } catch (e) {\n    if (raw) category = raw.trim().substring(0, 50);\n  }\n  results.push({\n    json: {\n      ...original,\n      category,\n      executive_summary: JSON.stringify(executive_summary)\n    }\n  });\n}\nreturn results;"
      },
      "id": "merge-substack-category",
      "name": "Merge Substack Category",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = [];\nconst currentItems = $input.all();\nconst originalItems = $('Clean LinkedIn Content').all();\nfor (let i = 0; i < currentItems.length; i++) {\n  const current = currentItems[i].json;\n  const original = originalItems[i].json;\n  let category = 'Other';\n  let executive_summary = {};\n  const raw = current.response || current.content || '';\n  let jsonStr = raw.trim();\n  const firstBrace = jsonStr.indexOf('{');\n  const lastBrace = jsonStr.lastIndexOf('}');\n  if (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) {\n    jsonStr = jsonStr.substring(firstBrace, lastBrace + 1);\n  }\n  jsonStr = jsonStr.replace(/[\\u201C\\u201D\\u201E\\u201F\\u2033\\u2036]/g, '\"');\n  try {\n    const parsed = JSON.parse(jsonStr);\n    category = parsed.category || 'Other';\n    executive_summary = parsed.executive_summary || {};\n  } catch (e) {\n    if (raw) category = raw.trim().substring(0, 50);\n  }\n  results.push({\n    json: {\n      ...original,\n      category,\n      executive_summary: JSON.stringify(executive_summary)\n    }\n  });\n}\nreturn results;"
      },
      "id": "merge-linkedin-category",
      "name": "Merge LinkedIn Category",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        450
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO m_staging.notion_pages (id, database_id, title, content, cleaned_content, category, executive_summary, content_hash, created_time, last_edited_time, processed)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.database_id }}',\n  '{{ $json.title.replace(/'/g, \"''\") }}',\n  '{{ $json.content.replace(/'/g, \"''\") }}',\n  '{{ $json.cleaned_content.replace(/'/g, \"''\") }}',\n  '{{ $json.category }}',\n  '{{ $json.executive_summary.replace(/'/g, \"''\") }}'::jsonb,\n  '{{ $json.content_hash }}',\n  '{{ $json.created_time }}',\n  '{{ $json.last_edited_time }}',\n  0\n)\nON CONFLICT (content_hash) \nDO UPDATE SET \n  title = EXCLUDED.title, \n  content = EXCLUDED.content, \n  cleaned_content = EXCLUDED.cleaned_content, \n  category = EXCLUDED.category, \n  executive_summary = EXCLUDED.executive_summary, \n  content_hash = EXCLUDED.content_hash, \n  last_edited_time = EXCLUDED.last_edited_time\nRETURNING id;"
      },
      "id": "stage-notion-pages",
      "name": "Stage Notion Pages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1020,
        150
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO m_staging.substack_posts (id, feed_id, feed_name, author, title, content, cleaned_content, category, executive_summary, content_hash, published_at, processed)\nVALUES (\n  '{{ $json.id }}',\n  {{ $json.feed_id || 'NULL' }},\n  '{{ $json.feed_name.replace(/'/g, \"''\") }}',\n  '{{ $json.author.replace(/'/g, \"''\") }}',\n  '{{ $json.title.replace(/'/g, \"''\") }}',\n  '{{ $json.content.replace(/'/g, \"''\") }}',\n  '{{ $json.cleaned_content.replace(/'/g, \"''\") }}',\n  '{{ $json.category }}',\n  '{{ $json.executive_summary.replace(/'/g, \"''\") }}'::jsonb,\n  '{{ $json.content_hash }}',\n  '{{ $json.published_at }}',\n  0\n)\nON CONFLICT (content_hash) \nDO UPDATE SET \n  title = EXCLUDED.title, \n  content = EXCLUDED.content,\n  cleaned_content = EXCLUDED.cleaned_content,\n  category = EXCLUDED.category,\n  executive_summary = EXCLUDED.executive_summary,\n  content_hash = EXCLUDED.content_hash\nRETURNING id;"
      },
      "id": "stage-substack-posts",
      "name": "Stage Substack Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1020,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO m_staging.linkedin_posts (id, author, content, cleaned_content, category, executive_summary, content_hash, published_at, processed)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.author.replace(/'/g, \"''\") }}',\n  '{{ $json.content.replace(/'/g, \"''\") }}',\n  '{{ $json.cleaned_content.replace(/'/g, \"''\") }}',\n  '{{ $json.category }}',\n  '{{ $json.executive_summary.replace(/'/g, \"''\") }}'::jsonb,\n  '{{ $json.content_hash }}',\n  '{{ $json.published_at }}',\n  0\n)\nON CONFLICT (content_hash) \nDO UPDATE SET \n  content = EXCLUDED.content,\n  cleaned_content = EXCLUDED.cleaned_content,\n  category = EXCLUDED.category,\n  executive_summary = EXCLUDED.executive_summary,\n  content_hash = EXCLUDED.content_hash\nRETURNING id;"
      },
      "id": "stage-linkedin-posts",
      "name": "Stage LinkedIn Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1020,
        450
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-db",
          "name": "postgres Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Ingestion Date Range Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingestion Date Range Parameters": {
      "main": [
        [
          {
            "node": "Get Unprocessed Raw Notion",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Unprocessed Raw Substack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Unprocessed Raw LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unprocessed Raw Notion": {
      "main": [
        [
          {
            "node": "Clean Notion Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Notion Content": {
      "main": [
        [
          {
            "node": "Categorize & Summarize Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Categorize & Summarize Notion": {
      "main": [
        [
          {
            "node": "Merge Notion Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Notion Category": {
      "main": [
        [
          {
            "node": "Stage Notion Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unprocessed Raw Substack": {
      "main": [
        [
          {
            "node": "Clean Substack Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Substack Content": {
      "main": [
        [
          {
            "node": "Categorize & Summarize Substack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Categorize & Summarize Substack": {
      "main": [
        [
          {
            "node": "Merge Substack Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Substack Category": {
      "main": [
        [
          {
            "node": "Stage Substack Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unprocessed Raw LinkedIn": {
      "main": [
        [
          {
            "node": "Clean LinkedIn Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean LinkedIn Content": {
      "main": [
        [
          {
            "node": "Categorize & Summarize LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Categorize & Summarize LinkedIn": {
      "main": [
        [
          {
            "node": "Merge LinkedIn Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge LinkedIn Category": {
      "main": [
        [
          {
            "node": "Stage LinkedIn Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
